#include "meson.dtsi"
#include <dt-bindings/clock/meson8.h>
#include <dt-bindings/reset/aml_meson8m2_gate.h>
/ {
	model = "Amlogic Meson8 SoC";
	compatible = "amlogic,meson8";

	interrupt-parent = <&gic>;

	  cpus {
        #address-cells = <1>;
        #size-cells = <0>;

        cpu@0 {
		device_type = "cpu";
		compatible = "arm,cortex-a9";
		reg = <0x200>;
		timer=<&timer_f>;
        };
        cpu@1 {
		device_type = "cpu";
		compatible = "arm,cortex-a9";
		reg = <0x1>;
		timer=<&timer_g>;
        };
        cpu@2 {
		device_type = "cpu";
		compatible = "arm,cortex-a9";
		reg = <0x2>;
		timer=<&timer_h>;
        };
        cpu@3 {
		device_type = "cpu";
		compatible = "arm,cortex-a9";
		reg = <0x3>;
		timer=<&timer_i>;
        };
    };

	timer{
		compatible = "arm,meson-timer";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		reg=   <0xc1109990 4 0xc1109954 4>;
		timer_f:timer-f{
			timer_name="MESON TIMER-F";
			clockevent-rating=<300>;
			clockevent-shift=<20>;
			clockevent-features=<0x03>;
			interrupts = <0 60 0>;
			bit_enable=<16>;
			bit_mode=<12>;
			bit_resolution=<0>;
			reg=   <0xc1109994 4>;
		};
		timer_g:timer-g{
			timer_name="MESON TIMER-G";
			clockevent-rating=<300>;
			clockevent-shift=<20>;
			clockevent-features=<0x03>;
			interrupts = <0 61 0>;
			bit_enable=<17>;
			bit_mode=<13>;
			bit_resolution=<2>;
			reg=<0xc1109998 4>;
		};
		timer_h:timer-h{
			timer_name="MESON TIMER-H";
			clockevent-rating=<300>;
			clockevent-shift=<20>;
			clockevent-features=<0x03>;
			interrupts = <0 62 0>;
			bit_enable=<18>;
			bit_mode=<14>;
			bit_resolution=<4>;
			reg=<0xc110999c 4>;
		};
		timer_i:timer-i{
			timer_name="MESON TIMER-I";
			clockevent-rating=<300>;
			clockevent-shift=<20>;
			clockevent-features=<0x03>;
			interrupts = <0 63 0>;
			bit_enable=<19>;
			bit_mode=<15>;
			bit_resolution=<6>;
			reg=<0xc11099a0 4>;
		};
	};
	cpu_iomap{
		compatible = "amlogic,iomap";
		#address-cells=<1>;
		#size-cells=<1>;
		ranges;
		io_cbus_base{
			reg = <0xc1100000 0x100000>;
		};
		io_apb_base{
			reg = <0xd0000000 0x200000>;
		};
		io_aobus_base{
			reg = <0xc8100000 0x100000>;
		};
	};
	cpu_version{
		reg=<0xc1107d4c 4
			0xc11081a8 4>;
		smc-cmd = <0x82000011>;
	};

	meson_clk_msr{
		compatible = "amlogic,m8m2_measure";
		reg = <0xc110875c 0x4
			0xc1108764 0x4>;
	};
	clock: meson_clock {
		compatible = "amlogic,meson8m2-clock";
		reg = <0xc110402C 0x1000>,   //0x100B  0x1050:0xc1104140 - 0x10ea  0x268 ?
		          <0xc8100000 0x1000>;   //AOBUS
		#clock-cells = <1>;
		#reset-cells = <1>;
	};

	pinmux: pinmux{
		compatible = "amlogic,pinmux-m8";
		dev_name = "pinmux";
		#pinmux-cells=<2>;
		reg=<0xc11080b0 40
			0xc8100014 4
			0xc11080e8 20
			0xc1108120 20
			0xc810002c 4>;
		ao_uart_pins:ao_uart{
			amlogic,setmask=<10 0x185a>;
			amlogic,pins="GPIOAO_0", "GPIOAO_1";
		};
		ao_i2c_master:ao_i2c{
			amlogic,setmask=<10 0x60>;
			amlogic,clrmask=<10 0x1800006>;
			amlogic,pins="GPIOAO_4","GPIOAO_5";
		};
		a_i2c_master:a_i2c{
			//amlogic,setmask=<5 0xc0000000>;
			//amlogic,clrmask=<9 0x58000 7 3000000>;
			//amlogic,pins="GPIOZ_0","GPIOZ_1";

			//amlogic,setmask=<5 0x300>;
			//amlogic,clrmask=<6 0x900 8 11000>;
			//amlogic,pins="GPIOZ_9","GPIOZ_10";

			amlogic,setmask=<5 0xc0>;
			amlogic,clrmask=<6 0xc0 8 0xc000>;
			amlogic,pins="GPIOZ_11","GPIOZ_12";
		};
		b_i2c_master:b_i2c{
			amlogic,setmask=<5 0xc000000>;
			amlogic,pins="GPIOZ_2","GPIOZ_3";
		};
		d_i2c_master:d_i2c{
			amlogic,setmask=<4 0xc>;
			amlogic,pins="GPIOH_7","GPIOH_8";
		};
		hdmitx_hpd: hdmitx_hpd {
			amlogic,setmask=<1 0x04000000>;
			amlogic,pins="GPIOH_0";
		};
		hdmitx_ddc: hdmitx_ddc {
			amlogic,setmask=<1 0x03000000>;
			amlogic,pins="GPIOH_1", "GPIOH_2";
		};
		hdmitx_cec: hdmitx_cec {
			amlogic,setmask=<1 0x00800000>;
			amlogic,pins="GPIOH_3";
		};
		sdhc_b_pins:sdhc_b_pin{
			amlogic,setmask=<2 0xfc00>;
			amlogic,clrmask=<2 0xf0 8 0x600>;
			amlogic,pins="CARD_0","CARD_1","CARD_2","CARD_3","CARD_4","CARD_5";
		};
		sdhc_c_pins:sdhc_c_pin{
			amlogic,setmask=<6 0x3f000000>;
			amlogic,clrmask=<4 0x6c000000 2 0x4c00000>;
			amlogic,pins="BOOT_0","BOOT_1","BOOT_2","BOOT_3","BOOT_10","BOOT_11";
		};
		sdhc_a_pins:sdhc_a_pin{
			amlogic,setmask=<8 0x3f>;
			amlogic,clrmask=<5 0x6c00 >;
			amlogic,pins="GPIOX_0","GPIOX_1","GPIOX_2","GPIOX_3","GPIOX_8","GPIOX_9";
		};
        sdio_all_pins:sdio_all_pins{
            amlogic,setmask=<8 0x0000003f>;         /*sdio a*/
            amlogic,clrmask=<6 0x3f000000           /*sdio c*/
                                2 0x0000fc00        /*sdio b*/
                                5 0x00006c00>;      /*sdhc a*/
            amlogic,pins = "GPIOX_0","GPIOX_1","GPIOX_2","GPIOX_3","GPIOX_8","GPIOX_9";
            amlogic,enable-output=<1>; /** 0:output, 1:input */
            amlogic,pullup=<1>;
            amlogic,pullupen=<1>;
        };
        sdio_clk_cmd_pins:sdio_clk_cmd_pins{
            amlogic,setmask=<8 0x00000003>;         /*sdio a*/
            amlogic,clrmask=<6 0x3f000000           /*sdio c*/
                                2 0x0000fc00        /*sdio b*/
                                5 0x00006c00>;      /*sdhc a*/
            amlogic,pins = "GPIOX_8","GPIOX_9"; /** GPIOX_8:CLK, GPIOX_9:CMD */
            amlogic,enable-output=<1>; /** 0:output, 1:input */
            amlogic,pullup=<1>;
            amlogic,pullupen=<1>;
        };
        sd_all_pins:sd_all_pins{
            amlogic,setmask=<2 0x0000fc00>;         /*sdio b*/
            amlogic,clrmask=<6 0x3f000000           /*sdio c*/
                                8 0x0000063f        /*sdio a, UART*/
                                2 0x000000f0>;      /*sdhc b*/
            amlogic,pins = "CARD_0","CARD_1","CARD_2","CARD_3","CARD_4","CARD_5";
            amlogic,enable-output=<1>; /* 0:output, 1:input */
            amlogic,pullup=<1>;
            amlogic,pullupen=<1>;
        };
        sd_1bit_pins:sd_1bit_pins{
            amlogic,setmask=<2 0x00008c00>;         /*sdio b*/
            amlogic,clrmask=<6 0x3f000000           /*sdio c*/
                                8 0x0000003f        /*sdio a*/
                                2 0x000000f0>;      /*sdhc b*/
            amlogic,pins = "CARD_0","CARD_1","CARD_2","CARD_3","CARD_4","CARD_5";
            amlogic,enable-output=<1>; /* 0:output, 1:input */
            amlogic,pullup=<1>;
            amlogic,pullupen=<1>;
        };
        sd_clk_cmd_pins:sd_clk_cmd_pins{
            amlogic,setmask=<2 0x00000c00>;         /*sdio b*/
            amlogic,clrmask=<6 0x3f000000           /*sdio c*/
                                8 0x0000003f        /*sdio a*/
                                2 0x000000f0>;      /*sdhc b*/
            amlogic,pins = "CARD_2","CARD_3"; /** CARD_2:CLK, CARD_3:CMD */
            amlogic,enable-output=<1>; /** 0:output, 1:input */
            amlogic,pullup=<1>;
            amlogic,pullupen=<1>;
        };
        emmc_all_pins:emmc_all_pins{
            amlogic,setmask=<6 0x3f000000>;         /*sdio c*/
            amlogic,clrmask=<2 0x04c0fc00           /*sdio b & nand*/
                                8 0x0000003f        /*sdio a*/
                                4 0x6c000000>;        /*sdhc c*/
            amlogic,pins = "BOOT_0","BOOT_1","BOOT_2","BOOT_3","BOOT_16","BOOT_17";
            amlogic,enable-output=<1>; /** 0:output, 1:input */
            amlogic,pullup=<1>;
            amlogic,pullupen=<1>;
        };
        emmc_clk_cmd_pins:emmc_clk_cmd_pins{
            amlogic,setmask=<6 0x03000000>;         /*bit[24-25] */
            amlogic,clrmask=<2 0x04c0fc00           /*sdio b & nand*/
                                8 0x0000003f        /*sdio a*/
                                4 0x6c000000>;        /*sdhc c*/
            amlogic,pins = "BOOT_16","BOOT_17"; /** BOOT_16:CMD, BOOT_17:CLK */
            amlogic,enable-output=<1>; /** 0:output, 1:input */
            amlogic,pullup=<1>;
            amlogic,pullupen=<1>;
        };
        sdhc_sd_clk_cmd_pins:sdhc_sd_clk_cmd_pins{
            amlogic,setmask=<2 0x00000030>;         /*sdhc b*/
            amlogic,clrmask=<5 0x00007c00           /*sdhc a*/
                                4 0x7c000000        /*sdhc c*/
                                2 0x0000fc00        /*sdio b*/
                                8 0x00000600>;      /*UART*/
            amlogic,pins = "CARD_2","CARD_3"; /* CARD_2:CLK, CARD_3:CMD */
            amlogic,enable-output=<1>; /* 0:output, 1:input */
            amlogic,pullup=<1>;
            amlogic,pullupen=<1>;
        };
        sdhc_sd_all_pins:sdhc_sd_all_pins{
            amlogic,setmask=<2 0x000000f0>;         /*sdhc b*/
            amlogic,clrmask=<5 0x00007c00           /*sdhc a*/
                                4 0x7c000000        /*sdhc c*/
                                2 0x0000fc00        /*sdio b*/
                                8 0x00000600>;      /*UART*/
            amlogic,pins="CARD_0","CARD_1","CARD_2","CARD_3","CARD_4","CARD_5";
            amlogic,enable-output=<1>; /* 0:output, 1:input */
            amlogic,pullup=<1>;
            amlogic,pullupen=<1>;
        };
        sdhc_emmc_clk_cmd_pins:sdhc_emmc_clk_cmd_pins{
            amlogic,setmask=<4 0x0c000000>;         /*bit[26-27] */
            amlogic,clrmask=<2 0x04c000f0           /*sdhc b & nand*/
                                5 0x00007c00        /*sdhc a*/
                                6 0x3f000000>;        /*sdio c*/
            amlogic,pins = "BOOT_16","BOOT_17"; /** BOOT_16:CMD, BOOT_17:CLK */
            amlogic,enable-output=<1>; /** 0:output, 1:input */
            amlogic,pullup=<1>;
            amlogic,pullupen=<1>;
        };
        sdhc_emmc_all_pins:sdhc_emmc_all_pins{
            amlogic,setmask=<4 0x7c000000>;         /*sdhc c*/
            amlogic,clrmask=<2 0x04c000f0           /*sdhc b & nand*/
                                5 0x00007c00        /*sdhc a*/
                                6 0x3f000000>;        /*sdio c*/
            amlogic,pins = "BOOT_0","BOOT_1","BOOT_2","BOOT_3","BOOT_4","BOOT_5","BOOT_6","BOOT_7","BOOT_16","BOOT_17";
            amlogic,enable-output=<1>; /** 0:output, 1:input */
            amlogic,pullup=<1>;
            amlogic,pullupen=<1>;
        };
        sdhc_sdio_clk_cmd_pins:sdhc_sdio_clk_cmd_pins{
            amlogic,setmask=<5 0x00000c00>;         /*sdhc a bit[10-11] */
            amlogic,clrmask=<2 0x058000f0           /*sdhc b*/
                                4 0x7c000000        /*sdhc c */
                                8 0x0000003f>;        /*sdio a*/
            amlogic,pins = "GPIOX_8","GPIOX_9"; /** BOOT_16:CMD, BOOT_17:CLK */
            amlogic,enable-output=<1>; /** 0:output, 1:input */
            amlogic,pullup=<1>;
            amlogic,pullupen=<1>;
        };
        sdhc_sdio_all_pins:sdhc_sdio_all_pins{
            amlogic,setmask=<5 0x00006c00>;         /*sdhc a*/
            amlogic,clrmask=<2 0x058000f0           /*sdhc b*/
                                4 0x7c000000        /*sdhc c */
                                8 0x0000003f>;        /*sdio a*/
            amlogic,pins = "GPIOX_0","GPIOX_1","GPIOX_2","GPIOX_3","GPIOX_8","GPIOX_9";
            amlogic,enable-output=<1>; /** 0:output, 1:input */
            amlogic,pullup=<1>;
            amlogic,pullupen=<1>;
        };
	};
	gpio:gpio{
		compatible = "amlogic,m8-gpio";
		dev_name = "gpio";
		#gpio-cells=<2>;
		reg=<0xc1108030 48
			0xc8100024 8
			0xda000000 4
			0xc1109880 16>;
	};

	/* AUDIO MESON8 DEVICES */
	i2s_plat: i2s_platform {
		compatible = "amlogic, aml-i2s";
	};
	pcm_plat: pcm_platform {
		compatible = "amlogic, aml-pcm";
	};
	i2s_dai: I2S {
		#sound-dai-cells = <0>;
		compatible = "amlogic, aml-i2s-dai";
	};
	spdif_dai: SPDIF {
		#sound-dai-cells = <0>;
		compatible = "amlogic, aml-spdif-dai";
	};
	pcm_dai: PCM {
		#sound-dai-cells = <0>;
		compatible = "amlogic, aml-pcm-dai";
	};
	spdif_codec: spdif_codec{
		#sound-dai-cells = <0>;
		compatible = "amlogic, aml-spdif-codec";
		pinctrl-names = "aml_audio_spdif";
		pinctrl-0 = <&audio_spdif_pins>;
	};
	pcm_codec: pcm_codec{
		#sound-dai-cells = <0>;
		compatible = "amlogic, pcm2BT-codec";
	};
	/* endof AUDIO MESON8 DEVICES */

}; /* end of / */

&uart_AO {
	clocks = <&clock CLK_81>;
	clock-names = "clk_uart";
};
&i2c_ao {
	clocks = <&clock CLK_81>;
	clock-names = "clk_i2c";
};
&i2c_a {
	clocks = <&clock CLK_81>;
	clock-names = "clk_i2c";
};
&i2c_b {
	clocks = <&clock CLK_81>;
	clock-names = "clk_i2c";
};
&i2c_c {
	clocks = <&clock CLK_81>;
	clock-names = "clk_i2c";
};
&i2c_d {
	clocks = <&clock CLK_81>;
	clock-names = "clk_i2c";
};

&amhdmitx {
	interrupts = <0 57 1>;   /* HPD , 57 + 32 = 89, no CEC*/
	interrupt-names = "hdmitx_hpd";
	clocks = <&clock CLK_HDMITX_SYS &clock CLK_HDMITX_ENCP
		  &clock CLK_HDMITX_ENCI &clock CLK_HDMITX_PIXEL
		  &clock CLK_HDMITX_PHY>;
	clock-names = "hdmitx_clk_sys", "hdmitx_clk_encp",
		"hdmitx_clk_enci", "hdmitx_clk_pixel", "hdmitx_clk_phy";
};
