#include "meson.dtsi"
#include <dt-bindings/clock/meson8.h>
#include <dt-bindings/reset/aml_meson8m2_gate.h>
/ {
	model = "Amlogic Meson8 SoC";
	compatible = "amlogic,meson8";

	interrupt-parent = <&gic>;

	  cpus {
        #address-cells = <1>;
        #size-cells = <0>;

        cpu@0 {
		device_type = "cpu";
		compatible = "arm,cortex-a9";
		reg = <0x200>;
		timer=<&timer_f>;
        };
        cpu@1 {
		device_type = "cpu";
		compatible = "arm,cortex-a9";
		reg = <0x1>;
		timer=<&timer_g>;
        };
        cpu@2 {
		device_type = "cpu";
		compatible = "arm,cortex-a9";
		reg = <0x2>;
		timer=<&timer_h>;
        };
        cpu@3 {
		device_type = "cpu";
		compatible = "arm,cortex-a9";
		reg = <0x3>;
		timer=<&timer_i>;
        };
    };

	timer{
		compatible = "arm,meson-timer";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		reg=   <0xc1109990 4 0xc1109954 4>;
		timer_f:timer-f{
			timer_name="MESON TIMER-F";
			clockevent-rating=<300>;
			clockevent-shift=<20>;
			clockevent-features=<0x03>;
			interrupts = <0 60 0>;
			bit_enable=<16>;
			bit_mode=<12>;
			bit_resolution=<0>;
			reg=   <0xc1109994 4>;
		};
		timer_g:timer-g{
			timer_name="MESON TIMER-G";
			clockevent-rating=<300>;
			clockevent-shift=<20>;
			clockevent-features=<0x03>;
			interrupts = <0 61 0>;
			bit_enable=<17>;
			bit_mode=<13>;
			bit_resolution=<2>;
			reg=<0xc1109998 4>;
		};
		timer_h:timer-h{
			timer_name="MESON TIMER-H";
			clockevent-rating=<300>;
			clockevent-shift=<20>;
			clockevent-features=<0x03>;
			interrupts = <0 62 0>;
			bit_enable=<18>;
			bit_mode=<14>;
			bit_resolution=<4>;
			reg=<0xc110999c 4>;
		};
		timer_i:timer-i{
			timer_name="MESON TIMER-I";
			clockevent-rating=<300>;
			clockevent-shift=<20>;
			clockevent-features=<0x03>;
			interrupts = <0 63 0>;
			bit_enable=<19>;
			bit_mode=<15>;
			bit_resolution=<6>;
			reg=<0xc11099a0 4>;
		};
	};
	cpu_version{
		compatible = "amlogic,cpu_version";
		#address-cells=<1>;
		#size-cells=<1>;
		ranges;
		a9_periph_base{
			reg = <0xc4300000 0x4000>;
		};
		io_mmc_base{
			reg = <0xc8000000 0x8000>;
		};
		io_usba_base{
			reg = <0xc9040000 0x40000>;
		};
		io_usbb_base{
			reg = <0xc90c0000 0x40000>;
		};
		io_eth_base{
			reg = <0xc9410000 0x10000>;
		};
		io_cbus_base{
			reg = <0xc1100000 0x100000>;
		};
		io_axi_base{
			reg = <0xc1300000 0x200000>;
		};
		io_apb_base{
			reg = <0xd0000000 0x200000>;
		};
		io_aobus_base{
			reg = <0xc8100000 0x100000>;
		};
	};
	meson_clk_msr{
		compatible = "amlogic,m8m2_measure";
		reg = <0xc110875c 0x4
			0xc1108764 0x4>;
	};
	clock: meson_clock {
		compatible = "amlogic,meson8m2-clock";
		reg = <0xc110402C 0x1000>,   //0x100B  0x1050:0xc1104140 - 0x10ea  0x268 ?
		          <0xc8100000 0x1000>;   //AOBUS
		#clock-cells = <1>;
		#reset-cells = <1>;
	};

	pinmux{
		compatible = "amlogic,pinmux-m8";
		dev_name = "pinmux";
		#pinmux-cells=<2>;
		reg=<0xc11080b0 40
			0xc8100014 4
			0xc11080e8 20
			0xc1108120 20
			0xc810002c 4>;
		ao_uart_pins:ao_uart{
			amlogic,setmask=<10 0x185a>;
			amlogic,pins="GPIOAO_0", "GPIOAO_1";
		};
		ao_i2c_master:ao_i2c{
			amlogic,setmask=<10 0x60>;
			amlogic,clrmask=<10 0x1800006>;
			amlogic,pins="GPIOAO_4","GPIOAO_5";
		};
		a_i2c_master:a_i2c{
			//amlogic,setmask=<5 0xc0000000>;
			//amlogic,clrmask=<9 0x58000 7 3000000>;
			//amlogic,pins="GPIOZ_0","GPIOZ_1";

			//amlogic,setmask=<5 0x300>;
			//amlogic,clrmask=<6 0x900 8 11000>;
			//amlogic,pins="GPIOZ_9","GPIOZ_10";

			amlogic,setmask=<5 0xc0>;
			amlogic,clrmask=<6 0xc0 8 0xc000>;
			amlogic,pins="GPIOZ_11","GPIOZ_12";
		};
		b_i2c_master:b_i2c{
			amlogic,setmask=<5 0xc000000>;
			amlogic,pins="GPIOZ_2","GPIOZ_3";
		};
		d_i2c_master:d_i2c{
			amlogic,setmask=<4 0xc>;
			amlogic,pins="GPIOH_7","GPIOH_8";
		};
	};
	gpio:gpio{
		compatible = "amlogic,m8-gpio";
		dev_name = "gpio";
		#gpio-cells=<2>;
		reg=<0xc1108030 48
			0xc8100024 8
			0xda000000 4
			0xc1109880 16>;
	};

}; /* end of / */

&uart_AO {
	clocks = <&clock CLK_UART_AO>;
	clock-names = "clk_uart";
};
&i2c_ao {
	clocks = <&clock CLK_I2C_AO>;
	clock-names = "clk_i2c";
};
&i2c_a {
	clocks = <&clock CLK_I2C_A>;
	clock-names = "clk_i2c";
};
&i2c_b {
	clocks = <&clock CLK_I2C_B>;
	clock-names = "clk_i2c";
};
&i2c_c {
	clocks = <&clock CLK_I2C_C>;
	clock-names = "clk_i2c";
};
&i2c_d {
	clocks = <&clock CLK_I2C_D>;
	clock-names = "clk_i2c";
};
