/dts-v1/;
#include "meson8.dtsi"
/{
	amlogic-dt-id = "m8m2_n200_2G";
	compatible = "AMLOGIC,mesonX";
	model = "AMLOGIC";
	#address-cells = <1>;
	#size-cells = <1>;
	aliases {
		serial0 = &uart_AO;
	};

	memory{
		device_type = "memory";
        	#address-cells = <1>;
        	#size-cells = <1>;

	};
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		/* global autoconfigured region for contiguous allocations */
		secmon_reserved:linux,secmon {
			compatible = "aml_secmon_memory";
			reg = <0x06100000 0x03000000>;
			no-map;
		};
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x4000000>;
			alignment = <0x2000>;
			linux,cma-default;
		};
	};

    	psci {
		compatible = "arm,psci";
		method = "smc";
		cpu_suspend = <0xC4000001>;
		cpu_off = <0x84000002>;
		cpu_on = <0x84000003>;
		migrate = <0xC4000005>;
		reg=<0xc4300000 0x4000
			0xc110419c 0x4
			0xc81000e4 0x4
			0xc81000e0 0x4
			0xd9000000 0x20000
			0xc4300000 0x4000>;
	};
	secmon {
		compatible = "aml,secmon";
		memory-region = <&secmon_reserved>;
		in_base_func = <0x82000020>;
		out_base_func = <0x82000021>;
	};

}; /* end of / */
&uart_AO {
	status="okay";
};

&i2c_ao {
  status = "okay";
};

&i2c_a {
  status = "okay";
};

&i2c_b {
  status = "okay";
};

&i2c_c {
  status = "okay";
};
&i2c_d {
  status = "okay";
};
