menuconfig AMLOGIC_WIFI
	tristate "WiFi support"
	select WIRELESS_EXT
	select WEXT_PRIV
	default n
	help
		select y to support wifi

if AMLOGIC_WIFI

config AMLOGIC_PWM_32K
	bool "amlogic soc pwm 32k support"
	depends on PWM_MESON
	default y
	help
		WiFi usually needs a 32K frequency clock signal.
		There are three possibilities:
		using the internal 32K clock or using the 32K input from our SOC,
		or using the onboard active 32K crystal oscillator.
		By default,32K of SOC input is enabled,
		if not, you can disable it by selecting n.


config WIFI_POWER_INIT_OFF
	bool "wifi power init off"
	default n
	help
		Different OS has some different scenarios. Default wifi power is reset
		and on for android, but other system like yoctos might not fit this
		strategy. We add a macro CONFIG_YOCTO_WIFI so WIFI can be inited power off
		to handle dirrerent scenarios.
endif
