# SPDX-License-Identifier: GPL-2.0-only
#
# Amlogic Secure Monitor driver
#
config MESON_SM
	bool "Meson secure monitor"
	default n
	depends on ARM64_4K_PAGES
	help
	  Say y here to enable the Amlogic secure monitor driver
