#
# Amlogic IRBLASTER
#

menuconfig AMLOGIC_IRBLASTER_CORE
	tristate "Amlogic IRBLASTER Support"
	default n
	help
	  This is the core code of amlogic irblaster. Say Y you
	  can use the core api to implement the irblaster controller driver
          and use the api in the core to control the irblaster.
          This option alone add core code.

if AMLOGIC_IRBLASTER_CORE

config	AMLOGIC_IRBLASTER_MESON
	tristate "Amlogic Meson SoC irblaster driver"
	default	n
	help
	  This enable irblaster support for soc mesom (irblaster communication
	  controller) available in Amlogic Meson SoCs.
	  If you want to use meson irblaster interface,
	  say Y here.If you are not sure, say N.

config	AMLOGIC_IRBLASTER_PROTOCOL
	tristate "Add Amlogic Meson irblaster encode"
	default	n
	help
	  This enables encode mode support for the irblaster (communication
	  controller) available in Amlogic Meson SoCs.
	  If you want to use meson irblaster interface,
	  say Y here.If you are not sure, say N.

endif
