# SPDX-License-Identifier: GPL-2.0-only
#
# Maxim Dual GMSL deserializer devices
#
config VIDEO_MAXIM_DES_MAXIM2C
	tristate "Maxim Dual GMSL deserializer support"
	depends on VIDEO_MAXIM_SERDES
	help
	  This driver supports the Maxim Dual GMSL2/GMSL1 deserializer.

	  To compile this driver as a module, choose M here: the
	  module will be called maxim2c.
