menuconfig AMLOGIC_PINCTRL
	bool "Amlogic PINCTRL/GPIO support"
	depends on PINCTRL_MESON

if AMLOGIC_PINCTRL

config PINCTRL_MESON_TM2
	bool "Meson tm2 Soc pinctrl driver"
	select PINCTRL_MESON_AXG_PMX
	select PINCONF_MESON_DRIVE_STRENGTH if AMLOGIC_MODIFY
	depends on ARM64 || ARM
	default n

endif
