# Amlogic DEBUG
#
config AMLOGIC_REG_ACCESS
    tristate "Amlogic register access from userspace support"
    default n
    help
      This is the debug interface for resister and memory access from user space
