CONFIG_BT=y
CONFIG_BT_HCIUART=y
CONFIG_CFG80211=y
CONFIG_CRYPTO_DRBG=y
CONFIG_CRYPTO_DRBG_MENU=y
CONFIG_CRYPTO_ECC=y
CONFIG_CRYPTO_ECDH=y
CONFIG_CRYPTO_HMAC=y
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_CRYPTO_KPP=y
CONFIG_CRYPTO_LIB_ARC4=y
CONFIG_CRYPTO_RNG=y
CONFIG_CRYPTO_RNG_DEFAULT=y
CONFIG_CRYPTO_SHA512=y
CONFIG_MAC80211=y
CONFIG_RFKILL=y
CONFIG_RFKILL_RK=y
CONFIG_WL_ROCKCHIP=y
