# CONFIG_ADVISE_SYSCALLS is not set
# CONFIG_ARCH_MULTIPLATFORM is not set
# CONFIG_BLK_DEV_INITRD is not set
# CONFIG_BLOCK_LEGACY_AUTOLOAD is not set
CONFIG_BT_BNEP=m
CONFIG_BT_HIDP=m
CONFIG_BT_RFCOMM=m
CONFIG_BUG=y
CONFIG_CFG80211=y
# CONFIG_CMA is not set
# CONFIG_CPU_ISOLATION is not set
# CONFIG_CROSS_MEMORY_ATTACH is not set
# CONFIG_CRYPTO_DEFLATE is not set
CONFIG_CRYPTO_DRBG=y
CONFIG_CRYPTO_DRBG_MENU=y
CONFIG_CRYPTO_ECC=y
CONFIG_CRYPTO_ECDH=y
CONFIG_CRYPTO_HMAC=y
# CONFIG_CRYPTO_HW is not set
CONFIG_CRYPTO_JITTERENTROPY=y
CONFIG_CRYPTO_KPP=y
CONFIG_CRYPTO_LIB_ARC4=y
CONFIG_CRYPTO_RNG=y
CONFIG_CRYPTO_RNG_DEFAULT=y
CONFIG_CRYPTO_SHA512=y
# CONFIG_CRYPTO_ZSTD is not set
# CONFIG_DEBUG_FS is not set
# CONFIG_DMABUF_HEAPS is not set
# CONFIG_EFI_PARTITION is not set
CONFIG_ELF_CORE=y
# CONFIG_ETHERNET is not set
# CONFIG_FHANDLE is not set
CONFIG_GPIOLIB_FASTPATH_LIMIT=160
# CONFIG_GPIO_CDEV_V1 is not set
CONFIG_HID=m
CONFIG_HID_GENERIC=m
CONFIG_HZ=250
CONFIG_HZ_250=y
# CONFIG_HZ_300 is not set
# CONFIG_I2C_GPIO is not set
CONFIG_I2C_MUX=y
# CONFIG_INITRAMFS_PRESERVE_MTIME is not set
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_INPUT_MISC is not set
# CONFIG_IOSCHED_BFQ is not set
# CONFIG_KALLSYMS is not set
# CONFIG_KCMP is not set
CONFIG_LOG_CPU_MAX_BUF_SHIFT=15
CONFIG_MAC80211=y
# CONFIG_MDIO_DEVICE is not set
CONFIG_MEDIA_SUPPORT=y
# CONFIG_MEMORY is not set
# CONFIG_MFD_RK808 is not set
# CONFIG_MQ_IOSCHED_DEADLINE is not set
# CONFIG_MQ_IOSCHED_KYBER is not set
# CONFIG_MSDOS_PARTITION is not set
# CONFIG_MULTIUSER is not set
CONFIG_NLS=m
# CONFIG_NLS_CODEPAGE_437 is not set
# CONFIG_NLS_ISO8859_1 is not set
# CONFIG_NTFS3_FS is not set
# CONFIG_PHYLIB is not set
# CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY is not set
# CONFIG_POWER_SUPPLY is not set
# CONFIG_PPP is not set
# CONFIG_PPS is not set
CONFIG_PRINTK_SAFE_LOG_BUF_SHIFT=12
# CONFIG_PTP_1588_CLOCK is not set
# CONFIG_RCU_TRACE is not set
CONFIG_RFKILL=y
CONFIG_RFKILL_RK=y
CONFIG_ROCKCHIP_DISABLE_UNUSED=y
# CONFIG_ROCKCHIP_MULTI_RGA is not set
# CONFIG_ROCKCHIP_SUSPEND_MODE is not set
# CONFIG_RSEQ is not set
# CONFIG_SENSOR_DEVICE is not set
# CONFIG_SLUB_CPU_PARTIAL is not set
# CONFIG_SLUB_SYSFS is not set
# CONFIG_SND_PCM_TIMER is not set
# CONFIG_SND_SOC_ES7202 is not set
# CONFIG_SND_SOC_ES8323 is not set
# CONFIG_SND_SOC_RK730 is not set
# CONFIG_SND_SOC_ROCKCHIP_SPDIF is not set
# CONFIG_SND_SOC_ROCKCHIP_SPDIFRX is not set
# CONFIG_SND_SPI is not set
# CONFIG_SND_USB is not set
# CONFIG_SQUASHFS_4K_DEVBLK_SIZE is not set
CONFIG_SQUASHFS_XZ=y
# CONFIG_SQUASHFS_ZSTD is not set
# CONFIG_STAGING is not set
# CONFIG_SUSPEND is not set
CONFIG_SWAP=y
# CONFIG_SYSFS_SYSCALL is not set
# CONFIG_THERMAL_GOV_USER_SPACE is not set
CONFIG_UBIFS_FS_ADVANCED_COMPR=y
# CONFIG_UBIFS_FS_XATTR is not set
# CONFIG_UBIFS_FS_ZLIB is not set
# CONFIG_UBIFS_FS_ZSTD is not set
CONFIG_VDSO=y
CONFIG_WL_ROCKCHIP=y
CONFIG_XZ_DEC=y
CONFIG_ZRAM=y
# CONFIG_ARM_ERRATA_458693 is not set
# CONFIG_ARM_ERRATA_460075 is not set
# CONFIG_ARM_ERRATA_742230 is not set
# CONFIG_ARM_ERRATA_742231 is not set
# CONFIG_ARM_ERRATA_743622 is not set
# CONFIG_ARM_ERRATA_751472 is not set
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=y
# CONFIG_DEBUG_BUGVERBOSE is not set
CONFIG_GENERIC_BUG=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_GENERIC_TIME_VSYSCALL=y
CONFIG_GENERIC_VDSO_32=y
CONFIG_HAVE_GENERIC_VDSO=y
# CONFIG_HIBERNATION is not set
# CONFIG_I2C_ARB_GPIO_CHALLENGE is not set
# CONFIG_I2C_DEMUX_PINCTRL is not set
# CONFIG_I2C_MUX_GPIO is not set
# CONFIG_I2C_MUX_GPMUX is not set
# CONFIG_I2C_MUX_LTC4306 is not set
# CONFIG_I2C_MUX_MLXCPLD is not set
# CONFIG_I2C_MUX_PCA9541 is not set
# CONFIG_I2C_MUX_PCA954x is not set
# CONFIG_I2C_MUX_PINCTRL is not set
# CONFIG_I2C_MUX_REG is not set
# CONFIG_MEDIA_ANALOG_TV_SUPPORT is not set
CONFIG_MEDIA_CAMERA_SUPPORT=y
CONFIG_MEDIA_CONTROLLER=y
# CONFIG_MEDIA_DIGITAL_TV_SUPPORT is not set
CONFIG_MEDIA_PLATFORM_DRIVERS=y
CONFIG_MEDIA_PLATFORM_SUPPORT=y
# CONFIG_MEDIA_RADIO_SUPPORT is not set
# CONFIG_MEDIA_SDR_SUPPORT is not set
# CONFIG_MEDIA_SUBDRV_AUTOSELECT is not set
CONFIG_MEDIA_SUPPORT_FILTER=y
# CONFIG_MEDIA_TEST_SUPPORT is not set
# CONFIG_MEDIA_USB_SUPPORT is not set
# CONFIG_MTD_SWAP is not set
# CONFIG_PHY_ROCKCHIP_CSI2_DPHY is not set
# CONFIG_PHY_ROCKCHIP_MIPI_RX is not set
CONFIG_ROCKCHIP_FLEXBUS_CIF=y
# CONFIG_ROCKCHIP_FLEXBUS_CIF_USE_DUMMY_BUF is not set
CONFIG_ROCKCHIP_FLEXBUS_CIF_USE_NONE_DUMMY_BUF=y
# CONFIG_ROCKCHIP_RGA2 is not set
# CONFIG_USB_CONFIGFS_F_UVC is not set
# CONFIG_USB_G_WEBCAM is not set
CONFIG_V4L2_ASYNC=y
CONFIG_V4L2_FWNODE=y
# CONFIG_V4L_MEM2MEM_DRIVERS is not set
CONFIG_V4L_PLATFORM_DRIVERS=y
CONFIG_VIDEOBUF2_CMA_SG=y
CONFIG_VIDEOBUF2_CORE=y
# CONFIG_VIDEOBUF2_DMA_CONTIG is not set
# CONFIG_VIDEOBUF2_DMA_SG is not set
CONFIG_VIDEOBUF2_MEMOPS=y
CONFIG_VIDEOBUF2_V4L2=y
CONFIG_VIDEOBUF2_VMALLOC=y
# CONFIG_VIDEO_AD5820 is not set
# CONFIG_VIDEO_AD9389B is not set
# CONFIG_VIDEO_ADP1653 is not set
# CONFIG_VIDEO_ADV7170 is not set
# CONFIG_VIDEO_ADV7175 is not set
# CONFIG_VIDEO_ADV7180 is not set
# CONFIG_VIDEO_ADV7183 is not set
# CONFIG_VIDEO_ADV7343 is not set
# CONFIG_VIDEO_ADV7393 is not set
# CONFIG_VIDEO_ADV748X is not set
# CONFIG_VIDEO_ADV7511 is not set
# CONFIG_VIDEO_ADV7604 is not set
# CONFIG_VIDEO_ADV7842 is not set
# CONFIG_VIDEO_ADV_DEBUG is not set
# CONFIG_VIDEO_AK7375 is not set
# CONFIG_VIDEO_AK881X is not set
# CONFIG_VIDEO_AR0230 is not set
# CONFIG_VIDEO_AR0521 is not set
# CONFIG_VIDEO_AR0822 is not set
# CONFIG_VIDEO_AR2020 is not set
# CONFIG_VIDEO_ASPEED is not set
# CONFIG_VIDEO_AW36518 is not set
# CONFIG_VIDEO_AW8601 is not set
# CONFIG_VIDEO_BF3925 is not set
# CONFIG_VIDEO_BT819 is not set
# CONFIG_VIDEO_BT856 is not set
# CONFIG_VIDEO_BT866 is not set
# CONFIG_VIDEO_CADENCE_CSI2RX is not set
# CONFIG_VIDEO_CADENCE_CSI2TX is not set
CONFIG_VIDEO_CAMERA_SENSOR=y
# CONFIG_VIDEO_CAM_SLEEP_WAKEUP is not set
# CONFIG_VIDEO_CCS is not set
# CONFIG_VIDEO_CES6301 is not set
# CONFIG_VIDEO_CN3927V is not set
# CONFIG_VIDEO_CS3308 is not set
# CONFIG_VIDEO_CS5345 is not set
# CONFIG_VIDEO_CS53L32A is not set
# CONFIG_VIDEO_CX25840 is not set
CONFIG_VIDEO_DEV=y
# CONFIG_VIDEO_DW9714 is not set
# CONFIG_VIDEO_DW9763 is not set
# CONFIG_VIDEO_DW9768 is not set
# CONFIG_VIDEO_DW9800V is not set
# CONFIG_VIDEO_DW9800W is not set
# CONFIG_VIDEO_DW9807_VCM is not set
# CONFIG_VIDEO_EP9461E is not set
# CONFIG_VIDEO_ET8EK8 is not set
# CONFIG_VIDEO_FIXED_MINOR_RANGES is not set
# CONFIG_VIDEO_FP5510 is not set
# CONFIG_VIDEO_GC02M2 is not set
# CONFIG_VIDEO_GC0312 is not set
# CONFIG_VIDEO_GC0329 is not set
# CONFIG_VIDEO_GC0403 is not set
# CONFIG_VIDEO_GC05A2 is not set
# CONFIG_VIDEO_GC08A3 is not set
# CONFIG_VIDEO_GC1084 is not set
# CONFIG_VIDEO_GC2035 is not set
# CONFIG_VIDEO_GC2053 is not set
# CONFIG_VIDEO_GC2093 is not set
CONFIG_VIDEO_GC2145=y
# CONFIG_VIDEO_GC2155 is not set
# CONFIG_VIDEO_GC2355 is not set
# CONFIG_VIDEO_GC2375H is not set
# CONFIG_VIDEO_GC2385 is not set
# CONFIG_VIDEO_GC3003 is not set
# CONFIG_VIDEO_GC4023 is not set
# CONFIG_VIDEO_GC4653 is not set
# CONFIG_VIDEO_GC4663 is not set
# CONFIG_VIDEO_GC4C33 is not set
# CONFIG_VIDEO_GC5024 is not set
# CONFIG_VIDEO_GC5025 is not set
# CONFIG_VIDEO_GC5035 is not set
# CONFIG_VIDEO_GC8034 is not set
# CONFIG_VIDEO_GS1662 is not set
# CONFIG_VIDEO_HI556 is not set
# CONFIG_VIDEO_HI846 is not set
# CONFIG_VIDEO_HI847 is not set
# CONFIG_VIDEO_I2C is not set
# CONFIG_VIDEO_IMX208 is not set
# CONFIG_VIDEO_IMX214 is not set
# CONFIG_VIDEO_IMX219 is not set
# CONFIG_VIDEO_IMX258 is not set
# CONFIG_VIDEO_IMX274 is not set
# CONFIG_VIDEO_IMX290 is not set
# CONFIG_VIDEO_IMX307 is not set
# CONFIG_VIDEO_IMX317 is not set
# CONFIG_VIDEO_IMX319 is not set
# CONFIG_VIDEO_IMX323 is not set
# CONFIG_VIDEO_IMX327 is not set
# CONFIG_VIDEO_IMX334 is not set
# CONFIG_VIDEO_IMX335 is not set
# CONFIG_VIDEO_IMX347 is not set
# CONFIG_VIDEO_IMX355 is not set
# CONFIG_VIDEO_IMX378 is not set
# CONFIG_VIDEO_IMX412 is not set
# CONFIG_VIDEO_IMX415 is not set
# CONFIG_VIDEO_IMX464 is not set
# CONFIG_VIDEO_IMX492 is not set
# CONFIG_VIDEO_IMX498 is not set
# CONFIG_VIDEO_IMX577 is not set
# CONFIG_VIDEO_IMX586 is not set
# CONFIG_VIDEO_ISL7998X is not set
# CONFIG_VIDEO_IT6616 is not set
# CONFIG_VIDEO_IT66353 is not set
# CONFIG_VIDEO_JX_F37 is not set
# CONFIG_VIDEO_JX_H62 is not set
# CONFIG_VIDEO_JX_H65 is not set
# CONFIG_VIDEO_JX_K17 is not set
# CONFIG_VIDEO_KS0127 is not set
# CONFIG_VIDEO_LM3560 is not set
# CONFIG_VIDEO_LM3646 is not set
# CONFIG_VIDEO_LT6911C is not set
# CONFIG_VIDEO_LT6911UXC is not set
# CONFIG_VIDEO_LT6911UXE is not set
# CONFIG_VIDEO_LT7911D is not set
# CONFIG_VIDEO_LT7911UXC is not set
# CONFIG_VIDEO_LT8619C is not set
# CONFIG_VIDEO_LT8668SX is not set
# CONFIG_VIDEO_M52790 is not set
# CONFIG_VIDEO_M5MOLS is not set
# CONFIG_VIDEO_MAX9286 is not set
# CONFIG_VIDEO_MAX96712 is not set
# CONFIG_VIDEO_MAX96714 is not set
# CONFIG_VIDEO_MAX96722 is not set
# CONFIG_VIDEO_MAX96756 is not set
# CONFIG_VIDEO_MAXIM_SERDES is not set
# CONFIG_VIDEO_MIS2031 is not set
# CONFIG_VIDEO_MIS4001 is not set
# CONFIG_VIDEO_ML86V7667 is not set
# CONFIG_VIDEO_MSP3400 is not set
# CONFIG_VIDEO_MT9M001 is not set
# CONFIG_VIDEO_MT9M032 is not set
# CONFIG_VIDEO_MT9M111 is not set
# CONFIG_VIDEO_MT9P031 is not set
# CONFIG_VIDEO_MT9T001 is not set
# CONFIG_VIDEO_MT9T112 is not set
# CONFIG_VIDEO_MT9V011 is not set
# CONFIG_VIDEO_MT9V032 is not set
# CONFIG_VIDEO_MT9V111 is not set
# CONFIG_VIDEO_MUX is not set
# CONFIG_VIDEO_NOON010PC30 is not set
# CONFIG_VIDEO_NVP6158 is not set
# CONFIG_VIDEO_NVP6188 is not set
# CONFIG_VIDEO_NVP6324 is not set
# CONFIG_VIDEO_OG01A10 is not set
# CONFIG_VIDEO_OG01A1B is not set
# CONFIG_VIDEO_OG02B10 is not set
# CONFIG_VIDEO_OS02G10 is not set
# CONFIG_VIDEO_OS02K10 is not set
# CONFIG_VIDEO_OS03B10 is not set
# CONFIG_VIDEO_OS04A10 is not set
# CONFIG_VIDEO_OS04D10 is not set
# CONFIG_VIDEO_OS05A20 is not set
# CONFIG_VIDEO_OS08A20 is not set
# CONFIG_VIDEO_OTP_EEPROM is not set
# CONFIG_VIDEO_OV02A10 is not set
# CONFIG_VIDEO_OV02B10 is not set
# CONFIG_VIDEO_OV02K10 is not set
# CONFIG_VIDEO_OV08D10 is not set
# CONFIG_VIDEO_OV12D2Q is not set
# CONFIG_VIDEO_OV13850 is not set
# CONFIG_VIDEO_OV13855 is not set
# CONFIG_VIDEO_OV13858 is not set
# CONFIG_VIDEO_OV13B10 is not set
# CONFIG_VIDEO_OV16880 is not set
# CONFIG_VIDEO_OV16885 is not set
# CONFIG_VIDEO_OV16A10 is not set
# CONFIG_VIDEO_OV16A1Q is not set
# CONFIG_VIDEO_OV2640 is not set
# CONFIG_VIDEO_OV2659 is not set
# CONFIG_VIDEO_OV2680 is not set
# CONFIG_VIDEO_OV2685 is not set
# CONFIG_VIDEO_OV2718 is not set
# CONFIG_VIDEO_OV4686 is not set
# CONFIG_VIDEO_OV4688 is not set
# CONFIG_VIDEO_OV4689 is not set
# CONFIG_VIDEO_OV50C40 is not set
# CONFIG_VIDEO_OV5640 is not set
# CONFIG_VIDEO_OV5645 is not set
# CONFIG_VIDEO_OV5647 is not set
# CONFIG_VIDEO_OV5648 is not set
# CONFIG_VIDEO_OV5670 is not set
# CONFIG_VIDEO_OV5675 is not set
# CONFIG_VIDEO_OV5693 is not set
# CONFIG_VIDEO_OV5695 is not set
# CONFIG_VIDEO_OV6650 is not set
# CONFIG_VIDEO_OV7251 is not set
# CONFIG_VIDEO_OV7640 is not set
# CONFIG_VIDEO_OV7670 is not set
# CONFIG_VIDEO_OV772X is not set
# CONFIG_VIDEO_OV7740 is not set
# CONFIG_VIDEO_OV8856 is not set
# CONFIG_VIDEO_OV8858 is not set
# CONFIG_VIDEO_OV8865 is not set
# CONFIG_VIDEO_OV9281 is not set
# CONFIG_VIDEO_OV9282 is not set
# CONFIG_VIDEO_OV9640 is not set
# CONFIG_VIDEO_OV9650 is not set
# CONFIG_VIDEO_PREISP_DUMMY_SENSOR is not set
# CONFIG_VIDEO_RDACM20 is not set
# CONFIG_VIDEO_RDACM21 is not set
# CONFIG_VIDEO_RJ54N1 is not set
# CONFIG_VIDEO_RK628_BT1120 is not set
# CONFIG_VIDEO_RK628_CSI is not set
# CONFIG_VIDEO_RK_IRCUT is not set
# CONFIG_VIDEO_ROCKCHIP_CIF is not set
# CONFIG_VIDEO_ROCKCHIP_HDMIRX is not set
# CONFIG_VIDEO_ROCKCHIP_HDMIRX_CLASS is not set
# CONFIG_VIDEO_ROCKCHIP_ISP is not set
# CONFIG_VIDEO_ROCKCHIP_ISP1 is not set
# CONFIG_VIDEO_ROCKCHIP_ISPP is not set
# CONFIG_VIDEO_ROCKCHIP_PREISP is not set
# CONFIG_VIDEO_S5C73M3 is not set
# CONFIG_VIDEO_S5K3L6XX is not set
# CONFIG_VIDEO_S5K3L8XX is not set
# CONFIG_VIDEO_S5K4ECGX is not set
# CONFIG_VIDEO_S5K5BAF is not set
# CONFIG_VIDEO_S5K6A3 is not set
# CONFIG_VIDEO_S5K6AA is not set
# CONFIG_VIDEO_S5KJN1 is not set
# CONFIG_VIDEO_SAA6588 is not set
# CONFIG_VIDEO_SAA6752HS is not set
# CONFIG_VIDEO_SAA7110 is not set
# CONFIG_VIDEO_SAA711X is not set
# CONFIG_VIDEO_SAA7127 is not set
# CONFIG_VIDEO_SAA717X is not set
# CONFIG_VIDEO_SAA7185 is not set
# CONFIG_VIDEO_SC031GS is not set
# CONFIG_VIDEO_SC035GS is not set
# CONFIG_VIDEO_SC132GS is not set
# CONFIG_VIDEO_SC1346 is not set
# CONFIG_VIDEO_SC200AI is not set
# CONFIG_VIDEO_SC210IOT is not set
# CONFIG_VIDEO_SC2232 is not set
# CONFIG_VIDEO_SC2239 is not set
# CONFIG_VIDEO_SC223A is not set
# CONFIG_VIDEO_SC230AI is not set
# CONFIG_VIDEO_SC2310 is not set
# CONFIG_VIDEO_SC2336 is not set
# CONFIG_VIDEO_SC2355 is not set
# CONFIG_VIDEO_SC301IOT is not set
# CONFIG_VIDEO_SC3336 is not set
# CONFIG_VIDEO_SC3336P is not set
# CONFIG_VIDEO_SC3338 is not set
# CONFIG_VIDEO_SC401AI is not set
# CONFIG_VIDEO_SC4210 is not set
# CONFIG_VIDEO_SC4238 is not set
# CONFIG_VIDEO_SC430CS is not set
# CONFIG_VIDEO_SC4336 is not set
# CONFIG_VIDEO_SC4336P is not set
# CONFIG_VIDEO_SC450AI is not set
# CONFIG_VIDEO_SC500AI is not set
# CONFIG_VIDEO_SC501AI is not set
# CONFIG_VIDEO_SC530AI is not set
# CONFIG_VIDEO_SC5336 is not set
# CONFIG_VIDEO_SC830AI is not set
# CONFIG_VIDEO_SC831AI is not set
# CONFIG_VIDEO_SC850SL is not set
# CONFIG_VIDEO_SENSOR_ADAPTER is not set
# CONFIG_VIDEO_SGM3784 is not set
# CONFIG_VIDEO_SONY_BTF_MPX is not set
# CONFIG_VIDEO_SR030PC30 is not set
# CONFIG_VIDEO_ST_MIPID02 is not set
# CONFIG_VIDEO_TC358743 is not set
# CONFIG_VIDEO_TC35874X is not set
# CONFIG_VIDEO_TDA1997X is not set
# CONFIG_VIDEO_TDA7432 is not set
# CONFIG_VIDEO_TDA9840 is not set
# CONFIG_VIDEO_TEA6415C is not set
# CONFIG_VIDEO_TEA6420 is not set
# CONFIG_VIDEO_TECHPOINT is not set
# CONFIG_VIDEO_THCV244 is not set
# CONFIG_VIDEO_THS7303 is not set
# CONFIG_VIDEO_THS8200 is not set
# CONFIG_VIDEO_TLV320AIC23B is not set
# CONFIG_VIDEO_TVAUDIO is not set
# CONFIG_VIDEO_TVP514X is not set
# CONFIG_VIDEO_TVP5150 is not set
# CONFIG_VIDEO_TVP7002 is not set
# CONFIG_VIDEO_TW2804 is not set
# CONFIG_VIDEO_TW9903 is not set
# CONFIG_VIDEO_TW9906 is not set
# CONFIG_VIDEO_TW9910 is not set
# CONFIG_VIDEO_UDA1342 is not set
# CONFIG_VIDEO_UPD64031A is not set
# CONFIG_VIDEO_UPD64083 is not set
CONFIG_VIDEO_V4L2_I2C=y
CONFIG_VIDEO_V4L2_SUBDEV_API=y
# CONFIG_VIDEO_VM149C is not set
# CONFIG_VIDEO_VP27SMPX is not set
# CONFIG_VIDEO_VPX3220 is not set
# CONFIG_VIDEO_VS6624 is not set
# CONFIG_VIDEO_WM8739 is not set
# CONFIG_VIDEO_WM8775 is not set
# CONFIG_VIDEO_XILINX is not set
# CONFIG_XZ_DEC_ARM is not set
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_XZ_DEC_BCJ=y
# CONFIG_XZ_DEC_IA64 is not set
# CONFIG_XZ_DEC_MICROLZMA is not set
# CONFIG_XZ_DEC_POWERPC is not set
# CONFIG_XZ_DEC_SPARC is not set
# CONFIG_XZ_DEC_TEST is not set
# CONFIG_XZ_DEC_X86 is not set
CONFIG_ZRAM_DEF_COMP="lzo-rle"
# CONFIG_ZRAM_DEF_COMP_LZO is not set
CONFIG_ZRAM_DEF_COMP_LZORLE=y
# CONFIG_ZRAM_WRITEBACK is not set
CONFIG_ZSMALLOC=y
# CONFIG_ZSMALLOC_STAT is not set
# CONFIG_ZSWAP is not set
