# CONFIG_ADVISE_SYSCALLS is not set
# CONFIG_ARCH_MULTIPLATFORM is not set
# CONFIG_ASYMMETRIC_KEY_TYPE is not set
# CONFIG_BLOCK_LEGACY_AUTOLOAD is not set
# CONFIG_CMA is not set
CONFIG_CONFIGFS_FS=y
# CONFIG_COREDUMP is not set
# CONFIG_CPU_ISOLATION is not set
# CONFIG_CROSS_MEMORY_ATTACH is not set
# CONFIG_CRYPTO_AES is not set
# CONFIG_CRYPTO_CCM is not set
# CONFIG_CRYPTO_CMAC is not set
CONFIG_CRYPTO_CRC32C=y
# CONFIG_CRYPTO_CTR is not set
# CONFIG_CRYPTO_DEFLATE is not set
# CONFIG_CRYPTO_DRBG_MENU is not set
# CONFIG_CRYPTO_ECB is not set
# CONFIG_CRYPTO_ECDH is not set
# CONFIG_CRYPTO_GCM is not set
# CONFIG_CRYPTO_GHASH is not set
# CONFIG_CRYPTO_HMAC is not set
# CONFIG_CRYPTO_HW is not set
# CONFIG_CRYPTO_JITTERENTROPY is not set
# CONFIG_CRYPTO_NULL is not set
# CONFIG_CRYPTO_RSA is not set
# CONFIG_CRYPTO_SHA256 is not set
CONFIG_CRYPTO_SHA512=y
# CONFIG_CRYPTO_ZSTD is not set
# CONFIG_DEBUG_FS is not set
# CONFIG_DEBUG_USER is not set
# CONFIG_DMABUF_CACHE is not set
# CONFIG_DMABUF_HEAPS is not set
# CONFIG_EFI_PARTITION is not set
# CONFIG_EXFAT_FS is not set
# CONFIG_EXT4_FS is not set
# CONFIG_FHANDLE is not set
# CONFIG_FILE_LOCKING is not set
# CONFIG_FUTEX is not set
CONFIG_GPIOLIB_FASTPATH_LIMIT=160
# CONFIG_GPIO_CDEV_V1 is not set
CONFIG_HZ=250
CONFIG_HZ_250=y
# CONFIG_HZ_300 is not set
# CONFIG_I2C_GPIO is not set
CONFIG_I2C_MUX=y
# CONFIG_IIO is not set
# CONFIG_INITRAMFS_PRESERVE_MTIME is not set
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_INPUT_MISC is not set
# CONFIG_IOSCHED_BFQ is not set
# CONFIG_JUMP_LABEL is not set
# CONFIG_KALLSYMS is not set
# CONFIG_KCMP is not set
CONFIG_LOG_CPU_MAX_BUF_SHIFT=15
# CONFIG_MAGIC_SYSRQ is not set
# CONFIG_MEMORY is not set
# CONFIG_MFD_RK808 is not set
# CONFIG_MMC is not set
# CONFIG_MODULES is not set
# CONFIG_MQ_IOSCHED_DEADLINE is not set
# CONFIG_MQ_IOSCHED_KYBER is not set
# CONFIG_MSDOS_PARTITION is not set
CONFIG_MTD_NAND_ECC_SW_HAMMING=y
CONFIG_MTD_RAW_NAND=y
# CONFIG_MULTIUSER is not set
# CONFIG_NET is not set
# CONFIG_NLS_CODEPAGE_437 is not set
# CONFIG_NLS_ISO8859_1 is not set
# CONFIG_NTFS3_FS is not set
# CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY is not set
# CONFIG_POWER_SUPPLY is not set
# CONFIG_PPS is not set
CONFIG_PRINTK_SAFE_LOG_BUF_SHIFT=12
# CONFIG_PSTORE is not set
# CONFIG_RCU_TRACE is not set
CONFIG_RD_XZ=y
CONFIG_ROCKCHIP_DISABLE_UNUSED=y
# CONFIG_ROCKCHIP_MULTI_RGA is not set
# CONFIG_ROCKCHIP_SUSPEND_MODE is not set
# CONFIG_RSEQ is not set
# CONFIG_SCSI is not set
CONFIG_SCSI_MOD=y
# CONFIG_SENSOR_DEVICE is not set
# CONFIG_SHMEM is not set
# CONFIG_SLUB_CPU_PARTIAL is not set
# CONFIG_SLUB_SYSFS is not set
# CONFIG_SOUND is not set
# CONFIG_SQUASHFS is not set
# CONFIG_STAGING is not set
# CONFIG_SUSPEND is not set
# CONFIG_SYSFS_SYSCALL is not set
# CONFIG_THERMAL_GOV_USER_SPACE is not set
CONFIG_UBIFS_FS_ADVANCED_COMPR=y
# CONFIG_UBIFS_FS_XATTR is not set
# CONFIG_UBIFS_FS_ZLIB is not set
# CONFIG_UBIFS_FS_ZSTD is not set
# CONFIG_USB_SUPPORT is not set
CONFIG_VDSO=y
# CONFIG_VFAT_FS is not set
CONFIG_XZ_DEC=y
# CONFIG_ARM_ERRATA_458693 is not set
# CONFIG_ARM_ERRATA_460075 is not set
# CONFIG_ARM_ERRATA_742230 is not set
# CONFIG_ARM_ERRATA_742231 is not set
# CONFIG_ARM_ERRATA_743622 is not set
# CONFIG_ARM_ERRATA_751472 is not set
CONFIG_DECOMPRESS_XZ=y
CONFIG_GENERIC_GETTIMEOFDAY=y
CONFIG_GENERIC_TIME_VSYSCALL=y
CONFIG_GENERIC_VDSO_32=y
CONFIG_HAVE_GENERIC_VDSO=y
# CONFIG_I2C_ARB_GPIO_CHALLENGE is not set
# CONFIG_I2C_DEMUX_PINCTRL is not set
# CONFIG_I2C_MUX_GPIO is not set
# CONFIG_I2C_MUX_GPMUX is not set
# CONFIG_I2C_MUX_LTC4306 is not set
# CONFIG_I2C_MUX_MLXCPLD is not set
# CONFIG_I2C_MUX_PCA9541 is not set
# CONFIG_I2C_MUX_PCA954x is not set
# CONFIG_I2C_MUX_PINCTRL is not set
# CONFIG_I2C_MUX_REG is not set
# CONFIG_MTD_NAND_ARASAN is not set
# CONFIG_MTD_NAND_BRCMNAND is not set
# CONFIG_MTD_NAND_CADENCE is not set
# CONFIG_MTD_NAND_DENALI_DT is not set
# CONFIG_MTD_NAND_DISKONCHIP is not set
# CONFIG_MTD_NAND_ECC_SW_HAMMING_SMC is not set
# CONFIG_MTD_NAND_GPIO is not set
# CONFIG_MTD_NAND_INTEL_LGM is not set
# CONFIG_MTD_NAND_MXIC is not set
# CONFIG_MTD_NAND_NANDSIM is not set
# CONFIG_MTD_NAND_PLATFORM is not set
CONFIG_MTD_NAND_ROCKCHIP=y
# CONFIG_ROCKCHIP_RGA2 is not set
# CONFIG_XZ_DEC_ARM is not set
CONFIG_XZ_DEC_ARMTHUMB=y
CONFIG_XZ_DEC_BCJ=y
# CONFIG_XZ_DEC_IA64 is not set
# CONFIG_XZ_DEC_MICROLZMA is not set
# CONFIG_XZ_DEC_POWERPC is not set
# CONFIG_XZ_DEC_SPARC is not set
# CONFIG_XZ_DEC_TEST is not set
# CONFIG_XZ_DEC_X86 is not set
