CONFIG_BLK_DEV_SD=y
CONFIG_CONFIGFS_FS=y
CONFIG_CRYPTO_CRC32C=y
CONFIG_EXFAT_FS=y
CONFIG_EXT4_FS=y
CONFIG_FAT_FS=y
CONFIG_FS_MBCACHE=y
CONFIG_JBD2=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NTFS3_FS=y
CONFIG_PHY_ROCKCHIP_INNO_USB2=y
CONFIG_SCSI=y
CONFIG_SCSI_COMMON=y
CONFIG_SCSI_MOD=y
CONFIG_USB=y
CONFIG_USB_COMMON=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_DWC2=y
CONFIG_USB_F_FS=y
CONFIG_USB_GADGET=y
CONFIG_USB_LIBCOMPOSITE=y
CONFIG_USB_STORAGE=y
CONFIG_VFAT_FS=y
