# SPDX-License-Identifier: GPL-2.0-only
menuconfig ARCH_MESON
	bool "Amlogic Meson SoCs"
	depends on ARCH_MULTI_V7
	select GPIOLIB
	select GENERIC_IRQ_CHIP
	select ARM_GIC
	select ARM_GLOBAL_TIMER
	select CACHE_L2X0 if !AMLOGIC_ARMV8_AARCH32
	select PINCTRL
	select PINCTRL_MESON
	select COMMON_CLK
	select HAVE_ARM_SCU if SMP
	select HAVE_ARM_TWD if SMP
	select COMMON_CLK_G12A
	select PINCTRL
        select PINCTRL_MESON
        select COMMON_CLK_G12A
	select COMMON_CLK_TM2
        select MESON_IRQ_GPIO

if ARCH_MESON

config MACH_MESON6
	bool "Amlogic Meson6 (8726MX) SoCs support"
	default !AMLOGIC_ARMV8_AARCH32
	select MESON6_TIMER

config MACH_MESON8
	bool "Amlogic Meson8, Meson8b and Meson8m2 SoCs support"
	default !AMLOGIC_ARMV8_AARCH32
	select MESON6_TIMER
	select COMMON_CLK_MESON8B
	select MESON_IRQ_GPIO

config AMLOGIC_ARMV8_AARCH32
	bool "AARCH32 kernel support for Amlogic ARMv8 Soc"
	default n
	help
	  32 bit kernel support for amlogic armv8 SoC.

	  choose y if you wanna kerenl working in ARMv8 AARCH32 mode

endif
