comment "Amlogic VPU Drivers"

menu "Amlogic VPU Driver"

config AML_VPU
	boolean "Amlogic VPU driver"
	default n
	help
		"Amlogic VPU module Managment"

config AML_VPU_DYNAMIC_ADJ
	boolean "Amlogic VPU Frequency Dynamic Adjust"
	default n
	depends on AML_VPU
	help
		"Amlogic VPU frequency dynamic adjust"

endmenu
