# OP-TEE Trusted Execution Environment Configuration
config AMLOGIC_OPTEE2
	tristate "OP-TEE"
	depends on HAVE_ARM_SMCCC
	help
	  This implements the OP-TEE Trusted Execution Environment (TEE)
	  driver.
