#
# Deinterlace driver configuration
#

menu "DI_LOCAL driver"

config AMLOGIC_MEDIA_DEINTERLACE
	tristate "DI_LOCAL driver"
	default n
	help
		Select to enable AMLOGIC DEINTERLACE driver
		process interlace source need three continueed fields,
		wave progressive source with two interlace fields from
		one progreesive fields
endmenu
