#
# Amlogic multimedia common algorithm configuration
#

menu "Amlogic multimedia algorithm configuration"

config AMLOGIC_MEDIA_COMMON_ALGORITHM
	tristate "amlogic Multimedia Common Algorithm Support"
	default m
	help
		Amlogic multimedia common algorithm include:
		cabc
		aad
		pregm
		hdr10_tmo

if AMLOGIC_MEDIA_COMMON_ALGORITHM
source "drivers/amlogic/algorithm/common/cabc/Kconfig"
source "drivers/amlogic/algorithm/common/aad/Kconfig"
source "drivers/amlogic/algorithm/common/pregm/Kconfig"
source "drivers/amlogic/algorithm/common/hdr10_tmo/Kconfig"
source "drivers/amlogic/algorithm/common/blue_stretch/Kconfig"
source "drivers/amlogic/algorithm/common/cuva/Kconfig"
source "drivers/amlogic/algorithm/common/color_tune/Kconfig"
endif

endmenu
