#
# Amlogic temperature sensor configuration
#

menu "Amlogic Thermal and Cooling devices"

config AMLOGIC_THERMAL
	tristate "Amlgoic temperature sensor Support"
	depends on THERMAL
	default n
	help
		Thermal sensor low level support for thermal
		This driver parse thermal config data from device tree files.
		And register each cooling device for thermal framework.

		If you want this support, you should say Y here.

endmenu
