#
# Amlogic temperature sensor configuration
#

menu "Amlogic Thermal and Cooling devices"

config AMLOGIC_THERMAL
	tristate "Amlgoic temperature sensor Support"
	depends on THERMAL && AMLOGIC_SEC
	default n
	help
		Thermal sensor low level support for thermal
		This driver parse thermal config data from device tree files.
		And register each cooling device for thermal framework.

		If you want this support, you should say Y here.

config AMLOGIC_COOLDEV
	bool "Amlogic cooling devices Support"
	depends on AMLOGIC_THERMAL
	default n
	help
		This implements the all cooling devices
		This will be useful for platforms using the generic thermal interface
		and not the ACPI interface.

		If you want this support, you should say Y here.

config AMLOGIC_CPUCORE_THERMAL
	bool "generic cpu core cooling support"
	depends on AMLOGIC_COOLDEV
	default n
	help
		This implements the generic cpu cooling mechanism through reduce cpu core numbers
		This will be useful for platforms using the generic thermal interface
		and not the ACPI interface.

		If you want this support, you should say Y here.

config AMLOGIC_GPU_THERMAL
	tristate "generic gpu cooling support"
	depends on AMLOGIC_COOLDEV
	default n
	help
		This implements the generic gpu cooling mechanism through frequency reduction
		This will be useful for platformas using the generic thermal interface
		and not the ACPI interface.

		If you want this support, you should say Y here.

config AMLOGIC_GPUCORE_THERMAL
	tristate "generic gpu core cooling support"
	depends on AMLOGIC_COOLDEV
	default n
	help
		This implements the generic gpu cooling mechanism through reduce gpu core numbers.
		This will be useful for platforms using the generic thermal interface
		and not the ACPI interface.

		If you want this support, you should say Y here.

config AMLOGIC_DDR_THERMAL
	tristate "generic ddr cooling support"
	depends on AMLOGIC_COOLDEV
	default n
	help
		This implements change the ddr reflash rate.
		This will be useful for platforms using the generic thermal interface
		and not the ACPI interface.

		If you want this support, you should say Y here.

endmenu
