menuconfig AMLOGIC_MEMORY_EXTEND
	bool "AMLOGIC memory extend support"
	depends on AMLOGIC_DRIVER
	depends on AMLOGIC_MODIFY
	default n
	help
		Amlogic memory extend is drivers which extend for memory management
		functions, can be used for memory debug or other features.

config AMLOGIC_PAGE_TRACE
	bool "Amlogic trace for page allocate"
	depends on AMLOGIC_MEMORY_EXTEND
	depends on KALLSYMS
	depends on !NUMA_BALANCING
	default n
	help
		Amlogic page trace will record function address of caller for page
		allocate/free, according with allocate flags and order. trace
		information is stored in a pre-allocated memory block. And can be shown
		with allocate page count information of each caller functions from
		/proc/pagetrace

config AMLOGIC_SLAB_TRACE
	bool "Amlogic trace for slab usage"
	depends on SLUB
	depends on AMLOGIC_PAGE_TRACE
	default n
	help
		Amlogic slab trace will record function address of caller for slab
		allocate/free(kmalloc-xxxx only). trace information is stored in
		a rb tree. And can be shown with allocate size information of
		each caller functions from /proc/slabtrace

config AMLOGIC_RAMDUMP
	bool "Amlogic RAM DUMP support"
	depends on AMLOGIC_MEMORY_EXTEND
	depends on PANIC_TIMEOUT != 0
	default n
	help
		RAM dump support for amlogic platform, when system is rebooted
		after panic/watch dog reboot, you may need this option to save
		whole ram to /data/ partition. Which can be used for analyze
		crash reason.

config AMLOGIC_KDUMP
	bool "Amlogic KDUMP support"
	depends on KEXEC_CORE
	default n
	help
		kdump support for amlogic android platform, when system is rebooted
		after panic/watch dog reboot, you may need this option to save
		whole ram to /data/ partition. Which can be used for analyze
		crash reason.

config AMLOGIC_CMA
	bool "Amlogic CMA change"
	depends on AMLOGIC_MEMORY_EXTEND
	depends on CMA
	default n
	help
		Amlogic CMA optimization for cma alloc/free problems
		Including policy change of CMA usage

config AMLOGIC_VMAP
	bool "Amlogic kernel stack"
	depends on AMLOGIC_MEMORY_EXTEND
	select AMLOGIC_STACKPROTECTOR
	default n
	help
		This config is used to enable amlogic kernel stack
		usage optimization with vmalloc. It depends on
		AMLOGIC_MEMORY_EXTEND. This config only opened
		on 64 bit platform.

config AMLOGIC_VMALLOC_SHRINKER
	bool "Amlogic vmalloc shrinker"
	depends on AMLOGIC_MEMORY_EXTEND
	depends on 64BIT
	default n
	help
		This config is used to enable amlogic vmalloc shrinker
		function, it will compress/decompress vmalloc memory to zram
		in order to save memory. It depends on AMLOGIC_MEMORY_EXTEND.

config AMLOGIC_STACKPROTECTOR
	bool "Amlogic stack protector"
	depends on AMLOGIC_MEMORY_EXTEND
	default n
	help
		This config is used to disable CONFIG_STACKPROTECTOR
		if enabled AMLOGIC_VMAP. CONFIG_STACKPROTECTOR have
		bad effect to save stack usage.

config AMLOGIC_WATCHPOINT
	tristate "Amlogic point driver"
	depends on HAVE_HW_BREAKPOINT
	depends on AMLOGIC_MEMORY_EXTEND
	default n
	help
		This driver export a debug sysfs in order
		to using watch point function on ARMv8.
		say y to enable Amlogic watch point driver

config AMLOGIC_MEM_DEBUG
	bool "Amlogic debug mem"
	depends on AMLOGIC_DEBUG
	default n
	help
		Memory debug which hacking to kernel mm source.
		Enable if doubt.

config AMLOGIC_PIN_LOCKED_FILE
	bool "Amlogic pin locked file"
	depends on AMLOGIC_MEMORY_EXTEND
	default n
	help
		If we pin a file in android, the whole daa of this
		file will be loaded to DDR, but most of these data
		may not be used, this caused memory waste.
		delay mark mlocked flags for unevictable pages until
		it has been faulted.

config AMLOGIC_PCIE_DMA_OPS
	tristate "Amlogic PCIE dma_ops"
	depends on AMLOGIC_MEMORY_EXTEND
	default n
	help
		custom a dma_ops to limit the memory for PCIE device
		operations to a fixed area

config AMLOGIC_FAKE_SMMU
	tristate "Amlogic fake smmu"
	depends on AMLOGIC_MEMORY_EXTEND
	depends on AMLOGIC_PCIE_DMA_OPS
	default n
	help
		Register a fake smmu device to replace ops for 64bit
