#
# Amlogic video Sink configuration
#

menu "Amlogic Video Sink Driver Support"

config AMLOGIC_MEDIA_VIDEO
	bool "Amlogic Video Sink Driver"
	default n
	help
		Amlogic Video Sink module support.
		This module driver include basic
		video, vpp etc.

if AMLOGIC_MEDIA_VIDEO

config  AMLOGIC_MEDIA_VSYNC_RDMA
	bool "VSYNC CBUS RDMA"
	default n
    depends on AMLOGIC_MEDIA_RDMA
	help
		Amlogic Video Media RDMA support.
		Select to enable VSYNC CBUS RDMA.

endif

config AMLOGIC_MEDIA_VIDEOCAPTURE
    bool "Amlogic Video Capture support"
    default n
    help
		Amlogic Video Media Capture support.
		Internal Video Capture driver.

config AMLOGIC_MEDIA_DUMMY_PROVIDER
    bool "Amlogic Dummy Video Provider"
    default n
    help
	Amlogic Video Media Dummy Provider support
	Internal Dummy Video Provider driver

endmenu
