menu "Out-of-band device drivers"

config EVL_LATMUS
	bool "Latency calibration and measurement"
	depends on EVL
	default y

config EVL_HECTIC
	bool "OOB context switching validator"
	depends on EVL
	default y

endmenu
