
#
# Amlogic multimedia configuration
#

menu "Amlogic multimedia configuration"

config AMLOGIC_MEDIA_MODULE
	tristate "Amlogic Multimedia compile support"
	default y
	help
		media module compile support
		select y for built-in
		select m for ko
		select n for disable

config AMLOGIC_MEDIA_ENABLE
	bool "Amlogic Multimedia Support"
	default n
	help
		Amlogic multimedia framework composed of two parts,
		the first part is common which consists of modules
		such as arch, codec_mm, vfm, the second is driver
		part of the media, both of which depends on this
		configuration options.

config AMLOGIC_MEDIA_COMMON
	bool "Amlogic the common of the media"
	depends on AMLOGIC_MEDIA_ENABLE
	default n
	help
		This option is used to configure Amlogic common
		for media, it as the basis for drivers of the
		multimedia, mainly on the operation of the
		registers, memory allocation and the chain of
		responsibility management of the frame processing.


config AMLOGIC_MEDIA_DRIVERS
	bool "Amlogic drivers of the media"
	depends on AMLOGIC_MEDIA_COMMON
	default n
	help
		This option is used to configure Amlogic drivers
		of the multimedia, which consists of video decoder
		module, video decoder management module and post
		processing of the frame.

config AMLOGIC_MEDIA_MULTI_DEC
	bool "Support multi-instance decoding"
	default n
	help
		Support for multi-instance decoding features,
		this option must be configured if multi playback
		is required, the feature supports decoding
		at the same time.

config AMLOGIC_MEDIA_NO_PARSER
	bool "The stream buffer works on non-parser mode."
	depends on AMLOGIC_MEDIA_DRIVERS
	default n
	help
		The module of hardware parser will be removed after
		SC2 platform. therefore the parser modules can't be
		builded in ko if enable this item.

if AMLOGIC_MEDIA_COMMON
source "drivers/amlogic/media/common/Kconfig"
endif

source "drivers/amlogic/media/camera/Kconfig"
if AMLOGIC_MEDIA_DRIVERS
source "drivers/amlogic/media/video_sink/Kconfig"
source "drivers/amlogic/media/vout/Kconfig"
source "drivers/amlogic/media/vrr/Kconfig"
source "drivers/amlogic/media/osd/Kconfig"
source "drivers/amlogic/media/deinterlace/Kconfig"
source "drivers/amlogic/media/di_multi/Kconfig"
source "drivers/amlogic/media/di_local/Kconfig"
source "drivers/amlogic/media/video_processor/Kconfig"
source "drivers/amlogic/media/enhancement/Kconfig"
source "drivers/amlogic/media/frame_sync/Kconfig"
source "drivers/amlogic/media/gdc/Kconfig"
source "drivers/amlogic/media/vin/Kconfig"
source "drivers/amlogic/media/cec/Kconfig"
source "drivers/amlogic/media/esm/Kconfig"
source "drivers/amlogic/media/atv_demod/Kconfig"
source "drivers/amlogic/media/avsync/Kconfig"
source "drivers/amlogic/media/dtv_demod/Kconfig"
source "drivers/amlogic/media/frc/Kconfig"
source "drivers/amlogic/media/di_v4l/Kconfig"
source "drivers/amlogic/media/vpp/Kconfig"
source "drivers/amlogic/media/vpq/Kconfig"
endif
endmenu

