config AMLOGIC_MODIFY
	bool "Amlogic modify for kernel code"
	default n
	help
		This option is set up for AMLOGIC modify of standard
		kernel source code. All modify of kernel standard code
		should be wrapped by this config

config AMLOGIC_ARMV8_AARCH64
	bool "AARCH64 kernel support for Amlogic ARMv8 Soc"
	depends on AMLOGIC_MODIFY || COMPILE_TEST
	default n
	help
	  aarch32 and aarch64 kernels are supported for armv8 socs.
	  enable this config to select 64 bit kernel.
	  Select Y if doult.
config AMLOGIC_DRIVER
	bool "Amlogic Peripheral drivers"
	depends on AMLOGIC_MODIFY
	default n
	help
		this option is provided for control amlogic
		drivers, if you want to use amlogic driver
		please open it.
		Note: All amlogic driver should be placed in
		this directory

config AMLOGIC_ALLYESCONFIG
	bool "Amlogic compile config option"
	default n
	help
		This option is set up for masking frame size
		limit in drivers/Makefile file. When we compile
		kernel with --allyesconfig, we not limit the
		frame size.

if AMLOGIC_DRIVER
menu "Amlogic Device Drivers"
# Please add folders in alphabetical order
source "drivers/amlogic/cpufreq/Kconfig"

source "drivers/amlogic/cpuidle/Kconfig"

source "drivers/amlogic/efuse_unifykey/Kconfig"

source "drivers/amlogic/defendkey/Kconfig"

source "drivers/amlogic/ddr_tool/Kconfig"

source "drivers/amlogic/crypto/Kconfig"

source "drivers/amlogic/free_reserved/Kconfig"

source "drivers/amlogic/mailbox/Kconfig"

source "drivers/amlogic/reg_access/Kconfig"

source "drivers/amlogic/pm/Kconfig"

source "drivers/amlogic/media/Kconfig"
source "drivers/amlogic/pci/Kconfig"
source "drivers/amlogic/power/Kconfig"

source "drivers/amlogic/pinctrl/Kconfig"
source "drivers/amlogic/usb/Kconfig"

source "drivers/amlogic/thermal/Kconfig"

source "drivers/amlogic/clk_debug/Kconfig"
source "drivers/amlogic/debug/Kconfig"
source "drivers/amlogic/input/Kconfig"

source "drivers/amlogic/tee/Kconfig"

source "drivers/amlogic/memory_ext/Kconfig"

source "drivers/amlogic/bluetooth/Kconfig"
source "drivers/amlogic/wifi/Kconfig"
source "drivers/amlogic/jtag/Kconfig"

source "drivers/amlogic/uart/Kconfig"
source "drivers/amlogic/reboot/Kconfig"
source "drivers/amlogic/smartcard/Kconfig"
source "drivers/amlogic/gki_tool/Kconfig"

endmenu
endif
