#
# Amlogic driver configuration
#
menu "Amlogic Device Drivers"
#
#	Char devices
#
comment "meson timer driver"

source "drivers/amlogic/clocksource/Kconfig"

source "drivers/amlogic/uart/Kconfig"

source "drivers/amlogic/cpu_version/Kconfig"

source "drivers/amlogic/gpio/Kconfig"

source "drivers/amlogic/pinctrl/Kconfig"

source "drivers/amlogic/i2c/Kconfig"

source "drivers/amlogic/rtc/Kconfig"

source "drivers/amlogic/aml_debug/Kconfig"

endmenu
