// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Amlogic, Inc. All rights reserved.
 */

/dts-v1/;

#include "meson-a4.dtsi"
#include <dt-bindings/input/input.h>
#include "mesona4_ba400-panel.dtsi"

/ {
	lcd {
		status = "okay";
	};

	backlight{
		status = "okay";
	};
};

/ {
	model = "Amlogic";
	amlogic-dt-id = "a4_a113l2_ba400_sbr";
	compatible = "amlogic, a4";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &uart_B;
		serial1 = &uart_A;
		serial2 = &uart_D;
		serial3 = &uart_E;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		//spi0 = &spifc;
		spi1 = &spicc0;
		spi2 = &spicc1;
		tsensor0 = &p_tsensor;
	};

	memory@00000000 {
		device_type = "memory";
		linux,usable-memory = <0x0 0x0 0x0 0x40000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		ramdump_bl33z@00000000 {
			reg = <0x0 0x0 0x0 0x1800000>; /* 0 ~ 24M */
			status = "disabled";
		};

		dsp_fw_reserved:linux,dsp_fw {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x00800000>;
			alignment = <0x0 0x00400000>;
			alloc-ranges = <0x0 0x30000000 0x0 0x00800000>;
		};

		/* global autoconfigured region for contiguous allocations */
		ramoops@0x07400000 {
			compatible = "ramoops";
			reg = <0x0 0x07400000 0x0 0x00100000>;
			record-size = <0x20000>;
			console-size = <0x40000>;
			ftrace-size = <0x80000>;
			pmsg-size = <0x20000>;
		};

		secmon_reserved:linux,secmon {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x3400000>;
			alignment = <0x0 0x400000>;
			alloc-ranges = <0x0 0x05000000 0x0 0x00c00000>;
		};

		logo_reserved:linux,meson-fb {
			compatible = "shared-dma-pool";
			reusable;
			/* keep sync with fb */
			/* fox example:logo_addr = "0x3f800000"*/
			size = <0x0 0x0>;
			alignment = <0x0 0x400000>;
			reg = <0x0 0x3f000000 0x0 0xc00000>;
		};

		ion_cma_reserved:linux,ion-dev {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 0x2000000>;
			alignment = <0x0 0x400000>;
		};
		codec_mm_cma:linux,codec_mm_cma {
			compatible = "shared-dma-pool";
			reusable;
			/* ion_codec_mm max can alloc size 80M*/
			size = <0x0 0x1000000>;
			alignment = <0x0 0x400000>;
			linux,contiguous-region;
		};

		/* codec shared reserved */
		codec_mm_reserved:linux,codec_mm_reserved {
			compatible = "amlogic, codec-mm-reserved";
			size = <0x0 0x0>;
			alignment = <0x0 0x100000>;
			//no-map;
		};
	};

/*	codec_mm {
		compatible = "amlogic, codec, mm";
		memory-region = <&codec_mm_cma &codec_mm_reserved>;
		dev_name = "codec_mm";
		status = "okay";
	};
*/
	vcc5v_reg: fixed@vcc5v_reg{
		vin-supply = <&dc_12v>;
		compatible = "regulator-fixed";
		regulator-name = "VCC5V";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		//BA400 2R52 is NC;
		//gpio = <&ao_gpio GPIO_TEST_N GPIO_ACTIVE_HIGH>;
		//enable-active-high;
		regulator-boot-on;
		//regulator-always-on;
	};

	vddio3v3_reg: fixed@vddio3v3_reg{
		vin-supply = <&vddao3v3_reg>;
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&ao_gpio GPIO_TEST_N GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};

	vddio_x: fixed@vddio_x {
		vin-supply = <&vddao3v3_reg>;
		compatible = "regulator-fixed";
		regulator-name = "VDDIO_X";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		// for led use GPIOD_8
		//gpios = <&gpio GPIOD_8 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
		regulator-always-on;
	};

	sd_3v3_reg: fixed@sd_3v3_reg{
		vin-supply = <&vddao3v3_reg>;
		compatible = "regulator-fixed";
		regulator-name = "SD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vddds1v8_reg: fixed@vddds1v8_reg{
		vin-supply = <&vddao3v3_reg>;
		compatible = "regulator-fixed";
		regulator-name = "VDD_DSOFF_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&ao_gpio GPIOAO_0 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};

	provisionkey {
		compatible = "amlogic, provisionkey";
		status = "disabled";
		key-permit-default = "write";
		//new key not need add dts if started with KEY_PROVISION_
		KEY_PROVISION_XXX { };
		//test_my_added_keyname { };
	};//End provisionkey

	unifykey{
		compatible = "amlogic,unifykey";
		status = "okay";
		unifykey-num = <8>;
		unifykey-index-0 = <&keysn_0>;
		unifykey-index-1 = <&keysn_1>;
		unifykey-index-2 = <&keysn_2>;
		unifykey-index-3 = <&keysn_3>;
		unifykey-index-4 = <&keysn_4>;
		unifykey-index-5 = <&keysn_5>;
		unifykey-index-6 = <&keysn_6>;
		unifykey-index-7 = <&keysn_7>;

		keysn_0:key_0{
			key-name = "usid";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_1:key_1{
			key-name = "mac";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_2:key_2{
			key-name = "secure_boot_set";
			key-device = "efuse";
			key-permit = "write";
		};
		keysn_3:key_3{
			key-name = "mac_bt";
			key-device = "normal";
			key-permit = "read","write","del";
			key-type  = "mac";
		};
		keysn_4:key_4{
			key-name = "mac_wifi";
			key-device = "normal";
			key-permit = "read","write","del";
			key-type = "mac";
		};
		keysn_5:key_5{
			key-name = "deviceid";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_6:key_6{
			key-name = "region_code";
			key-device = "normal";
			key-permit = "read","write","del";
		};
		keysn_7:key_7{
			key-name = "oemkey";
			key-device = "normal";
			key-permit = "read","write","del";
		};
	};//End unifykey

	efusekey:efusekey{
		keynum = <4>;
		key0 = <&key_0>;
		key1 = <&key_1>;
		key2 = <&key_2>;
		key3 = <&key_3>;
		key_0:key_0{
			keyname = "mac";
			offset = <0>;
			size = <6>;
		};
		key_1:key_1{
			keyname = "mac_bt";
			offset = <6>;
			size = <6>;
		};
		key_2:key_2{
			keyname = "mac_wifi";
			offset = <12>;
			size = <6>;
		};
		key_3:key_3{
			keyname = "usid";
			offset = <18>;
			size = <16>;
		};
	};//End efusekey

	adc_keypad {
		compatible = "amlogic, adc_keypad";
		status = "okay";
		key_name = "update", "vol-", "vol+", "ok" ,"power";
		key_num = <5>;
		io-channels = <&saradc 2>;
		io-channel-names = "key-chan-2";
		key_chan = <2 2 2 2 2>;
		key_code = <KEY_SETUP KEY_VOLUMEDOWN KEY_VOLUMEUP KEY_ENTER KEY_POWER>;
		key_val = <0 143 266 389 512>; /* val=voltage/1800mV*1023 */
		key_tolerance = <40 40 40 40 40>;
	};

	gpio_keypad {
		compatible = "amlogic, gpio_keypad";
		status = "disabled";
		scan_period = <20>;
		key_num = <1>;
		key_name = "mute";
		key_code = <SW_MUTE_DEVICE>;
		key_type = <EV_SW>;
		key-gpios = <&gpio GPIOD_11 GPIO_ACTIVE_HIGH>;
		detect_mode = <0>; /* 0:polling mode, 1:irq mode */
	};

	partitions: partitions{
		parts = <5>;
		part-0 = <&recovery>;
		part-1 = <&misc>;
		part-2 = <&boot>;
		part-3 = <&system>;
		part-4 = <&data>;

		recovery:recovery{
			pname = "recovery";
			size = <0x0 0x2000000>;
			mask = <1>;
		};
		misc:misc{
			pname = "misc";
			size = <0x0 0x800000>;
			mask = <1>;
		};
		boot:boot
		{
			pname = "boot";
			size = <0x0 0x4000000>;
			mask = <1>;
		};
		system:system
		{
			pname = "system";
			size = <0x0 0x40000000>;
			mask = <1>;
		};
		data:data
		{
			pname = "data";
			size = <0xffffffff 0xffffffff>;
			mask = <4>;
		};
	};
};

&crg_udc_2 {
	status = "okay";
};

&crg20_otg {
	status = "okay";
	controller-type = <3>;
};

&crg2_drd {
	compatible = "amlogic, crg-host-drd";
	status = "okay";
};

&crg_phy_20 {
	status = "okay";
	portnum = <2>;
	gpio-vbus-power = "GPIOD_6";
	gpios = <&gpio GPIOD_6 GPIO_ACTIVE_HIGH>;
};

&crg3_phy_20 {
	status = "okay";
	portnum = <0>;
};

&crg21_drd {
	compatible = "amlogic, crg-drd";
	status = "okay";
};

&crg_phy_21 {
	status = "disabled";
	portnum = <1>;
	gpio-vbus-power = "GPIOD_10";
	gpios = <&gpio GPIOD_10 GPIO_ACTIVE_HIGH>;
};

&crg3_phy_21 {
	status = "okay";
	portnum = <0>;
};

/* SDIO */
&sd_emmc_a {
	status = "okay";
	pinctrl-0 = <&sdio_pins>;
	pinctrl-1 = <&sdio_clk_gate_pins>;
	pinctrl-names = "default", "clk-gate";
	#address-cells = <1>;
	#size-cells = <0>;

	bus-width = <4>;
	cap-sd-highspeed;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	max-frequency = <200000000>;

	non-removable;
	disable-wp;
	card_type = <3>;
	cap-sdio-irq;
	keep-power-in-suspend;

	//vmmc-supply = <&vddao_3v3>;
	//vqmmc-supply = <&vddio_ao1v8>;

	brcmf: wifi@1 {
		reg = <1>;
		compatible = "brcm,bcm4329-fmac";
	};
};

/* SD card pxp bringup */
//&sd_emmc_a {
//	status = "okay";
//	pinctrl-0 = <&sdcard_pins>;
//	pinctrl-1 = <&sdcard_clk_gate_pins>;
//	pinctrl-2 = <&sd_1bit_pins>;
//	pinctrl-names = "sd_default",
//			"clk-gate",
//			"sd_1bit_pins";
//	bus-width = <4>;
//	cap-sd-highspeed;
//	max-frequency = <200000000>;
//	disable-wp;
//	card_type = <5>;
//
//	cd-gpios = <&gpio GPIOX_7 GPIO_ACTIVE_HIGH>;
//	//vmmc-supply = <&vddao_3v3>;
//	//vqmmc-supply = <&emmc_1v8>;
//};

/* SD card */
&sd_emmc_b {
	status = "disabled";
	pinctrl-0 = <&sdcard_pins>;
	pinctrl-1 = <&sdcard_clk_gate_pins>;
	pinctrl-2 = <&sd_1bit_pins>;
	pinctrl-3 = <&sd_to_ao_uart_clr_pins
		&sdcard_pins &ao_to_sd_uart_pins>;
	pinctrl-4 = <&sd_to_ao_uart_clr_pins
		&sd_1bit_pins &ao_to_sd_uart_pins>;
	pinctrl-5 = <&sdcard_pins &ao_uart_pins>;
	pinctrl-6 = <&sd_to_ao_uart_clr_pins
		&ao_to_sd_uart_pins>;
	pinctrl-7 = <&sdcard_pins &ao_uart_pins>;
	pinctrl-8 = <&sd_to_ao_uart_clr_pins
		&ao_to_sd_uart_pins>;
	pinctrl-names = "sd_default",
			"clk-gate",
			"sd_1bit_pins",
			"sd_clk_cmd_uart_pins",
			"sd_1bit_uart_pins",
			"sd_to_ao_uart_pins",
			"ao_to_sd_uart_pins",
			"sd_to_ao_jtag_pins",
			"ao_to_sd_jtag_pins";
	bus-width = <4>;
	cap-sd-highspeed;
//	sd-uhs-sdr12;
//	sd-uhs-sdr25;
//	sd-uhs-sdr50;
//	sd_uhs-sdr104;
	max-frequency = <200000000>;
	disable-wp;

	//cd-gpios = <&gpio GPIOC_6 GPIO_ACTIVE_HIGH>;
	//dat1-gpios = <&gpio GPIOC_1 GPIO_ACTIVE_HIGH>;
	//vmmc-supply = <&sd_3v3_reg>;
	//vqmmc-supply = <&vddio_x>;
};

&sd_emmc_c {
	status = "okay";
	pinctrl-0 = <&emmc_pins>, <&emmc_ds_pins>;
	pinctrl-1 = <&emmc_clk_gate_pins>;
	pinctrl-2 = <&emmc_pins_sleep>;
	pinctrl-names = "default", "clk-gate", "sleep";

	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	max-frequency = <200000000>;
	non-removable;
	disable-wp;

//	mmc-pwrseq = <&emmc_pwrseq>;
//	vmmc-supply = <&vddao_3v3>;
//	vqmmc-supply = <&vddao_1v8>;
};

&mtd_nand {
	status = "disabled";
	#address-cells = <1>;
	#size-cells = <0>;

	pinctrl-names = "nand_norb_mod","nand_cs_only";
	pinctrl-0 = <&all_nand_pins>;
	pinctrl-1 = <&nand_cs_pins>;
	bl_mode = <1>;
	fip_copies = <4>;
	fip_size = <0x200000>;
	ship_bad_block = <1>;
	disa_irq_flag = <1>;
	nand@bootloader {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		nand-ecc-maximize;
		partition@0 {
			label = "bootloader";
			reg = <0x0 0x00000000>;
		};
	};
	nand@normal {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		nand-ecc-maximize;

		partition@0 {
			label = "bl2e";
			reg = <0x0 0x00000000>;
		};
		partition@1 {
			label = "bl2x";
			reg = <0x0 0x00000000>;
		};
		partition@2 {
			label = "ddrfip";
			reg = <0x0 0x00000000>;
		};
		partition@3 {
			label = "tpl";
			reg = <0x0 0x00000000>;
		};
		partition@4 {
			label = "logo";
			reg = <0x0 0x00200000>;
		};
		partition@5 {
			label = "recovery";
			reg = <0x0 0x1000000>;
		};
		partition@6 {
			label = "boot";
			reg = <0x0 0x0F00000>;
		};
		partition@7 {
			label = "system";
			reg = <0x0 0x11800000>;
		};
		partition@8 {
			label = "data";
			reg = <0x0 0xffffffff>;
		};
	};
};

&saradc {
	status = "okay";
};

&ir {
	status = "okay";
	pinctrl-0 = <&remote_pins>;
	pinctrl-names = "default";
};

&spicc0 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&spicc0_pins_t>;
};

&spicc1 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&spicc1_pins_t>;
};

&aml_wifi{
	status = "okay";
	interrupt-gpios = <&ao_gpio  GPIOAO_2  GPIO_ACTIVE_HIGH>;
	power_on-gpios = <&gpio   GPIOX_6  GPIO_ACTIVE_HIGH>;
};

&aml_bt {
	status = "disabled";
	reset-gpios = <&gpio GPIOX_16 GPIO_ACTIVE_HIGH>;
	//btwakeup-gpios = <&gpio    GPIOX_18 GPIO_ACTIVE_HIGH>;
	//hostwake-gpios = <&gpio GPIOX_19 GPIO_ACTIVE_HIGH>;
};

&pwm_gh {
	status = "okay";
};

&fb {
	status = "okay";
	display_size_default = <1280 720 1280 1440 32>;
	mem_size = <0x00400000 0x800000>;
	logo_addr = "0x3f000000";
	/* display_device_cnt = <2>; */ /* for dual screen upport */
	mem_alloc = <1>;
	pxp_mode = <0>; /** 0:normal mode 1:pxp mode */
};

&uart_A {
	status = "okay";
	uart-has-rtscts;
};

&uart_B {
	status = "okay";
};

&ethmac {
	status = "okay";
	phy-handle = <&internal_ephy>;
	phy-mode = "rmii";
};

&i2c2 {
	status = "okay";
	pinctrl-names="default";
	pinctrl-0=<&i2c2_pins1>;
	clock-frequency = <100000>;
};

&i2c3 {
	status = "okay";
	pinctrl-names="default";
	pinctrl-0=<&i2c3_pins1>;
	clock-frequency = <100000>;

	gt9xx@5d {
		compatible = "goodix,gt9xx";
		status = "okay";
		reg = <0x5d>;
		irq-gpios = <&gpio GPIOD_10 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio GPIOD_11 GPIO_ACTIVE_LOW>;

		touchscreen-size-x = <1024>;
		touchscreen-size-y = <600>;
		touchscreen-max-w = <1024>;
		touchscreen-max-p = <1024>;
	};

};

&custom_maps{
		mapnum = <4>;
		map0 = <&map_0>;
		map1 = <&map_1>;
		map2 = <&map_2>;
		map3 = <&map_3>;
		map_0: map_0{
			mapname = "amlogic-remote-1";
			customcode = <0xfb04>;
			release_delay = <80>;
			size  = <50>;   /*keymap size*/
			keymap = <REMOTE_KEY(0x47, KEY_0)
				REMOTE_KEY(0x13, KEY_1)
				REMOTE_KEY(0x10, KEY_2)
				REMOTE_KEY(0x11, KEY_3)
				REMOTE_KEY(0x0F, KEY_4)
				REMOTE_KEY(0x0C, KEY_5)
				REMOTE_KEY(0x0D, KEY_6)
				REMOTE_KEY(0x0B, KEY_7)
				REMOTE_KEY(0x08, KEY_8)
				REMOTE_KEY(0x09, KEY_9)
				REMOTE_KEY(0x5C, KEY_RIGHTCTRL)
				REMOTE_KEY(0x51, KEY_F3)
				REMOTE_KEY(0x50, KEY_F4)
				REMOTE_KEY(0x40, KEY_F5)
				REMOTE_KEY(0x4d, KEY_F6)
				REMOTE_KEY(0x43, KEY_F7)
				REMOTE_KEY(0x17, KEY_F8)
				REMOTE_KEY(0x00, KEY_F9)
				REMOTE_KEY(0x01, KEY_F10)
				REMOTE_KEY(0x16, KEY_F11)
				REMOTE_KEY(0x49, KEY_BACKSPACE)
				REMOTE_KEY(0x06, KEY_PROPS)
				REMOTE_KEY(0x14, KEY_UNDO)
				REMOTE_KEY(0x44, KEY_UP)
				REMOTE_KEY(0x1D, KEY_DOWN)
				REMOTE_KEY(0x1C, KEY_LEFT)
				REMOTE_KEY(0x48, KEY_RIGHT)
				REMOTE_KEY(0x53, KEY_LEFTMETA)
				REMOTE_KEY(0x45, KEY_PAGEUP)
				REMOTE_KEY(0x19, KEY_PAGEDOWN)
				REMOTE_KEY(0x52, KEY_PAUSE)
				REMOTE_KEY(0x05, KEY_HANGEUL)
				REMOTE_KEY(0x59, KEY_HANJA)
				REMOTE_KEY(0x1b, KEY_SCALE)
				REMOTE_KEY(0x04, KEY_KPCOMMA)
				REMOTE_KEY(0x1A, KEY_POWER)
				REMOTE_KEY(0x0A, KEY_TAB)
				REMOTE_KEY(0x0e, KEY_MUTE)
				REMOTE_KEY(0x1F, KEY_HOME)
				REMOTE_KEY(0x1e, KEY_FRONT)
				REMOTE_KEY(0x07, KEY_COPY)
				REMOTE_KEY(0x12, KEY_OPEN)
				REMOTE_KEY(0x54, KEY_PASTE)
				REMOTE_KEY(0x02, KEY_FIND)
				REMOTE_KEY(0x4f, KEY_A)
				REMOTE_KEY(0x42, KEY_B)
				REMOTE_KEY(0x5d, KEY_C)
				REMOTE_KEY(0x4c, KEY_D)
				REMOTE_KEY(0x58, KEY_CUT)
				REMOTE_KEY(0x55, KEY_CALC)>;
		};
		map_1: map_1{
			mapname = "amlogic-remote-2";
			customcode = <0xfe01>;
			release_delay = <80>;
			size  = <57>;
			keymap = <
				REMOTE_KEY(0x10, 200) /* power */
				REMOTE_KEY(0x1f, 201) /* eject-->input source */
				REMOTE_KEY(0x01, 202) /* usb */
				REMOTE_KEY(0x02, 203) /* bt */
				REMOTE_KEY(0x03, 204) /* aux */
				REMOTE_KEY(0x04, 205) /* scan-->hdmi arc */
				REMOTE_KEY(0x05, 206) /* spdif */
				REMOTE_KEY(0x06, 207) /* hdmi1 */
				REMOTE_KEY(0x07, 208) /* hdmi2 */
				REMOTE_KEY(0x17, 209) /* mute */
				REMOTE_KEY(0x0c, 210) /* vol+ */
				REMOTE_KEY(0x0d, 211) /* vol- */
				REMOTE_KEY(0x53, 212) /* DAP */
				REMOTE_KEY(0x52, 213) /* BM */
				REMOTE_KEY(0x49, 214) /* DRC */
				REMOTE_KEY(0x46, 215) /* POST */
				REMOTE_KEY(0x58, 216) /* UPMIX */
				REMOTE_KEY(0x5a, 217) /* VIRT */
				REMOTE_KEY(0x39, 218) /* VLAMP */
				REMOTE_KEY(0x40, 219) /* HFILT */
				REMOTE_KEY(0x42, 220) /* Loundness */
				REMOTE_KEY(0x1e, 221) /* VMCAL/cspread */
				REMOTE_KEY(0xb1, 222) /* CD */
				REMOTE_KEY(0xb4, 223) /* CD */
				REMOTE_KEY(0xb9, 224) /* CD */
				REMOTE_KEY(0x08, 225) /* loop */
				REMOTE_KEY(0x91, 226) /* CD */
				REMOTE_KEY(0x92, 227) /* CD */
				REMOTE_KEY(0x89, 228) /* CD */
				REMOTE_KEY(0x88, 229) /* CD */
				REMOTE_KEY(0x59, 230) /* Audio_info */
				REMOTE_KEY(0x84, 231) /* CD */
				REMOTE_KEY(0x1c, 232) /* DRC X+0.1 */
				REMOTE_KEY(0x1b, 233) /* DRC X-0.1 */
				REMOTE_KEY(0x19, 234) /* up/DRC Y+0.1 */
				REMOTE_KEY(0x1a, 235) /* down/DRC Y-0.1 */
				REMOTE_KEY(0xa0, 236) /* CD */
				REMOTE_KEY(0x0b, 237) /* Soft mute */
				REMOTE_KEY(0x0f, 238) /* soft vol- */
				REMOTE_KEY(0x0e, 239) /* soft vol+ */
				REMOTE_KEY(0x11, 240) /* Resume */
				REMOTE_KEY(0x57, 241) /* Pause */
				REMOTE_KEY(0x44, 242) /* LEGACY */
				REMOTE_KEY(0xa7, 243) /* CD */
				REMOTE_KEY(0x09, 244) /* random */
				REMOTE_KEY(0x00, 245) /* dtsx direct mode */
				REMOTE_KEY(0x0a, 246) /* dtsx drc  */
				REMOTE_KEY(0x5b, 247) /* dtsx imax  */
				REMOTE_KEY(0x13, 248) /* dtsx dialog gain  */
				REMOTE_KEY(0x41, 249) /* dtsx dialog norm  */
				REMOTE_KEY(0x43, 250) /* dtsx spkrout */
				REMOTE_KEY(0x15, 251) /* pcm surround effect */
				REMOTE_KEY(0x4b, 252) /* dtsvx enable */
				REMOTE_KEY(0x54, 253) /* dtsvx surround */
				REMOTE_KEY(0x4c, 254) /* dtsvx dialog clarity */
				REMOTE_KEY(0x4e, 255) /* dtsvx truvolhd */
				REMOTE_KEY(0x55, 256) /* dtsvx vol leveling*/
				>;
		};
		map_2: map_2{
			mapname = "amlogic-remote-3";
			customcode = <0xbd02>;
			release_delay = <80>;
			size  = <17>;
			keymap = <REMOTE_KEY(0xca,103)
			REMOTE_KEY(0xd2,108)
			REMOTE_KEY(0x99,105)
			REMOTE_KEY(0xc1,106)
			REMOTE_KEY(0xce,97)
			REMOTE_KEY(0x45,116)
			REMOTE_KEY(0xc5,133)
			REMOTE_KEY(0x80,113)
			REMOTE_KEY(0xd0,15)
			REMOTE_KEY(0xd6,125)
			REMOTE_KEY(0x95,102)
			REMOTE_KEY(0xdd,104)
			REMOTE_KEY(0x8c,109)
			REMOTE_KEY(0x89,131)
			REMOTE_KEY(0x9c,130)
			REMOTE_KEY(0x9a,120)
			REMOTE_KEY(0xcd,121)>;
		};
		map_3: map_3{
			mapname = "amlogic-remote-3";
			customcode = <0xa4e8>; /* Reference Remote Control */
			release_delay = <80>;
			size  = <45>;
			keymap = <
				REMOTE_KEY(0xc7, 200) /* power */
				REMOTE_KEY(0x93, 201) /* eject-->input source */
				REMOTE_KEY(0xb2, 202) /* usb */
				REMOTE_KEY(0xb8, 203) /* bt */
				REMOTE_KEY(0xb7, 204) /* aux */
				REMOTE_KEY(0x8a, 205) /* scan-->hdmi arc */
				REMOTE_KEY(0x96, 206) /* spdif */
				REMOTE_KEY(0x90, 207) /* hdmi1 */
				REMOTE_KEY(0xa8, 208) /* hdmi2 */
				REMOTE_KEY(0x85, 209) /* mute */
				REMOTE_KEY(0x80, 210) /* vol+ */
				REMOTE_KEY(0x81, 211) /* vol- */
				REMOTE_KEY(0x61, 212) /* DAP */
				REMOTE_KEY(0x62, 213) /* BM */
				REMOTE_KEY(0x63, 214) /* DRC */
				REMOTE_KEY(0x64, 215) /* POST */
				REMOTE_KEY(0x65, 216) /* UPMIX */
				REMOTE_KEY(0x66, 217) /* VIRT */
				REMOTE_KEY(0x67, 218) /* VLAMP */
				REMOTE_KEY(0x68, 219) /* HFILT */
				REMOTE_KEY(0x69, 220) /* Loundness */
				REMOTE_KEY(0x60, 221) /* VMCAL/cspread */
				REMOTE_KEY(0xb1, 222) /* CD */
				REMOTE_KEY(0xb4, 223) /* CD */
				REMOTE_KEY(0xb9, 224) /* CD */
				REMOTE_KEY(0xab, 225) /* loop */
				REMOTE_KEY(0x91, 226) /* CD */
				REMOTE_KEY(0x92, 227) /* CD */
				REMOTE_KEY(0x89, 228) /* CD */
				REMOTE_KEY(0x88, 229) /* CD */
				REMOTE_KEY(0xa5, 230) /* Audio_info */
				REMOTE_KEY(0x84, 231) /* CD */
				REMOTE_KEY(0x72, 232) /* DRC X+0.1 */
				REMOTE_KEY(0x73, 233) /* DRC X-0.1 */
				REMOTE_KEY(0x9a, 234) /* up/DRC Y+0.1 */
				REMOTE_KEY(0x9b, 235) /* down/DRC Y-0.1 */
				REMOTE_KEY(0xa0, 236) /* CD */
				REMOTE_KEY(0x71, 237) /* Soft mute */
				REMOTE_KEY(0x74, 238) /* soft vol- */
				REMOTE_KEY(0x75, 239) /* soft vol+ */
				REMOTE_KEY(0x7e, 240) /* Resume */
				REMOTE_KEY(0x7f, 241) /* Pause */
				REMOTE_KEY(0x7a, 242) /* LEGACY */
				REMOTE_KEY(0xa7, 243) /* CD */
				REMOTE_KEY(0xa9, 244) /* random */
				>;
		};
};

&amlvecm {
	status = "okay";
	gamma_en = <0>;/*1:enable ;0:disable*/
	wb_en = <0>;/*1:enable ;0:disable*/
	vlock_en = <0>;/*1:enable;0:disable*/
};

&vpu {
	status = "okay";
};

&vout {
	status = "okay";
};

&canvas {
	status = "okay";
};

&fb {
	status = "okay";
};

&meson_amvideom {
	status = "okay";
};

&jtag {
	status = "disabled";
};
