/*
 * arch/arm64/boot/dts/amlogic/mesonsm1_skt-panel.dtsi
 *
 * Copyright (C) 2016 Amlogic, Inc. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 */

/ {
	lcd:lcd{
		compatible = "amlogic, lcd-sm1";
		dev_name = "lcd";
		mode = "tablet";
		status = "okay";
		key_valid = <0>;
		clocks = <&clkc CLKID_MIPI_DSI_HOST
			&clkc CLKID_MIPI_DSI_PHY
			&clkc CLKID_DSI_MEAS_COMP
			&clkc CLKID_VCLK2_ENCL
			&clkc CLKID_VCLK2_VENCL
			&clkc CLKID_GP0_PLL>;
		clock-names = "dsi_host_gate",
			"dsi_phy_gate",
			"dsi_meas",
			"encl_top_gate",
			"encl_int_gate",
			"gp0_pll";
		reg = <0x0 0xffd07000 0x0 0x400    /* dsi_host */
			0x0 0xff644000 0x0 0x200>; /* dsi_phy */
		interrupts = <0 3 1
			0 56 1>;
		interrupt-names = "vsync","vsync2";
		pinctrl_version = <2>; /* for uboot */
		resume_type = <0>; /* 0:directly resume(dual display preferred),
				    * 1:workqueue resume(default)
				    */

		/* power type:
		 *    (0=cpu_gpio, 1=pmu_gpio, 2=signal,3=extern, 0xff=ending)
		 * power index:
		 *    (point gpios_index, or extern_index,0xff=invalid)
		 * power value:(0=output low, 1=output high, 2=input)
		 * power delay:(unit in ms)
		 */
		lcd_cpu-gpios = <&gpio GPIOH_4 GPIO_ACTIVE_HIGH
				&gpio GPIOH_7 GPIO_ACTIVE_HIGH
				&gpio GPIOC_7 GPIO_ACTIVE_HIGH>;
		lcd_cpu_gpio_names = "GPIOH_4","GPIOH_7", "GPIOC_7";

		lcd_0{
			model_name = "B080XAN01";
			interface = "mipi";
			basic_setting = <768 1024 /*h_active, v_active*/
				948 1140 /*h_period, v_period*/
				8 /*lcd_bits*/
				119 159>; /*screen_widht, screen_height*/
			lcd_timing = <64 56 0 /*hs_width, hs_bp, hs_pol*/
				50 30 0>; /*vs_width, vs_bp, vs_pol*/
			clk_attr = <0 /*fr_adj_type(0=clk, 1=htotal, 2=vtotal)*/
				0 /*clk_ss_level */
				1 /*clk_auto_generate*/
				64843200>; /*pixel_clk(unit in Hz)*/
			mipi_attr = <4 /*lane_num*/
				550 /*bit_rate_max(MHz)*/
				0 /*factor(*100, default 0 for auto)*/
				1 /*operation_mode_init(0=video, 1=command)*/
				0 /*operation_mode_display(0=video, 1=command)*/
				2 /*
				   *video_mode_type
				   *(0=sync_pulse,1=sync_event,2=burst)
				   */
				1 /*clk_always_hs(0=disable,1=enable)*/
				0>; /*phy_switch(0=auto,1=standard,2=slow)*/

			/* dsi_init: data_type, num, data... */
			dsi_init_on = <0x05 1 0x11
					0xff 20     /*delay(ms)*/
					0x05 1 0x29
					0xff 20     /*delay(ms)*/
					0xff 0xff>; /*ending*/
			dsi_init_off = <0x05 1 0x28
					0xff 10     /*delay(ms)*/
					0x05 1 0x10
					0xff 10     /*delay(ms)*/
					0xff 0xff>; /*ending*/
			extern_init = <0xff>; /*0xff for invalid*/

			/* power step: type, index, value, delay(ms) */
			power_on_step = <
				0 1 0 100
				0 0 0 10
				0 0 1 20
				2 0 0 0
				0xff 0 0 0>; /*ending*/
			power_off_step = <
				2 0 0 50
				0 0 0 10
				0 1 1 100
				0xff 0 0 0>; /*ending*/
			backlight_index = <0>;
		};

		lcd_1{
			model_name = "P070ACB_FT";
			interface = "mipi";
			basic_setting = <600 1024 /*h_active, v_active*/
				770 1070 /*h_period, v_period*/
				8 /*lcd_bits*/
				3 5>; /*screen_widht, screen_height*/
			lcd_timing = <10 80 0 /*hs_width,hs_bp,hs_pol*/
				6 20 0>; /*vs_width,vs_bp,vs_pol*/
			clk_attr = <0 /*fr_adj_type(0=clock,1=htotal,2=vtotal)*/
				0 /*clk_ss_level*/
				1 /*clk_auto_generate*/
				49434000>; /*pixel_clk(unit in Hz)*/
			mipi_attr = <4 /*lane_num*/
				400 /*bit_rate_max(MHz)*/
				0 /*factor(*100, default 0 for auto)*/
				1 /*operation_mode_init(0=video, 1=command)*/
				0 /*operation_mode_display(0=video, 1=command)*/
				2 /*
				   *video_mode_type
				   *(0=sync_pulse,1=sync_event,2=burst)
				   */
				0 /*clk_always_hs(0=disable,1=enable)*/
				0>; /*phy_switch(0=auto,1=standard,2=slow)*/
				/* dsi_init: data_type, num, data... */
			dsi_init_on = <
				0xff 10
				0xf0 3 0 1 30 /* reset high, delay 30ms */
				0xf0 3 0 0 10 /* reset low, delay 10ms */
				0xf0 3 0 1 30 /* reset high, delay 30ms */
				0xfc 2 0x04 3 /* check_reg, check_cnt */
				0xff 0xff>; /* ending flag */
			dsi_init_off = <0xff 0xff>; /* ending flag */
				/* extern_init: 0xff for invalid */
			extern_init = <5>;
				/* power step: type,index,value,delay(ms) */
			power_on_step = <
					0 1 0 200 /* panel power on */
					2 0 0 0
					0xff 0 0 0>;
			power_off_step = <
					2 0 0 0
					0 0 0 20  /* reset low */
					0 1 1 100 /* panel power off */
					0xff 0 0 0>;
			backlight_index = <0>;
		};
		lcd_2{
			model_name = "mipi2vga";/* mipi2vga */
			interface = "mipi";
			basic_setting = <1280 720 /*h_active, v_active*/
				1650 750 /*h_period, v_period*/
				8 /*lcd_bits*/
				16 9>; /*screen_widht, screen_height*/
			lcd_timing = <40 145  0 /*hs_width,hs_bp,hs_pol*/
				5 10 0>; /*vs_width,vs_bp,vs_pol*/
			clk_attr = <0 /*fr_adj_type(0=clock,1=htotal,2=vtotal)*/
				0 /*clk_ss_level*/
				1 /*clk_auto_generate*/
				74250000>; /*pixel_clk(unit in Hz)*/
			mipi_attr = <4 /*lane_num*/
				500 /*bit_rate_max(MHz)*/
				0 /*factor(*100, default 0 for auto)*/
				1 /*operation_mode_init(0=video, 1=command)*/
				0 /*operation_mode_display(0=video, 1=command)*/
				2 /*
				   *video_mode_type
				   *(0=sync_pulse,1=sync_event,2=burst)
				   */
				1 /*clk_always_hs(0=disable,1=enable)*/
				0>; /*phy_switch(0=auto,1=standard,2=slow)*/
				/* dsi_init: data_type, num, data... */
			dsi_init_on = <0xff 0xff>; /* ending flag */
			dsi_init_off = <0xff 0xff>; /* ending flag */
				/* extern_init: 0xff for invalid */
			extern_init = <2>;
				/* power step: type,index,value,delay(ms) */
			power_on_step = <
					0 0 1 10
					0 1 0 100
					0 0 0 200
					0 1 1 100
					2 0 0 100
					0xff 0 0 0>;
			power_off_step = <
					2 0 0 0
					0 1 0 100
					0 0 1 100
					0xff 0 0 0>;
			backlight_index = <0>;
		};
		lcd_3{
			model_name = "ICN6211_1080p";
			interface = "mipi";
			basic_setting = <1920 1080
				2200 1125
				0x8
				16 9>;
			lcd_timing = <84 148 0 11 30 0>;
			clk_attr = <0 0 1 0x8d9ee20>;
			mipi_attr = <0x4 0x3c0 0 1 0 2 1 0>;
			dsi_init_on = <0xff 0xff>;
			dsi_init_off = <0xff 0xff>;
			extern_init = <3>;
			power_on_step = <
					2 0 0 0
					3 7 0 0
					0xff 0 0 0>;
			power_off_step = <
					2 0 0 0
					3 7 0 0
					0xff 0 0 0>;
			backlight_index = <0xff>;
		};
		lcd_4{
			model_name = "IM2BA01_k101";  /* 10.1inch */
			interface = "mipi";
			basic_setting = <800 1280 /*h_active, v_active*/
				936 1304 /*h_period, v_period*/
				8 /*lcd_bits*/
				80 119>; /*screen_widht, screen_height*/
			lcd_timing = <16 60  0 /*hs_width,hs_bp,hs_pol*/
				4 10 0>; /*vs_width,vs_bp,vs_pol*/
			clk_attr = <0 /*fr_adj_type(0=clock,1=htotal,2=vtotal)*/
				0 /*clk_ss_level*/
				1 /*clk_auto_generate*/
				73232640>; /*pixel_clk(unit in Hz)*/
			mipi_attr = <4 /*lane_num*/
				600 /*bit_rate_max(MHz)*/
				0 /*factor(*100, default 0 for auto)*/
				1 /*operation_mode_init(0=video, 1=command)*/
				0 /*operation_mode_display(0=video, 1=command)*/
				2 /*
				   *video_mode_type
				   *(0=sync_pulse,1=sync_event,2=burst)
				   */
				1 /*clk_always_hs(0=disable,1=enable)*/
				0>; /*phy_switch(0=auto,1=standard,2=slow)*/
				/* dsi_init: data_type, num, data... */
			dsi_init_on = <0xff 0xff>; /* ending flag */
			dsi_init_off = <0xff 0xff>; /* ending flag */
				/* extern_init: 0xff for invalid */
			extern_init = <5>;
				/* power step: type,index,value,delay(ms) */
			power_on_step = <
					0 1 0 10
					0 0 0 100
					0 1 1 10
					0 2 0 10
					0 2 2 20
					2 0 0 10
					0xff 0 0 0>;
			power_off_step = <
					2 0 0 0
					0 1 0 10
					0 0 1 100
					0xff 0 0 0>;
			backlight_index = <0>;
		};

		lcd_5{
			model_name = "ZS080NH3103E3H7II-B";  /* 8inch */
			interface = "mipi";
			basic_setting = <800 1280 /*h_active, v_active*/
				936 1304 /*h_period, v_period*/
				8 /*lcd_bits*/
				80 119>; /*screen_widht, screen_height*/
			lcd_timing = <16 60  0 /*hs_width,hs_bp,hs_pol*/
				4 10 0>; /*vs_width,vs_bp,vs_pol*/
			clk_attr = <0 /*fr_adj_type(0=clock,1=htotal,2=vtotal)*/
				0 /*clk_ss_level*/
				1 /*clk_auto_generate*/
				73232640>; /*pixel_clk(unit in Hz)*/
			mipi_attr = <4 /*lane_num*/
				1000 /*bit_rate_max(MHz)*/
				0 /*factor(*100, default 0 for auto)*/
				1 /*operation_mode_init(0=video, 1=command)*/
				0 /*operation_mode_display(0=video, 1=command)*/
				2 /*
				   *video_mode_type
				   *(0=sync_pulse,1=sync_event,2=burst)
				   */
				1 /*clk_always_hs(0=disable,1=enable)*/
				0>; /*phy_switch(0=auto,1=standard,2=slow)*/
				/* dsi_init: data_type, num, data... */
			dsi_init_on = <0xff 0xff>; /* ending flag */
			dsi_init_off = <0xff 0xff>; /* ending flag */
				/* extern_init: 0xff for invalid */
			extern_init = <4>;
				/* power step: type,index,value,delay(ms) */
			power_on_step = <
					0 1 0 10
					0 0 0 100
					0 1 1 10
					0 2 0 10
					0 2 2 20
					2 0 0 10
					0xff 0 0 0>;
			power_off_step = <
					2 0 0 0
					0 1 0 10
					0 0 1 100
					0xff 0 0 0>;
			backlight_index = <0>;
		};
		lcd_6{
			model_name = "IM2BYL02";  /* 8inch */
			interface = "mipi";
			basic_setting = <800 1280 /*h_active, v_active*/
				936 1304 /*h_period, v_period*/
				8 /*lcd_bits*/
				80 119>; /*screen_widht, screen_height*/
			lcd_timing = <16 60  0 /*hs_width,hs_bp,hs_pol*/
				4 10 0>; /*vs_width,vs_bp,vs_pol*/
			clk_attr = <0 /*fr_adj_type(0=clock,1=htotal,2=vtotal)*/
				0 /*clk_ss_level*/
				1 /*clk_auto_generate*/
				73232640>; /*pixel_clk(unit in Hz)*/
			mipi_attr = <4 /*lane_num*/
				600 /*bit_rate_max(MHz)*/
				0 /*factor(*100, default 0 for auto)*/
				1 /*operation_mode_init(0=video, 1=command)*/
				0 /*operation_mode_display(0=video, 1=command)*/
				2 /*
				   *video_mode_type
				   *(0=sync_pulse,1=sync_event,2=burst)
				   */
				1 /*clk_always_hs(0=disable,1=enable)*/
				0>; /*phy_switch(0=auto,1=standard,2=slow)*/
				/* dsi_init: data_type, num, data... */
			dsi_init_on = <0xff 0xff>; /* ending flag */
			dsi_init_off = <0xff 0xff>; /* ending flag */
				/* extern_init: 0xff for invalid */
			extern_init = <9>;
				/* power step: type,index,value,delay(ms) */
			power_on_step = <
					0 1 0 10
					0 0 0 100
					0 1 1 10
					0 2 0 10
					0 2 2 20
					2 0 0 10
					0xff 0 0 0>;
			power_off_step = <
					2 0 0 0
					0 1 0 10
					0 0 1 100
					0xff 0 0 0>;
			backlight_index = <0>;
		};
		lcd_9{
			model_name = "ZS080NI3103E3H7II-B";  /* 8inch */
			interface = "mipi";
			basic_setting = <800 1280 /*h_active, v_active*/
				936 1304 /*h_period, v_period*/
				8 /*lcd_bits*/
				135 216>; /*screen_widht, screen_height*/
			lcd_timing = <16 60  0 /*hs_width,hs_bp,hs_pol*/
				4 10 0>; /*vs_width,vs_bp,vs_pol*/
			clk_attr = <0 /*fr_adj_type(0=clock,1=htotal,2=vtotal)*/
				0 /*clk_ss_level*/
				1 /*clk_auto_generate*/
				73232640>;/*73232640>;*/ /*pixel_clk(unit in Hz)*/
			mipi_attr = <4 /*lane_num*/
				1000 /*bit_rate_max(MHz)*/
				0 /*factor(*100, default 0 for auto)*/
				1 /*operation_mode_init(0=video, 1=command)*/
				0 /*operation_mode_display(0=video, 1=command)*/
				2 /*
				   *video_mode_type
				   *(0=sync_pulse,1=sync_event,2=burst)
				   */
				1 /*clk_always_hs(0=disable,1=enable)*/
				0>; /*phy_switch(0=auto,1=standard,2=slow)*/
				/* dsi_init: data_type, num, data... */
			dsi_init_on = <
					0xff 10
					0xf0 3 2 1 50 /* reset high, delay 30ms */
					0xf0 3 2 0 50 /* reset low, delay 10ms */
					0xf0 3 2 1 50 /* reset high, delay 30ms */
					0xff 0xff>; /* ending flag */
			dsi_init_off = <
					0xff 10
					0xf0 3 2 0 50 /* reset low, delay 10ms */		
					0xff 0xff>; /* ending flag */
				/* extern_init: 0xff for invalid */
			extern_init = <8>;
				/* power step: type,index,value,delay(ms) */
			power_on_step = <
					0 1 0 10
					0 0 0 100
					0 1 1 10
				    0 2 0 10 
					0 2 2 20 
					2 0 0 10
					0xff 0 0 0>;
			power_off_step = <
					2 0 0 0
					0 1 0 10
					0 0 1 100
					0xff 0 0 0>;
			backlight_index = <0>;
		};
		lcd_7{
			model_name = "EK79007";
			interface = "mipi";
			basic_setting = <1024 600 /*h_active, v_active*/
				1354 636 /*h_period, v_period*/
				8 /*lcd_bits*/
				119 80>; /*screen_widht, screen_height*/
			lcd_timing = <10 160  0 /*hs_width,hs_bp,hs_pol*/
				1 23 0>; /*vs_width,vs_bp,vs_pol*/
			clk_attr = <0 /*fr_adj_type(0=clock,1=htotal,2=vtotal)*/
				0 /*clk_ss_level*/
				1 /*clk_auto_generate*/
				51668640>; /*pixel_clk(unit in Hz)*/
			mipi_attr = <4 /*lane_num*/
				1000 /*bit_rate_max(MHz)*/
				0 /*factor(*100, default 0 for auto)*/
				1 /*operation_mode_init(0=video, 1=command)*/
				0 /*operation_mode_display(0=video, 1=command)*/
				2 /*
				   *video_mode_type
				   *(0=sync_pulse,1=sync_event,2=burst)
				   */
				1 /*clk_always_hs(0=disable,1=enable)*/
				0>; /*phy_switch(0=auto,1=standard,2=slow)*/
				/* dsi_init: data_type, num, data... */
			dsi_init_on = <0xff 0xff>; /* ending flag */
			dsi_init_off = <0xff 0xff>; /* ending flag */
				/* extern_init: 0xff for invalid */
			extern_init = <6>;
				/* power step: type,index,value,delay(ms) */
			power_on_step = <
					0 0 1 10
					0 1 0 100
					0 0 0 200
					0 1 1 100
					2 0 0 100
					0xff 0 0 0>;
			power_off_step = <
					2 0 0 0
					0 1 0 100
					0 0 1 100
					0xff 0 0 0>;
			backlight_index = <0>;
		};
		lcd_8{
			model_name = "SLT_720P";
			interface = "mipi";
			basic_setting = <1280 720 /*h_active, v_active*/
				1590 750 /*h_period, v_period*/
				8 /*lcd_bits*/
				16 9>; /*screen_widht, screen_height*/
			lcd_timing = <40 60 0 /*hs_width,hs_bp,hs_pol*/
				5 20 0>; /*vs_width,vs_bp,vs_pol*/
			clk_attr = <0 /*fr_adj_type(0=clock,1=htotal,2=vtotal)*/
				0 /*clk_ss_level*/
				1 /*clk_auto_generate*/
				74250000>; /*pixel_clk(unit in Hz)*/
			mipi_attr = <4 /*lane_num*/
				550 /*bit_rate_max(MHz)*/
				0 /*factor(*100, default 0 for auto)*/
				1 /*operation_mode_init(0=video, 1=command)*/
				0 /*operation_mode_display(0=video, 1=command)*/
				0 /*
				   *video_mode_type
				   *(0=sync_pulse,1=sync_event,2=burst)
				   */
				1 /*clk_always_hs(0=disable,1=enable)*/
				0>; /*phy_switch(0=auto,1=standard,2=slow)*/
				/* dsi_init: data_type, num, data... */
			dsi_init_on = <
				0x05 1 0x11
				0xff 200
				0x05 1 0x29
				0xff 20
				0xff 0xff>; /* ending flag */
			dsi_init_off = <
				0x05 1 0x28
				0xff 10
				0x05 1 0x10
				0xff 10
				0xff 0xff>; /* ending flag */
				/* extern_init: 0xff for invalid */
			extern_init = <0xff>;
				/* power step: type,index,value,delay(ms) */
			power_on_step = <
					3 7 0 100
					2 0 0 0
					0xff 0 0 0>;
			power_off_step = <
					2 0 0 0
					0xff 0 0 0>;
			backlight_index = <0xff>;
		};
	};

	lcd_extern{
		compatible = "amlogic, lcd_extern";
		dev_name = "lcd_extern";
		status = "okay";
		i2c_bus = "i2c_bus_0";
		key_valid = <0>;

		extern_0{
			index = <0>;
			extern_name = "mipi_default";/*default*/
			status = "okay";
			type = <2>; /* 0=i2c, 1=spi, 2=mipi */
			cmd_size = <0xff>;
			init_on = <
				0xff 10
				0x05 1 0x11
				0xff 120  /* delay 120ms */
				0x05 1 0x29
				0xff 0xff>; /*ending*/
			init_off = <
				0x05 1 0x28 /* display off */
				0xff 10     /* delay 10ms */
				0x05 1 0x10 /* sleep in */
				0xff 150      /* delay 150ms */
				0xff 0xff>; /*ending*/
		};

		extern_1{
			index = <1>;
			extern_name = "mipi_default";/*P070ACB_FT*/
			status = "okay";
			type = <2>; /* 0=i2c, 1=spi, 2=mipi */
			cmd_size = <0xff>;
			init_on = <
				0x23 2 0xE0 0x00 /* Page 0 */
				0x23 2 0xE1 0x93 /* PASSWORD */
				0x23 2 0xE2 0x65
				0x23 2 0xE3 0xF8
				0x23 2 0x80 0x03
				0x23 2 0xE0 0x01 /* Page 01 */
				0x23 2 0x0C 0x74 /* Set PWRIC */
				0x23 2 0x17 0x00 /* Set Gamma Power */
				0x23 2 0x18 0xEF /* VGMP=5.1V */
				0x23 2 0x19 0x00
				0x23 2 0x1A 0x00
				0x23 2 0x1B 0xEF /* VGMN=-5.1V */
				0x23 2 0x1C 0x00
				0x23 2 0x1F 0x70 /* Set Gate Power */
				0x23 2 0x20 0x2D
				0x23 2 0x21 0x2D
				0x23 2 0x22 0x7E
				0x23 2 0x26 0xF3 /* VDDD from IOVCC */
				0x23 2 0x37 0x09 /* SetPanel */
				0x23 2 0x38 0x04 /* SET RGBCYC */
				0x23 2 0x39 0x00
				0x23 2 0x3A 0x01
				0x23 2 0x3C 0x90
				0x23 2 0x3D 0xFF
				0x23 2 0x3E 0xFF
				0x23 2 0x3F 0xFF
				0x23 2 0x40 0x02 /* Set TCON */
				0x23 2 0x41 0x80
				0x23 2 0x42 0x99
				0x23 2 0x43 0x14
				0x23 2 0x44 0x19
				0x23 2 0x45 0x5A
				0x23 2 0x4B 0x04
				0x23 2 0x55 0x02 /* power voltage */
				0x23 2 0x56 0x01
				0x23 2 0x57 0x69
				0x23 2 0x58 0x0A
				0x23 2 0x59 0x0A
				0x23 2 0x5A 0x2E /* VGH = 16.2V */
				0x23 2 0x5B 0x19 /* VGL = -12V */
				0x23 2 0x5C 0x15
				0x23 2 0x5D 0x77 /* Gamma */
				0x23 2 0x5E 0x56
				0x23 2 0x5F 0x45
				0x23 2 0x60 0x38
				0x23 2 0x61 0x35
				0x23 2 0x62 0x27
				0x23 2 0x63 0x2D
				0x23 2 0x64 0x18
				0x23 2 0x65 0x33
				0x23 2 0x66 0x34
				0x23 2 0x67 0x35
				0x23 2 0x68 0x56
				0x23 2 0x69 0x45
				0x23 2 0x6A 0x4F
				0x23 2 0x6B 0x42
				0x23 2 0x6C 0x40
				0x23 2 0x6D 0x34
				0x23 2 0x6E 0x25
				0x23 2 0x6F 0x02
				0x23 2 0x70 0x77
				0x23 2 0x71 0x56
				0x23 2 0x72 0x45
				0x23 2 0x73 0x38
				0x23 2 0x74 0x35
				0x23 2 0x75 0x27
				0x23 2 0x76 0x2D
				0x23 2 0x77 0x18
				0x23 2 0x78 0x33
				0x23 2 0x79 0x34
				0x23 2 0x7A 0x35
				0x23 2 0x7B 0x56
				0x23 2 0x7C 0x45
				0x23 2 0x7D 0x4F
				0x23 2 0x7E 0x42
				0x23 2 0x7F 0x40
				0x23 2 0x80 0x34
				0x23 2 0x81 0x25
				0x23 2 0x82 0x02
				0x23 2 0xE0 0x02 /* Page2 */
				0x23 2 0x00 0x53
					/* GIP_L Pin mapping RESET_EVEN */
				0x23 2 0x01 0x55 /* VSSG_EVEN */
				0x23 2 0x02 0x55 /* VSSA_EVEN */
				0x23 2 0x03 0x51 /* STV2_EVEN */
				0x23 2 0x04 0x77 /* VDD2_EVEN */
				0x23 2 0x05 0x57 /* VDD1_EVEN */
				0x23 2 0x06 0x1F
				0x23 2 0x07 0x4F  /* CK12 */
				0x23 2 0x08 0x4D  /* CK10 */
				0x23 2 0x09 0x1F
				0x23 2 0x0A 0x4B  /* CK8 */
				0x23 2 0x0B 0x49  /* CK6 */
				0x23 2 0x0C 0x1F
				0x23 2 0x0D 0x47  /* CK4 */
				0x23 2 0x0E 0x45  /* CK2 */
				0x23 2 0x0F 0x41  /* STV1_EVEN */
				0x23 2 0x10 0x1F
				0x23 2 0x11 0x1F
				0x23 2 0x12 0x1F
				0x23 2 0x13 0x55  /* VGG */
				0x23 2 0x14 0x1F
				0x23 2 0x15 0x1F
				0x23 2 0x16 0x52
					/* GIP_R Pin mapping RESET_ODD */
				0x23 2 0x17 0x55 /* VSSG_ODD */
				0x23 2 0x18 0x55 /* VSSA_ODD */
				0x23 2 0x19 0x50 /* STV2_ODD */
				0x23 2 0x1A 0x77 /* VDD2_ODD */
				0x23 2 0x1B 0x57 /* VDD1_ODD */
				0x23 2 0x1C 0x1F
				0x23 2 0x1D 0x4E /* CK11 */
				0x23 2 0x1E 0x4C /* CK9 */
				0x23 2 0x1F 0x1F
				0x23 2 0x20 0x4A /* CK7 */
				0x23 2 0x21 0x48 /* CK5 */
				0x23 2 0x22 0x1F
				0x23 2 0x23 0x46 /* CK3 */
				0x23 2 0x24 0x44 /* CK1 */
				0x23 2 0x25 0x40 /* STV1_ODD */
				0x23 2 0x26 0x1F
				0x23 2 0x27 0x1F
				0x23 2 0x28 0x1F
				0x23 2 0x29 0x1F
				0x23 2 0x2A 0x1F
				0x23 2 0x2B 0x55 /* VGG */
				0x23 2 0x2C 0x12 /* GIP_L_GS Pin mapping */
				0x23 2 0x2D 0x15
				0x23 2 0x2E 0x15
				0x23 2 0x2F 0x00
				0x23 2 0x30 0x37
				0x23 2 0x31 0x17
				0x23 2 0x32 0x1F
				0x23 2 0x33 0x08
				0x23 2 0x34 0x0A
				0x23 2 0x35 0x1F
				0x23 2 0x36 0x0C
				0x23 2 0x37 0x0E
				0x23 2 0x38 0x1F
				0x23 2 0x39 0x04
				0x23 2 0x3A 0x06
				0x23 2 0x3B 0x10
				0x23 2 0x3C 0x1F
				0x23 2 0x3D 0x1F
				0x23 2 0x3E 0x1F
				0x23 2 0x3F 0x15
				0x23 2 0x40 0x1F
				0x23 2 0x41 0x1F
				0x23 2 0x42 0x13 /* GIP_R_GS Pin mapping */
				0x23 2 0x43 0x15
				0x23 2 0x44 0x15
				0x23 2 0x45 0x01
				0x23 2 0x46 0x37
				0x23 2 0x47 0x17
				0x23 2 0x48 0x1F
				0x23 2 0x49 0x09
				0x23 2 0x4A 0x0B
				0x23 2 0x4B 0x1F
				0x23 2 0x4C 0x0D
				0x23 2 0x4D 0x0F
				0x23 2 0x4E 0x1F
				0x23 2 0x4F 0x05
				0x23 2 0x50 0x07
				0x23 2 0x51 0x11
				0x23 2 0x52 0x1F
				0x23 2 0x53 0x1F
				0x23 2 0x54 0x1F
				0x23 2 0x55 0x1F
				0x23 2 0x56 0x1F
				0x23 2 0x57 0x15
				0x23 2 0x58 0x40 /* GIP Timing */
				0x23 2 0x59 0x00
				0x23 2 0x5A 0x00
				0x23 2 0x5B 0x10
				0x23 2 0x5C 0x14
				0x23 2 0x5D 0x40
				0x23 2 0x5E 0x01
				0x23 2 0x5F 0x02
				0x23 2 0x60 0x40
				0x23 2 0x61 0x03
				0x23 2 0x62 0x04
				0x23 2 0x63 0x7A
				0x23 2 0x64 0x7A
				0x23 2 0x65 0x74
				0x23 2 0x66 0x16
				0x23 2 0x67 0xB4
				0x23 2 0x68 0x16
				0x23 2 0x69 0x7A
				0x23 2 0x6A 0x7A
				0x23 2 0x6B 0x0C
				0x23 2 0x6C 0x00
				0x23 2 0x6D 0x04
				0x23 2 0x6E 0x04
				0x23 2 0x6F 0x88
				0x23 2 0x70 0x00
				0x23 2 0x71 0x00
				0x23 2 0x72 0x06
				0x23 2 0x73 0x7B
				0x23 2 0x74 0x00
				0x23 2 0x75 0xBC
				0x23 2 0x76 0x00
				0x23 2 0x77 0x04
				0x23 2 0x78 0x2C
				0x23 2 0x79 0x00
				0x23 2 0x7A 0x00
				0x23 2 0x7B 0x00
				0x23 2 0x7C 0x00
				0x23 2 0x7D 0x03
				0x23 2 0x7E 0x7B
				0x23 2 0xE0 0x04 /* Page4 */
				0x23 2 0x09 0x11 /* Set RGBCYC2 */
				0x23 2 0x0E 0x48
				0x23 2 0x2B 0x2B /* ESD Protect */
				0x23 2 0x2E 0x44
				0x23 2 0xE0 0x00 /* Page0 */
				0x23 2 0xE6 0x02 /* Watch dog */
				0x23 2 0xE7 0x0C
				0x05 1 0x11  /* sleep out */
				0xff 120
				0x05 1 0x29 /* display on */
				0x05 1 0x35
				0xFF 20    /* delay(ms) */
				0xFF 0xFF>; /*ending*/
			init_off = <
				0x05 1 0x28 /* display off */
				0xff 10     /* delay 10ms */
				0x05 1 0x10 /* sleep in */
				0xff 150      /* delay 150ms */
				0xff 0xff>; /*ending*/
		};
		extern_2{
			index = <2>;
			extern_name = "mipi2vga720p"; /* mipi2vga */
			status = "okay";
			type = <2>; /* 0=i2c, 1=spi, 2=mipi */
			cmd_size = <0xff>;
			init_on = <
				0x23 2 0x7A 0xC1
				0x23 2 0x20 0x00
				0x23 2 0x21 0xD0
				0x23 2 0x22 0x25
				0x23 2 0x23 0x91
				0x23 2 0x24 0x28
				0x23 2 0x25 0xB9
				0x23 2 0x26 0x00
				0x23 2 0x27 0x0A
				0x23 2 0x28 0x05
				0x23 2 0x29 0x0F
				0x23 2 0x34 0x80
				0x23 2 0x36 0x91
				0x23 2 0xB5 0xA0
				0x23 2 0x5C 0xFF
				0x23 2 0x2A 0x01
				0x23 2 0x56 0x90
				0x23 2 0x6B 0x51
				0x23 2 0x69 0x2E
				0x23 2 0x10 0x55
				0x23 2 0x11 0x88
				0x23 2 0xB6 0x20
				0x23 2 0x51 0x20
				0x23 2 0x09 0x10
				0xff 40
				0xff 0xff>; /*ending*/
			init_off = <
				0xff 200      /* delay 50ms */
				0xff 0xff>; /*ending*/
		};
		extern_3{
			index = <3>;
			extern_name = "mipi2vga1080p"; /* ICN6211 mipi 1080p*/
			status = "okay";
			type = <2>; /* 0=i2c, 1=spi, 2=mipi */
			cmd_size = <0xff>;
			init_on = <
				0x23 2 0x7A 0xC1
				0x23 2 0x20 0x80
				0x23 2 0x21 0x38
				0x23 2 0x22 0x47
				0x23 2 0x23 0x58
				0x23 2 0x24 0x2C
				0x23 2 0x25 0x94
				0x23 2 0x26 0x00
				0x23 2 0x27 0x04
				0x23 2 0x28 0x05
				0x23 2 0x29 0x24
				0x23 2 0x34 0x80
				0x23 2 0x36 0x58
				0x23 2 0xB5 0xA0
				0x23 2 0x5C 0xFF
				0x23 2 0x2A 0x01
				0x23 2 0x56 0x92
				0x23 2 0x6B 0x33
				0x23 2 0x69 0x20
				0x23 2 0x10 0x40
				0x23 2 0x11 0xA8
				0x23 2 0xB6 0x20
				0x23 2 0x51 0x20
				0x23 2 0x09 0x10
				0xff 0xff>; /*ending*/
			init_off = <0xff 0xff>; /*ending*/
		};
		extern_6{
			index = <6>;
			extern_name = "mipi_default"; /* LD055LF1 */
			status = "okay";
			type = <2>; /* 0=i2c, 1=spi, 2=mipi */
			cmd_size = <0xff>;
			init_on = <
				0x15 2 0x80 0xAC
				0x15 2 0x81 0xB8
				0x15 2 0x82 0x09
				0x15 2 0x83 0x78
				0x15 2 0x84 0x7F
				0x15 2 0x85 0xBB
				0x15 2 0x86 0x70
				0xff 40
				0xff 0xff>; /*ending*/
			init_off = <
				0xff 200      /* delay 50ms */
				0xff 0xff>; /*ending*/
		};
		extern_7{
			index = <7>;
			extern_name = "ext_default";/*LT8912*/
			status = "okay";
			type = <0>; /* 0=i2c, 1=spi, 2=mipi */
			i2c_address = <0x48>; /*7bit i2c_addr*/
			i2c_second_address = <0x49>;
			cmd_size = <0xff>;
			init_on = <
				0xc0 2 0x08 0xff
				0xc0 2 0x09 0xff
				0xc0 2 0x0a 0xff
				0xc0 2 0x0b 0x7c
				0xc0 2 0x0c 0xff
				0xfd 1 10

				0xc0 2 0x31 0xa1
				0xc0 2 0x32 0xa1
				0xc0 2 0x33 0x03
				0xc0 2 0x37 0x00
				0xc0 2 0x38 0x22
				0xc0 2 0x60 0x82
				0xfd 1 10

				0xc0 2 0x39 0x45
				0xc0 2 0x3b 0x00
				0xfd 1 10

				0xc0 2 0x44 0x31
				0xc0 2 0x55 0x44
				0xc0 2 0x57 0x01
				0xc0 2 0x5a 0x02
				0xfd 1 10

				0xc0 2 0x3e 0xc6
				0xc0 2 0x41 0x7c
				0xfd 1 10

				0xc1 2 0x10 0x04
				0xc1 2 0x11 0x04
				0xc1 2 0x12 0x04
				0xc1 2 0x13 0x00
				0xc1 2 0x14 0x00
				0xc1 2 0x15 0x00
				0xc1 2 0x1a 0x03
				0xc1 2 0x1b 0x03
				0xfd 1 20

				0xc1 2 0x18 0x28
				0xc1 2 0x19 0x05
				0xc1 2 0x1c 0x00
				0xc1 2 0x1d 0x05
				0xc1 2 0x2f 0x0c
				0xc1 2 0x34 0x72
				0xc1 2 0x35 0x06
				0xc1 2 0x36 0xee
				0xc1 2 0x37 0x02
				0xc1 2 0x38 0x14
				0xc1 2 0x39 0x00
				0xc1 2 0x3a 0x05
				0xc1 2 0x3b 0x00
				0xc1 2 0x3c 0xdc
				0xc1 2 0x3d 0x00
				0xc1 2 0x3e 0x6e
				0xc1 2 0x3f 0x00
				0xfd 1 10

				0xc0 2 0x03 0x7f
				0xfd 1 200
				0xc0 2 0x03 0xff
				0xfd 1 200

				0xc1 2 0x4e 0x6A
				0xc1 2 0x4f 0x4D
				0xc1 2 0x50 0xF3
				0xc1 2 0x51 0x80
				0xc1 2 0x1f 0x90
				0xc1 2 0x20 0x01
				0xc1 2 0x21 0x68
				0xc1 2 0x22 0x01
				0xc1 2 0x23 0x5E
				0xc1 2 0x24 0x01
				0xc1 2 0x25 0x54
				0xc1 2 0x26 0x01
				0xc1 2 0x27 0x90
				0xc1 2 0x28 0x01
				0xc1 2 0x29 0x68
				0xc1 2 0x2a 0x01
				0xc1 2 0x2b 0x5E
				0xc1 2 0x2c 0x01
				0xc1 2 0x2d 0x54
				0xc1 2 0x2e 0x01
				0xc1 2 0x42 0x64
				0xc1 2 0x43 0x00
				0xc1 2 0x44 0x04
				0xc1 2 0x45 0x00
				0xc1 2 0x46 0x59
				0xc1 2 0x47 0x00
				0xc1 2 0x48 0xf2
				0xc1 2 0x49 0x06
				0xc1 2 0x4a 0x00
				0xc1 2 0x4b 0x72
				0xc1 2 0x4c 0x45
				0xc1 2 0x4d 0x00
				0xc1 2 0x52 0x08
				0xc1 2 0x53 0x00
				0xc1 2 0x54 0xb2
				0xc1 2 0x55 0x00
				0xc1 2 0x56 0xe4
				0xc1 2 0x57 0x0d
				0xc1 2 0x58 0x00
				0xc1 2 0x59 0xe4
				0xc1 2 0x5a 0x8a
				0xc1 2 0x5b 0x00
				0xc1 2 0x5c 0x34
				0xc1 2 0x1e 0x4f
				0xc1 2 0x51 0x00
				0xff 0>; /*ending*/
			init_off = <
				0xff 0>; /*ending*/
		};		
		extern_5{
			index = <5>;		/*10inch v1*/
			extern_name = "mipi_default"; /* LD055LF1 */
			status = "okay";
			type = <2>; /* 0=i2c, 1=spi, 2=mipi */
			cmd_size = <0xff>;
			init_on = <
				0XFF 120
				0x15 2 0xE0 0x00
				//--- PASSWORD  ----//
				0x15 2 0xE1 0x93
				0x15 2 0xE2 0x65
				0x15 2 0xE3 0xF8
				//Lane select by internal reg  4 lanes
				0x15 2 0xE0 0x04 
				0x15 2 0x2D 0x03 //defult 0x01

				0x15 2 0xE0 0x00 
				0x15 2 0x80 0x03 //0X03????4-LANE;0x02:3-LANE

				//--- Sequence Ctrl  ----//
				0x15 2 0x70 0x02 	//DC0 DC1
				0x15 2 0x71 0x23 	//DC2 DC3
				0x15 2 0x72 0x06 	//DC7

				//--- Page1  ----//
				0x15 2 0xE0 0x01 
				//Set VCOM
				0x15 2 0x00 0x00 
				0x15 2 0x01 0x66 
				//Set VCOM_Reverse
				0x15 2 0x03 0x00 
				0x15 2 0x04 0x6D 
				//Set Gamma Power, VGMP,VGMN,VGSP,VGSN
				0x15 2 0x17 0x00 
				0x15 2 0x18 0xBF //4.5V
				0x15 2 0x19 0x00 
				0x15 2 0x1A 0x00 
				0x15 2 0x1B 0xBF   //VGMN=-4.5V
				0x15 2 0x1C 0x00 

				//Set Gate Power
				0x15 2 0x1F 0x3E      //VGH_R  = 15V
				0x15 2 0x20 0x28      //VGL_R  = -11V
				0x15 2 0x21 0x28      //VGL_R2 = -11V
				0x15 2 0x22 0x0E      //PA[6]=0  PA[5]=0  PA[4]=0  PA[0]=0

				//SETPANEL
				0x15 2 0x37 0x09 	//SS=1 BGR=1
				//SET RGBCYC
				0x15 2 0x38 0x04 	//JDT=100 column inversion
				0x15 2 0x39 0x08 	//RGB_N_EQ1  modify 20140806
				0x15 2 0x3A 0x12 	//RGB_N_EQ2  modify 20140806
				0x15 2 0x3C 0x78 	//SET EQ3 for TE_H
				0x15 2 0x3D 0xFF 	//SET CHGEN_ON  modify 20140806 
				0x15 2 0x3E 0xFF 	//SET CHGEN_OFF  modify 20140806 
				0x15 2 0x3F 0x7F 	//SET CHGEN_OFF2  modify 20140806

				//Set TCON
				0x15 2 0x40 0x06 	//RSO=800 RGB
				0x15 2 0x41 0xA0 	//LN=640->1280 line
				//0x15 2 0x4a 0x35 
				//--- power voltage  ----//
				0x15 2 0x55 0x0F 	//DCDCM=0001  JD5002/JD5001;Other:0x0F
				0x15 2 0x56 0x01 
				0x15 2 0x57 0x69 
				0x15 2 0x58 0x0A 
				0x15 2 0x59 0x0A 	//VCL = -2.5V
				0x15 2 0x5A 0x45 	//29 VGH = 15.2V
				0x15 2 0x5B 0x15 	//VGL = -11.2V

				//--- Gamma  ----//
				0x15 2 0x5D 0x7C               
				0x15 2 0x5E 0x65       
				0x15 2 0x5F 0x55     
				0x15 2 0x60 0x49     
				0x15 2 0x61 0x44     
				0x15 2 0x62 0x35     
				0x15 2 0x63 0x3A     
				0x15 2 0x64 0x23     
				0x15 2 0x65 0x3D     
				0x15 2 0x66 0x3C     
				0x15 2 0x67 0x3D     
				0x15 2 0x68 0x5D     
				0x15 2 0x69 0x4D     
				0x15 2 0x6A 0x56     
				0x15 2 0x6B 0x48     
				0x15 2 0x6C 0x45     
				0x15 2 0x6D 0x38     
				0x15 2 0x6E 0x25     
				0x15 2 0x6F 0x00     
				0x15 2 0x70 0x7C     
				0x15 2 0x71 0x65     
				0x15 2 0x72 0x55     
				0x15 2 0x73 0x49     
				0x15 2 0x74 0x44     
				0x15 2 0x75 0x35     
				0x15 2 0x76 0x3A     
				0x15 2 0x77 0x23     
				0x15 2 0x78 0x3D     
				0x15 2 0x79 0x3C     
				0x15 2 0x7A 0x3D     
				0x15 2 0x7B 0x5D     
				0x15 2 0x7C 0x4D     
				0x15 2 0x7D 0x56     
				0x15 2 0x7E 0x48     
				0x15 2 0x7F 0x45     
				0x15 2 0x80 0x38     
				0x15 2 0x81 0x25     
				0x15 2 0x82 0x00     
				 
				//Page2  for GIP                                      
				0x15 2 0xE0 0x02                                 
				//GIP_L Pin mapping                                   
				0x15 2 0x00 0x1E //1  VDS                        
				0x15 2 0x01 0x1E //2  VDS                        
				0x15 2 0x02 0x41 //3  STV2                       
				0x15 2 0x03 0x41 //4  STV2                       
				0x15 2 0x04 0x43 //5  STV4                       
				0x15 2 0x05 0x43 //6  STV4                       
				0x15 2 0x06 0x1F //7  VSD                        
				0x15 2 0x07 0x1F //8  VSD                        
				0x15 2 0x08 0x1F //9  GCL                        
				0x15 2 0x09 0x1F //10                            
				0x15 2 0x0A 0x1E //11 GCH                        
				0x15 2 0x0B 0x1E //12 GCH                        
				0x15 2 0x0C 0x1F //13                            
				0x15 2 0x0D 0x47 //14 CLK8                       
				0x15 2 0x0E 0x47 //15 CLK8                       
				0x15 2 0x0F 0x45 //16 CLK6                       
				0x15 2 0x10 0x45 //17 CLK6                       
				0x15 2 0x11 0x4B //18 CLK4                       
				0x15 2 0x12 0x4B //19 CLK4                       
				0x15 2 0x13 0x49 //20 CLK2                       
				0x15 2 0x14 0x49 //21 CLK2                       
				0x15 2 0x15 0x1F //22 VGL                        							  
							  
				//GIP_R Pin mapping                                   
				0x15 2 0x16 0x1E //1  VDS                 
				0x15 2 0x17 0x1E //2  VDS                
				0x15 2 0x18 0x40 //3  STV1               
				0x15 2 0x19 0x40 //4  STV1               
				0x15 2 0x1A 0x42 //5  STV3               
				0x15 2 0x1B 0x42 //6  STV3               
				0x15 2 0x1C 0x1F //7  VSD                
				0x15 2 0x1D 0x1F //8  VSD                
				0x15 2 0x1E 0x1F //9  GCL                
				0x15 2 0x1F 0x1f //10                    
				0x15 2 0x20 0x1E //11 GCH                
				0x15 2 0x21 0x1E //12 GCH                
				0x15 2 0x22 0x1f //13                    
				0x15 2 0x23 0x46 //14 CLK7               
				0x15 2 0x24 0x46 //15 CLK7               
				0x15 2 0x25 0x44 //16 CLK5               
				0x15 2 0x26 0x44 //17 CLK5               
				0x15 2 0x27 0x4A //18 CLK3               
				0x15 2 0x28 0x4A //19 CLK3               
				0x15 2 0x29 0x48 //20 CLK1               
				0x15 2 0x2A 0x48 //21 CLK1               
				0x15 2 0x2B 0x1f //22 VGL                                 

				//GIP_L_GS Pin mapping
				0x15 2 0x2C 0x1F //1  VDS 		0x1E
				0x15 2 0x2D 0x1F //2  VDS          0x1E
				0x15 2 0x2E 0x42 //3  STV2         0x41
				0x15 2 0x2F 0x42 //4  STV2         0x41
				0x15 2 0x30 0x40 //5  STV4         0x43
				0x15 2 0x31 0x40 //6  STV4         0x43
				0x15 2 0x32 0x1E //7  VSD          0x1F
				0x15 2 0x33 0x1E //8  VSD          0x1F
				0x15 2 0x34 0x1F //9  GCL          0x1F
				0x15 2 0x35 0x1F //10              0x1F
				0x15 2 0x36 0x1E //11 GCH          0x1E
				0x15 2 0x37 0x1E //12 GCH          0x1E
				0x15 2 0x38 0x1F //13              0x1F
				0x15 2 0x39 0x48 //14 CLK8         0x47
				0x15 2 0x3A 0x48 //15 CLK8         0x47
				0x15 2 0x3B 0x4A //16 CLK6         0x45
				0x15 2 0x3C 0x4A //17 CLK6         0x45
				0x15 2 0x3D 0x44 //18 CLK4         0x4B
				0x15 2 0x3E 0x44 //19 CLK4         0x4B
				0x15 2 0x3F 0x46 //20 CLK2         0x49
				0x15 2 0x40 0x46 //21 CLK2         0x49
				0x15 2 0x41 0x1F //22 VGL          0x1F

				//GIP_R_GS Pin mapping
				0x15 2 0x42 0x1F //1  VDS 		0x1E
				0x15 2 0x43 0x1F //2  VDS          0x1E
				0x15 2 0x44 0x43 //3  STV1         0x40
				0x15 2 0x45 0x43 //4  STV1         0x40
				0x15 2 0x46 0x41 //5  STV3         0x42
				0x15 2 0x47 0x41 //6  STV3         0x42
				0x15 2 0x48 0x1E //7  VSD          0x1F
				0x15 2 0x49 0x1E //8  VSD          0x1F
				0x15 2 0x4A 0x1E //9  GCL          0x1F
				0x15 2 0x4B 0x1F //10              0x1f
				0x15 2 0x4C 0x1E //11 GCH          0x1E
				0x15 2 0x4D 0x1E //12 GCH          0x1E
				0x15 2 0x4E 0x1F //13              0x1f
				0x15 2 0x4F 0x49 //14 CLK7         0x46
				0x15 2 0x50 0x49 //15 CLK7         0x46
				0x15 2 0x51 0x4B //16 CLK5         0x44
				0x15 2 0x52 0x4B //17 CLK5         0x44
				0x15 2 0x53 0x45 //18 CLK3         0x4A
				0x15 2 0x54 0x45 //19 CLK3         0x4A
				0x15 2 0x55 0x47 //20 CLK1         0x48
				0x15 2 0x56 0x47 //21 CLK1         0x48
				0x15 2 0x57 0x1F //22 VGL          0x1f

				//GIP Timing  
				0x15 2 0x58 0x10  
				0x15 2 0x59 0x00  
				0x15 2 0x5A 0x00  
				0x15 2 0x5B 0x30  //STV_S0
				0x15 2 0x5C 0x02  //STV_S0
				0x15 2 0x5D 0x40  //STV_W / S1
				0x15 2 0x5E 0x01  //STV_S2
				0x15 2 0x5F 0x02  //STV_S3
				0x15 2 0x60 0x30  //ETV_W / S1
				0x15 2 0x61 0x01  //ETV_S2
				0x15 2 0x62 0x02  //ETV_S3
				0x15 2 0x63 0x6A  //SETV_ON  
				0x15 2 0x64 0x6A  //SETV_OFF 
				0x15 2 0x65 0x05  //ETV
				0x15 2 0x66 0x12  
				0x15 2 0x67 0x74  
				0x15 2 0x68 0x04  
				0x15 2 0x69 0x6A  
				0x15 2 0x6A 0x6A  
				0x15 2 0x6B 0x08  

				0x15 2 0x6C 0x00  
				0x15 2 0x6D 0x04  
				0x15 2 0x6E 0x04  
				0x15 2 0x6F 0x88  
				0x15 2 0x70 0x00  
				0x15 2 0x71 0x00  
				0x15 2 0x72 0x06  
				0x15 2 0x73 0x7B  
				0x15 2 0x74 0x00  
				0x15 2 0x75 0x07  
				0x15 2 0x76 0x00  
				0x15 2 0x77 0x5D  
				0x15 2 0x78 0x17  
				0x15 2 0x79 0x1F  
				0x15 2 0x7A 0x00  
				0x15 2 0x7B 0x00  
				0x15 2 0x7C 0x00  
				0x15 2 0x7D 0x03  
				0x15 2 0x7E 0x7B  

				//Page4
				0x15 2 0xE0 0x04 
				0x15 2 0x2B 0x2B 
				0x15 2 0x2E 0x44 

				//Page1
				0x15 2 0xE0 0x01 
				0x15 2 0x0E 0x01 	//LEDON output VCSW2

				//Page3
				0x15 2 0xE0 0x03 
				0x15 2 0x98 0x2F 	//From 2E to 2F  LED_VOL

				//Page0
				0x15 2 0xE0 0x00 
				0x15 2 0xE6 0x02 
				0x15 2 0xE7 0x02 
				//SLP OUT
				0X05 1 0x11   	// SLPOUT
				0XFF 120 


				//DISP ON
				0X05 1 0x29   	// DSPON
				0XFF 5 

				//--- TE----//
				0x15 2 0x35 0x00 
				0xff 0xff>; /*ending*/
			init_off = <
				0x05 1 0x28 /* display off */
				0xff 10     /* delay 10ms */
				0x05 1 0x10 /* sleep in */
				0xff 150      /* delay 150ms */
				0xff 0xff>; /*ending*/
		};
		extern_4{	/* 8inch */
			index = <4>;
			extern_name = "mipi_default"; /* LD055LF1 */
			status = "okay";
			type = <2>; /* 0=i2c, 1=spi, 2=mipi */
			cmd_size = <0xff>;
			init_on = <
				0x39 4 0xFF 0x98 0x81 0x03
				0x15 2 0x01 0x00
				0x15 2 0x02 0x00
				0x15 2 0x03 0x53
				0x15 2 0x04 0x53
				0x15 2 0x05 0x13
				0x15 2 0x06 0x04
				0x15 2 0x07 0x02
				0x15 2 0x08 0x02
				0x15 2 0x09 0x00
				0x15 2 0x0a 0x00
				0x15 2 0x0b 0x00
				0x15 2 0x0c 0x00
				0x15 2 0x0d 0x00
				0x15 2 0x0e 0x00
				0x15 2 0x0f 0x00
				0x15 2 0x10 0x00
				0x15 2 0x11 0x00
				0x15 2 0x12 0x00
				0x15 2 0x13 0x00
				0x15 2 0x14 0x00
				0x15 2 0x15 0x00
				0x15 2 0x16 0x00
				0x15 2 0x17 0x00
				0x15 2 0x18 0x00
				0x15 2 0x19 0x00
				0x15 2 0x1a 0x00
				0x15 2 0x1b 0x00
				0x15 2 0x1c 0x00
				0x15 2 0x1d 0x00
				0x15 2 0x1e 0xc0
				0x15 2 0x1f 0x80
				0x15 2 0x20 0x02
				0x15 2 0x21 0x09
				0x15 2 0x22 0x00
				0x15 2 0x23 0x00
				0x15 2 0x24 0x00
				0x15 2 0x25 0x00
				0x15 2 0x26 0x00
				0x15 2 0x27 0x00
				0x15 2 0x28 0x55
				0x15 2 0x29 0x03
				0x15 2 0x2a 0x00
				0x15 2 0x2b 0x00
				0x15 2 0x2c 0x00
				0x15 2 0x2d 0x00
				0x15 2 0x2e 0x00
				0x15 2 0x2f 0x00
				0x15 2 0x30 0x00
				0x15 2 0x31 0x00
				0x15 2 0x32 0x00
				0x15 2 0x33 0x00
				0x15 2 0x34 0x00
				0x15 2 0x35 0x00
				0x15 2 0x36 0x00
				0x15 2 0x37 0x00
				0x15 2 0x38 0x3C	//VDD1&2 toggle 1sec
				0x15 2 0x39 0x00
				0x15 2 0x3a 0x00
				0x15 2 0x3b 0x00
				0x15 2 0x3c 0x00
				0x15 2 0x3d 0x00
				0x15 2 0x3e 0x00
				0x15 2 0x3f 0x00
				0x15 2 0x40 0x00
				0x15 2 0x41 0x00
				0x15 2 0x42 0x00
				0x15 2 0x43 0x00
				0x15 2 0x44 0x00
				0x15 2 0x50 0x01
				0x15 2 0x51 0x23
				0x15 2 0x52 0x45
				0x15 2 0x53 0x67
				0x15 2 0x54 0x89
				0x15 2 0x55 0xab
				0x15 2 0x56 0x01
				0x15 2 0x57 0x23
				0x15 2 0x58 0x45
				0x15 2 0x59 0x67
				0x15 2 0x5a 0x89
				0x15 2 0x5b 0xab
				0x15 2 0x5c 0xcd
				0x15 2 0x5d 0xef
				0x15 2 0x5e 0x01
				0x15 2 0x5f 0x08       //FW_GOUT_L1   STV2_ODD
				0x15 2 0x60 0x02       //FW_GOUT_L2
				0x15 2 0x61 0x02     //FW_GOUT_L3
				0x15 2 0x62 0x0A       //FW_GOUT_L4   RESET_ODD
				0x15 2 0x63 0x15       //FW_GOUT_L5
				0x15 2 0x64 0x14       //FW_GOUT_L6
				0x15 2 0x65 0x02       //FW_GOUT_L7
				0x15 2 0x66 0x11       //FW_GOUT_L8    CK11
				0x15 2 0x67 0x10       //FW_GOUT_L9    CK9
				0x15 2 0x68 0x02       //FW_GOUT_L10
				0x15 2 0x69 0x0F       //FW_GOUT_L11   CK7
				0x15 2 0x6a 0x0E       //FW_GOUT_L12   CK5
				0x15 2 0x6b 0x02       //FW_GOUT_L13
				0x15 2 0x6c 0x0D       //FW_GOUT_L14   CK3
				0x15 2 0x6d 0x0C       //FW_GOUT_L15   CK1
				0x15 2 0x6e 0x06       //FW_GOUT_L16   STV1_ODD
				0x15 2 0x6f 0x02       //FW_GOUT_L17
				0x15 2 0x70 0x02       //FW_GOUT_L18
				0x15 2 0x71 0x02     //FW_GOUT_L19
				0x15 2 0x72 0x02       //FW_GOUT_L20
				0x15 2 0x73 0x02       //FW_GOUT_L21
				0x15 2 0x74 0x02       //FW_GOUT_L22
				0x15 2 0x75 0x06       //BW_GOUT_L1   STV2_ODD
				0x15 2 0x76 0x02       //BW_GOUT_L2
				0x15 2 0x77 0x02       //BW_GOUT_L3
				0x15 2 0x78 0x0A       //BW_GOUT_L4   RESET_ODD
				0x15 2 0x79 0x15       //BW_GOUT_L5
				0x15 2 0x7a 0x14       //BW_GOUT_L6
				0x15 2 0x7b 0x02       //BW_GOUT_L7
				0x15 2 0x7c 0x10      //BW_GOUT_L8    CK11
				0x15 2 0x7d 0x11       //BW_GOUT_L9    CK9
				0x15 2 0x7e 0x02       //BW_GOUT_L10
				0x15 2 0x7f 0x0C       //BW_GOUT_L11   CK7
				0x15 2 0x80 0x0D       //BW_GOUT_L12   CK5
				0x15 2 0x81 0x02       //BW_GOUT_L13
				0x15 2 0x82 0x0E       //BW_GOUT_L14   CK3
				0x15 2 0x83 0x0F       //BW_GOUT_L15   CK1
				0x15 2 0x84 0x08       //BW_GOUT_L16   STV1_ODD
				0x15 2 0x85 0x02       //BW_GOUT_L17
				0x15 2 0x86 0x02       //BW_GOUT_L18
				0x15 2 0x87 0x02       //BW_GOUT_L19
				0x15 2 0x88 0x02       //BW_GOUT_L20
				0x15 2 0x89 0x02       //BW_GOUT_L21
				0x15 2 0x8A 0x02       //BW_GOUT_L22
				0x39 4 0xFF 0x98 0x81 0x04
				0x15 2 0x6C 0x15
				0x15 2 0x6E 0x30  //VGH clamp 16.08V
				0x15 2 0x6F 0x33
				0x15 2 0x8D 0x1F  //VGL clamp -12.03V
				0x15 2 0x87 0xBA
				0x15 2 0x26 0x76
				0x15 2 0xB2 0xD1
				0x15 2 0x35 0x1F
				0x15 2 0x33 0x14
				0x15 2 0x3A 0xA9
				0x15 2 0x3B 0x98
				0x15 2 0x38 0x01
				0x15 2 0x39 0x00
				0x15 2 0x3B 0xC0 //ADD 2POWER
				0x39 4 0xFF 0x98 0x81 0x01
				0x15 2 0x22 0x0A
				0x15 2 0x31 0x00              //column inversion
				0x15 2 0x50 0xC0		//VREG1OUT=5V
				0x15 2 0x51 0xC0		//VREG2OUT=-5V
				0x15 2 0x53 0x47               //VCOM1
				0x15 2 0x55 0x46               //VCOM2  7A
				0x15 2 0x60 0x28		//SDT
				0x15 2 0x2E 0xC8   //1280 GATE NL SEL
				//0x15 2 0x22 0x0A
				//0x15 2 0x22 0x09
				0x15 2 0x40 0x53               //ADD 2POWER
				0x15 2 0xA0 0x01		//VP255	Gamma P
				0x15 2 0xA1 0x10               //VP251
				0x15 2 0xA2 0x1B               //VP247
				0x15 2 0xA3 0x0C               //VP243
				0x15 2 0xA4 0x14               //VP239
				0x15 2 0xA5 0x25               //VP231
				0x15 2 0xA6 0x1A               //VP219
				0x15 2 0xA7 0x1D               //VP203
				0x15 2 0xA8 0x68               //VP175
				0x15 2 0xA9 0x1B               //VP144
				0x15 2 0xAA 0x26               //VP111
				0x15 2 0xAB 0x5B              //VP80
				0x15 2 0xAC 0x1B              //VP52
				0x15 2 0xAD 0x17               //VP3
				0x15 2 0xAE 0x4F               //VP24
				0x15 2 0xAF 0x24               //VP16
				0x15 2 0xB0 0x2A               //VP12
				0x15 2 0xB1 0x4E               //VP8
				0x15 2 0xB2 0x5F               //VP4
				0x15 2 0xB3 0x39               //VP0

				0x15 2 0xC0 0x0F		//VN255 GAMMA N
				0x15 2 0xC1 0x1B               //VN251
				0x15 2 0xC2 0x27               //VN247
				0x15 2 0xC3 0x16               //VN243
				0x15 2 0xC4 0x14               //VN239
				0x15 2 0xC5 0x28               //VN231
				0x15 2 0xC6 0x1D               //VN219
				0x15 2 0xC7 0x21               //VN203
				0x15 2 0xC8 0x6C               //VN175
				0x15 2 0xC9 0x1B               //VN144
				0x15 2 0xCA 0x26               //VN111
				0x15 2 0xCB 0x5B              //VN80
				0x15 2 0xCC 0x1B               //VN52
				0x15 2 0xCD 0x1B               //VN36
				0x15 2 0xCE 0x4F               //VN24
				0x15 2 0xCF 0x24               //VN16
				0x15 2 0xD0 0x2A               //VN12
				0x15 2 0xD1 0x4E               //VN8
				0x15 2 0xD2 0x5F               //VN4
				0x15 2 0xD3 0x39               //VN0
				0x39 4 0xFF 0x98 0x81 0x00
				0x15 2 0x35 0x00
				0x05 1 0x11
				0xff  120
				0x05 1 0x29
				0xff 0xff>; /*ending*/
			init_off = <
				0x05 1 0x28 /* display off */
				0xff 10     /* delay 10ms */
				0x05 1 0x10 /* sleep in */
				0xff 150      /* delay 150ms */
				0xff 0xff>; /*ending*/
		};
		extern_9{
			index = <9>;
			extern_name = "mipi_default"; /* LD055LF1 */
			status = "okay";
			type = <2>; /* 0=i2c, 1=spi, 2=mipi */
			cmd_size = <0xff>;
			init_on = <
			0x29 4 0xFF 0x98 0x81 0x03
			0x15 2 0x01 0x00 	
			0x15 2 0x02 0x00 	
			0x15 2 0x03 0x73 	
			0x15 2 0x04 0x00 	
			0x15 2 0x05 0x00 
			0x15 2 0x06 0x08 	
			0x15 2 0x07 0x00 	
			0x15 2 0x08 0x00 	
			0x15 2 0x09 0x00 	
			0x15 2 0x0A 0x01 	
			0x15 2 0x0B 0x01 		
			0x15 2 0x0C 0x00 	
			0x15 2 0x0D 0x01 	
			0x15 2 0x0E 0x01 			
			0x15 2 0x0F 0x00 	
			0x15 2 0x10 0x00 	
			0x15 2 0x11 0x00 	
			0x15 2 0x12 0x00 	
			0x15 2 0x13 0x00 	
			0x15 2 0x14 0x00 
			0x15 2 0x15 0x00 	
			0x15 2 0x16 0x00 	
			0x15 2 0x17 0x00 	
			0x15 2 0x18 0x00 	
			0x15 2 0x19 0x00 
			0x15 2 0x1A 0x00 

			0x15 2 0x1B 0x00 	
			0x15 2 0x1C 0x00 	
			0x15 2 0x1D 0x00 	
			0x15 2 0x1E 0x40 	
			0x15 2 0x1F 0xC0 		
			0x15 2 0x20 0x06 	
			0x15 2 0x21 0x01 	
			0x15 2 0x22 0x06 			
			0x15 2 0x23 0x01 	
			0x15 2 0x24 0x88 	
			0x15 2 0x25 0x88 	
			0x15 2 0x26 0x00 	
			0x15 2 0x27 0x00 	
			0x15 2 0x28 0x3B 
			0x15 2 0x29 0x03 	
			0x15 2 0x2A 0x00 	
			0x15 2 0x2B 0x00 
			0x15 2 0x2C 0x00 	
			0x15 2 0x2D 0x00 	
			0x15 2 0x2E 0x00 	
			0x15 2 0x2F 0x00 	
			0x15 2 0x30 0x00 
			0x15 2 0x31 0x00 	
			0x15 2 0x32 0x00 	
			0x15 2 0x33 0x00 	
			0x15 2 0x34 0x00 	
			0x15 2 0x35 0x00 	
			0x15 2 0x36 0x00 		
			0x15 2 0x37 0x00 

			0x15 2 0x38 0x00 	
			0x15 2 0x39 0x00 			
			0x15 2 0x3A 0x00 	
			0x15 2 0x3B 0x00 	
			0x15 2 0x3C 0x00 	
			0x15 2 0x3D 0x00 	
			0x15 2 0x3E 0x00 
			0x15 2 0x3F 0x00 	
			0x15 2 0x40 0x00 	
			0x15 2 0x41 0x00 	
			0x15 2 0x42 0x00 
			0x15 2 0x43 0x00 	
			0x15 2 0x44 0x00 	
			0x15 2 0x50 0x01 
			0x15 2 0x51 0x23 	
			0x15 2 0x52 0x45 	
			0x15 2 0x53 0x67 	
			0x15 2 0x54 0x89 	
			0x15 2 0x55 0xAB 
			0x15 2 0x56 0x01 	
			0x15 2 0x57 0x23 	
			0x15 2 0x58 0x45 	
			0x15 2 0x59 0x67 
			0x15 2 0x5A 0x89 	
			0x15 2 0x5B 0xAB 		
			0x15 2 0x5C 0xCD 	
			0x15 2 0x5D 0xEF 	
			0x15 2 0x5E 0x00 			
			0x15 2 0x5F 0x01 	
			0x15 2 0x60 0x01 	
			0x15 2 0x61 0x06 	
			0x15 2 0x62 0x06 

			0x15 2 0x63 0x07 	
			0x15 2 0x64 0x07 	
			0x15 2 0x65 0x00 	
			0x15 2 0x66 0x00 	
			0x15 2 0x67 0x02 
			0x15 2 0x68 0x02 	
			0x15 2 0x69 0x05 	
			0x15 2 0x6A 0x05 
			0x15 2 0x6B 0x02 	
			0x15 2 0x6C 0x0D 	
			0x15 2 0x6D 0x0D 	
			0x15 2 0x6E 0x0C 	
			0x15 2 0x6F 0x0C 
			0x15 2 0x70 0x0F 
			0x15 2 0x71 0x0F 	
			0x15 2 0x72 0x0E 	
			0x15 2 0x73 0x0E 	
			0x15 2 0x74 0x02 	
			0x15 2 0x75 0x01 		
			0x15 2 0x76 0x01 	
			0x15 2 0x77 0x06 	
			0x15 2 0x78 0x06 
				
			0x15 2 0x79 0x07 	
			0x15 2 0x7A 0x07 	
			0x15 2 0x7B 0x00 	
			0x15 2 0x7C 0x00 	
			0x15 2 0x7D 0x02 	
			0x15 2 0x7E 0x02 	
			0x15 2 0x7F 0x05 	
			0x15 2 0x80 0x05 	
			0x15 2 0x81 0x02 
			0x15 2 0x82 0x0D 	
			0x15 2 0x83 0x0D 	
			0x15 2 0x84 0x0C 	
			0x15 2 0x85 0x0C 	
			0x15 2 0x86 0x0F 
			0x15 2 0x87 0x0F 	
			0x15 2 0x88 0x0E 	
			0x15 2 0x89 0x0E 			
			0x15 2 0x8A 0x02 
				
			0x29 4 0xFF 0x98 0x81 0x04

			0x15 2 0x3B 0xC0 	
			0x15 2 0x6C 0x15 	
			0x15 2 0x6E 0x2A 	
			0x15 2 0x6F 0x33 	
			0x15 2 0x8D 0x1B 	
			0x15 2 0x87 0xBA 	
			0x15 2 0x3A 0x24 	
			0x15 2 0x26 0x76 
			0x15 2 0xB2 0xD1 

			0x29 4 0xFF 0x98 0x81 0x01
				
			0x15 2 0x22 0x0A 	
			0x15 2 0x31 0x00 	
			0x15 2 0x40 0x53 	
			0x15 2 0x43 0x66 		
			0x15 2 0x53 0x4C 	
			0x15 2 0x50 0x87 	
			0x15 2 0x51 0x82 			
			0x15 2 0x60 0x15 	
			0x15 2 0x61 0x01 
			0x15 2 0x62 0x0C 	
			0x15 2 0x63 0x00 

			0x15 2 0xA0 0x00 	
			0x15 2 0xA1 0x13 	
			0x15 2 0xA2 0x23 	
			0x15 2 0xA3 0x14 	
			0x15 2 0xA4 0x16 
			0x15 2 0xA5 0x29 	
			0x15 2 0xA6 0x1E 	
			0x15 2 0xA7 0x1D 	
			0x15 2 0xA8 0x86 	
			0x15 2 0xA9 0x1E 		
			0x15 2 0xAA 0x29 	
			0x15 2 0xAB 0x74 	
			0x15 2 0xAC 0x19 			
			0x15 2 0xAD 0x17 	
			0x15 2 0xAE 0x4B 	
			0x15 2 0xAF 0x20 	
			0x15 2 0xB0 0x26 	
			0x15 2 0xB1 0x4C 	
			0x15 2 0xB2 0x5D 	
			0x15 2 0xB3 0x3F 

			0x15 2 0xC0 0x00 	
			0x15 2 0xC1 0x13 
			0x15 2 0xC2 0x23 	
			0x15 2 0xC3 0x14 	
			0x15 2 0xC4 0x16 	
			0x15 2 0xC5 0x29 	
			0x15 2 0xC6 0x1E 		
			0x15 2 0xC7 0x1D 	
			0x15 2 0xC8 0x86 	
			0x15 2 0xC9 0x1E 			
			0x15 2 0xCA 0x29 	
			0x15 2 0xCB 0x74 	
			0x15 2 0xCC 0x19 	
			0x15 2 0xCD 0x17 	
			0x15 2 0xCE 0x4B 	
			0x15 2 0xCF 0x20 	
			0x15 2 0xD0 0x26 	
			0x15 2 0xD1 0x4C 	
			0x15 2 0xD2 0x5D 
			0x15 2 0xD3 0x3F 

			0x29 4 0xFF 0x98 0x81 0x00

			0x05 1 0x11
			0xff 120 
			    
			0x05 1 0x29
			0xff 20 
			0x05 1 0x35
				0xff 0xff>; /*ending*/
			init_off = <
				0xff 200      /* delay 50ms */
				0xff 0xff>; /*ending*/
		};
		extern_8{	/* 8inch */
			index = <8>;
			extern_name = "mipi_default"; /* LD055LF1 */
			status = "okay";
			type = <2>; /* 0=i2c, 1=spi, 2=mipi */
			cmd_size = <0xff>;
			init_on = <
				0x39 4 0xFF 0x98 0x81 0x03
				0x15 2 0x01 0x00
				0x15 2 0x02 0x00
				0x15 2 0x03 0x53
				0x15 2 0x04 0x53
				0x15 2 0x05 0x13
				0x15 2 0x06 0x04
				0x15 2 0x07 0x02
				0x15 2 0x08 0x02
				0x15 2 0x09 0x00
				0x15 2 0x0a 0x00
				0x15 2 0x0b 0x00
				0x15 2 0x0c 0x00
				0x15 2 0x0d 0x00
				0x15 2 0x0e 0x00
				0x15 2 0x0f 0x00
				0x15 2 0x10 0x00
				0x15 2 0x11 0x00
				0x15 2 0x12 0x00
				0x15 2 0x13 0x00
				0x15 2 0x14 0x00
				
				0x15 2 0x15 0x05
				0x15 2 0x16 0x05
				
				0x15 2 0x17 0x03
				0x15 2 0x18 0x03
				
				0x15 2 0x19 0x00
				0x15 2 0x1a 0x00
				0x15 2 0x1b 0x00
				0x15 2 0x1c 0x00
				0x15 2 0x1d 0x00
				0x15 2 0x1e 0xc0
				0x15 2 0x1f 0x00
				0x15 2 0x20 0x02
				0x15 2 0x21 0x09
				0x15 2 0x22 0x00
				0x15 2 0x23 0x00
				0x15 2 0x24 0x00
				0x15 2 0x25 0x00
				0x15 2 0x26 0x00
				0x15 2 0x27 0x00
				0x15 2 0x28 0x55
				0x15 2 0x29 0x03
				0x15 2 0x2a 0x00
				0x15 2 0x2b 0x00
				0x15 2 0x2c 0x00
				0x15 2 0x2d 0x00
				0x15 2 0x2e 0x00
				0x15 2 0x2f 0x00
				0x15 2 0x30 0x00
				0x15 2 0x31 0x00
				0x15 2 0x32 0x00
				0x15 2 0x33 0x00
				0x15 2 0x34 0x00
				0x15 2 0x35 0x00
				0x15 2 0x36 0x00
				0x15 2 0x37 0x00
				0x15 2 0x38 0x3C	//VDD1&2 toggle 1sec
				0x15 2 0x39 0x00
				0x15 2 0x3a 0x00
				0x15 2 0x3b 0x00
				0x15 2 0x3c 0x00
				0x15 2 0x3d 0x00
				0x15 2 0x3e 0x00
				0x15 2 0x3f 0x00
				0x15 2 0x40 0x00
				0x15 2 0x41 0x00
				0x15 2 0x42 0x00
				0x15 2 0x43 0x00
				0x15 2 0x44 0x00
				
				0x15 2 0x50 0x01
				0x15 2 0x51 0x23
				0x15 2 0x52 0x45
				0x15 2 0x53 0x67
				0x15 2 0x54 0x89
				0x15 2 0x55 0xab
				0x15 2 0x56 0x01
				0x15 2 0x57 0x23
				0x15 2 0x58 0x45
				0x15 2 0x59 0x67
				0x15 2 0x5a 0x89
				0x15 2 0x5b 0xab
				0x15 2 0x5c 0xcd
				0x15 2 0x5d 0xef
				
				0x15 2 0x5e 0x01
				0x15 2 0x5f 0x0A       //FW_GOUT_L1   STV2_ODD
				0x15 2 0x60 0x02       //FW_GOUT_L2
				0x15 2 0x61 0x02     //FW_GOUT_L3
				0x15 2 0x62 0x08       //FW_GOUT_L4   RESET_ODD
				0x15 2 0x63 0x15       //FW_GOUT_L5
				0x15 2 0x64 0x14       //FW_GOUT_L6
				0x15 2 0x65 0x02       //FW_GOUT_L7
				0x15 2 0x66 0x11       //FW_GOUT_L8    CK11
				0x15 2 0x67 0x10       //FW_GOUT_L9    CK9
				0x15 2 0x68 0x02       //FW_GOUT_L10
				0x15 2 0x69 0x0F       //FW_GOUT_L11   CK7
				0x15 2 0x6a 0x0E       //FW_GOUT_L12   CK5
				0x15 2 0x6b 0x02       //FW_GOUT_L13
				0x15 2 0x6c 0x0D       //FW_GOUT_L14   CK3
				0x15 2 0x6d 0x0C       //FW_GOUT_L15   CK1
				0x15 2 0x6e 0x06       //FW_GOUT_L16   STV1_ODD
				0x15 2 0x6f 0x02       //FW_GOUT_L17
				0x15 2 0x70 0x02       //FW_GOUT_L18
				0x15 2 0x71 0x02     //FW_GOUT_L19
				0x15 2 0x72 0x02       //FW_GOUT_L20
				0x15 2 0x73 0x02       //FW_GOUT_L21
				0x15 2 0x74 0x02       //FW_GOUT_L22
				
				0x15 2 0x75 0x0A       //BW_GOUT_L1   STV2_ODD
				0x15 2 0x76 0x02       //BW_GOUT_L2
				0x15 2 0x77 0x02       //BW_GOUT_L3
				0x15 2 0x78 0x06       //BW_GOUT_L4   RESET_ODD
				0x15 2 0x79 0x15       //BW_GOUT_L5
				0x15 2 0x7a 0x14       //BW_GOUT_L6
				0x15 2 0x7b 0x02       //BW_GOUT_L7
				0x15 2 0x7c 0x10      //BW_GOUT_L8    CK11
				0x15 2 0x7d 0x11       //BW_GOUT_L9    CK9
				0x15 2 0x7e 0x02       //BW_GOUT_L10
				0x15 2 0x7f 0x0C       //BW_GOUT_L11   CK7
				0x15 2 0x80 0x0D       //BW_GOUT_L12   CK5
				0x15 2 0x81 0x02       //BW_GOUT_L13
				0x15 2 0x82 0x0E       //BW_GOUT_L14   CK3
				0x15 2 0x83 0x0F       //BW_GOUT_L15   CK1
				0x15 2 0x84 0x08       //BW_GOUT_L16   STV1_ODD
				0x15 2 0x85 0x02       //BW_GOUT_L17
				0x15 2 0x86 0x02       //BW_GOUT_L18
				0x15 2 0x87 0x02       //BW_GOUT_L19
				0x15 2 0x88 0x02       //BW_GOUT_L20
				0x15 2 0x89 0x02       //BW_GOUT_L21
				0x15 2 0x8A 0x02       //BW_GOUT_L22
				
				0x39 4 0xFF 0x98 0x81 0x04
				0x15 2 0x3B 0xC0
				0x15 2 0x6C 0x15
				0x15 2 0x6E 0x30  //VGH clamp 16.08V
				0x15 2 0x6F 0x33
				0x15 2 0x8D 0x1F  //VGL clamp -12.03V

				0x15 2 0x3A 0x24
				0x15 2 0x35 0x1F				
				
				0x15 2 0x87 0xBA
				0x15 2 0x26 0x76
				0x15 2 0xB2 0xD1
				0x15 2 0xB5 0x07
				0x15 2 0x88 0x0B
				0x15 2 0x21 0x30
				
				0x39 4 0xFF 0x98 0x81 0x01
				0x15 2 0x22 0x0A
				0x15 2 0x31 0x09              //column inversion+
				0x15 2 0x40 0x33
				0x15 2 0x42 0x44
				0x15 2 0x53 0x2E               //VCOM1
				0x15 2 0x55 0x88               //VCOM2  7A
				0x15 2 0x50 0x95
				0x15 2 0x51 0x95				
				0x15 2 0x60 0x43		//SDT
				
				0x15 2 0x2E 0xC8   //1280 GATE NL SEL
				
				0x15 2 0xA0 0x0F		//VP255	Gamma P
				0x15 2 0xA1 0x1D               //VP251
				0x15 2 0xA2 0x2A              //VP247
				0x15 2 0xA3 0x14               //VP243
				0x15 2 0xA4 0x16               //VP239
				0x15 2 0xA5 0x29               //VP231
				0x15 2 0xA6 0x1D               //VP219
				0x15 2 0xA7 0x1E               //VP203
				0x15 2 0xA8 0x83               //VP175
				0x15 2 0xA9 0x1E               //VP144
				0x15 2 0xAA 0x2B               //VP111
				0x15 2 0xAB 0x6F             //VP80
				0x15 2 0xAC 0x18              //VP52
				0x15 2 0xAD 0x17               //VP3
				0x15 2 0xAE 0x4C               //VP24
				0x15 2 0xAF 0x22               //VP16
				0x15 2 0xB0 0x27              //VP12
				0x15 2 0xB1 0x4D              //VP8
				0x15 2 0xB2 0x5C               //VP4
				0x15 2 0xB3 0x2B              //VP0

				0x15 2 0xC0 0x0F		//VN255 GAMMA N
				0x15 2 0xC1 0x1D               //VN251
				0x15 2 0xC2 0x2A               //VN247
				0x15 2 0xC3 0x14               //VN243
				0x15 2 0xC4 0x16               //VN239
				0x15 2 0xC5 0x29               //VN231
				0x15 2 0xC6 0x1D               //VN219
				0x15 2 0xC7 0x1E              //VN203
				0x15 2 0xC8 0x83               //VN175
				0x15 2 0xC9 0x1E               //VN144
				0x15 2 0xCA 0x2B              //VN111
				0x15 2 0xCB 0x6F             //VN80
				0x15 2 0xCC 0x18               //VN52
				0x15 2 0xCD 0x17               //VN36
				0x15 2 0xCE 0x4C              //VN24
				0x15 2 0xCF 0x22               //VN16
				0x15 2 0xD0 0x27               //VN12
				0x15 2 0xD1 0x4D               //VN8
				0x15 2 0xD2 0x5C               //VN4
				0x15 2 0xD3 0x2B              //VN0
				0x39 4 0xFF 0x98 0x81 0x00
				0x15 2 0x35 0x00
				0x05 1 0x11
				0xff  120
				0x05 1 0x29
				0xff 0xff>; /*ending*/
			init_off = <
				0x05 1 0x28 /* display off */
				0xff 10     /* delay 10ms */
				0x05 1 0x10 /* sleep in */
				0xff 150      /* delay 150ms */
				0xff 0xff>; /*ending*/
		};
	};

	backlight{
		compatible = "amlogic, backlight-sm1";
		dev_name = "backlight";
		status = "okay";
		key_valid = <0>;
		pinctrl-names = "pwm_on";
		pinctrl-0 = <&pwm_f_pins2>;
		pinctrl_version = <2>; /* for uboot */
		bl_pwm_config = <&bl_pwm_conf>;
		bl-gpios = <&gpio GPIOH_5 GPIO_ACTIVE_HIGH>;
		bl_gpio_names = "GPIOH_5";

		/* pwm port: PWM_A, PWM_B, PWM_C, PWM_D, PWM_E, PWM_F, PWM_VS*/
		/* power index:(point gpios_index, 0xff=invalid)
		 * power value:(0=output low, 1=output high, 2=input)
		 * power delay:(unit in ms)
		 */

		backlight_0{
			index = <0>;
			bl_name = "backlight_pwm";
			bl_level_default_uboot_kernel = <100 100>;
			bl_level_attr = <255 10 /*max, min*/
				128 128>; /*mid, mid_mapping*/
			bl_ctrl_method = <1>; /* 1=pwm, 2=pwm_combo, 4=extern */
			//bl_power_attr = <0 /*en_gpio_index*/
			//	1 0 /*on_value, off_value*/
			//	200 200>; /*on_delay(ms), off_delay(ms)*/
			bl_pwm_port = "PWM_F";
			bl_pwm_attr = <1 /*pwm_method*/
				/*pwm_freq(pwm:Hz, pwm_vs:multiple of vs)*/
				25000
				100 25>; /*duty_max(%), duty_min(%)*/
			bl_pwm_power = <0 0 /*pwm_gpio_index, pwm_gpio_off*/
				10 10>; /*pwm_on_delay(ms), pwm_off_delay(ms)*/
			bl_pwm_en_sequence_reverse = <0>; /* 1 for reverse */
		};
		backlight_1{
			index = <1>;
			bl_name = "bl_extern";
			bl_level_default_uboot_kernel = <100 100>;
			bl_level_attr = <255 10 /*max, min*/
				128 128>; /*mid, mid_mapping*/
			bl_ctrl_method = <4>; /*1=pwm, 2=pwm_combo, 4=extern*/
			bl_power_attr = <1 /*en_gpio_index*/
				1 0 /*on_value, off_value*/
				200 200>; /*on_delay(ms), off_delay(ms)*/
			bl_extern_index = <0>;
		};
	};
	bl_pwm_conf:bl_pwm_conf{
		pwm_channel_0 {
			pwm_port_index = <5>;
			pwms = <&pwm_ef MESON_PWM_1 30040 0>;
		};
	};

	bl_extern{
		compatible = "amlogic, bl_extern";
		dev_name = "bl_extern";
		status = "disabled";
		i2c_bus = "i2c_bus_3";

		extern_0{
			index = <0>;
			extern_name = "i2c_lp8556";
			type = <0>; /*0=i2c, 1=spi, 2=mipi*/
			i2c_address = <0x2c>; /*7bit i2c address*/
			dim_max_min = <255 10>;
		};

		extern_1{
			index = <1>;
			extern_name = "mipi_lt070me05";
			type = <2>; /*0=i2c, 1=spi, 2=mipi*/
			dim_max_min = <255 10>;
		};
	};
};/* end of panel */

