// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2019 Amlogic, Inc. All rights reserved.
 */

/dts-v1/;

#include "meson-tm2.dtsi"

/ {
	compatible = "amlogic,tm2";
	model = "AML AB311";

	aliases {
		serial0 = &uart_AO;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c_AO;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x40000000>;
	};

	reserved-memory {
		/* TEE Reserved Memory */
		bl32_reserved: bl32@5000000 {
			reg = <0x0 0x05300000 0x0 0x2000000>;
			no-map;
		};
	};
};

/* Exposed via the on-board USB to Serial FT232RL IC */
&uart_AO {
	status = "okay";
};

&ir {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&remote_input_ao_pins>;
};
