CONFIG_MALI_MIDGARD=m
CONFIG_MALI_PLATFORM_THIRDPARTY_NAME="rk"
CONFIG_MALI_PLATFORM_THIRDPARTY=y
CONFIG_MALI_DEBUG=y
CONFIG_MALI_DEVFREQ=y
CONFIG_MALI_DT=y
CONFIG_MALI_EXPERT=y
CONFIG_MALI_SHARED_INTERRUPTS=y
# CONFIG_MALI_BIFROST is not set
# CONFIG_MALI_BIFROST_DEVFREQ is not set
# CONFIG_MALI_PLATFORM_NAME is not set
# CONFIG_MALI_BIFROST_EXPERT is not set
# CONFIG_MALI_BIFROST_DEBUG is not set
