# CONFIG_ATA is not set
CONFIG_AX88796B_PHY=y
CONFIG_BATTERY_CW221X=y
# CONFIG_BLK_DEV_BSG is not set
# CONFIG_BLK_DEV_INITRD is not set
# CONFIG_BT is not set
# CONFIG_CAN is not set
# CONFIG_CGROUPS is not set
CONFIG_CHARGER_SC89601=y
# CONFIG_CPU_PX30 is not set
# CONFIG_CPU_RK1808 is not set
# CONFIG_CPU_RK3328 is not set
# CONFIG_CPU_RK3399 is not set
# CONFIG_CPU_RK3528 is not set
# CONFIG_CPU_RK3562 is not set
# CONFIG_CPU_RK3568 is not set
# CONFIG_CPU_RK3588 is not set
# CONFIG_DEBUG_CREDENTIALS is not set
# CONFIG_DEBUG_MISC is not set
# CONFIG_DTC_SYMBOLS is not set
# CONFIG_DVB_DYNAMIC_MINORS is not set
# CONFIG_DVB_NET is not set
# CONFIG_ETHERNET is not set
CONFIG_EXFAT_FS=y
# CONFIG_EXT4_FS is not set
CONFIG_FAT_DEFAULT_IOCHARSET="cp936"
# CONFIG_FTRACE is not set
# CONFIG_I3C is not set
# CONFIG_IKCONFIG is not set
CONFIG_INV_ICM42670_SPI=y
# CONFIG_ISO9660_FS is not set
CONFIG_LOG_BUF_SHIFT=16
# CONFIG_MAGIC_SYSRQ is not set
# CONFIG_MEDIA_USB_SUPPORT is not set
# CONFIG_MOTORCOMM_PHY is not set
# CONFIG_MTD_OF_PARTS is not set
# CONFIG_MTD_SPI_NAND_ATO is not set
# CONFIG_MTD_SPI_NAND_BIWIN is not set
# CONFIG_MTD_SPI_NAND_DEVICE_AUTOSELECT is not set
# CONFIG_MTD_SPI_NAND_DOSILICON is not set
# CONFIG_MTD_SPI_NAND_ESMT is not set
# CONFIG_MTD_SPI_NAND_ETRON is not set
# CONFIG_MTD_SPI_NAND_FORESEE is not set
# CONFIG_MTD_SPI_NAND_GSTO is not set
# CONFIG_MTD_SPI_NAND_HIKSEMI is not set
# CONFIG_MTD_SPI_NAND_HYF is not set
# CONFIG_MTD_SPI_NAND_JSC is not set
# CONFIG_MTD_SPI_NAND_MACRONIX is not set
# CONFIG_MTD_SPI_NAND_MICRON is not set
# CONFIG_MTD_SPI_NAND_PARAGON is not set
# CONFIG_MTD_SPI_NAND_SILICONGO is not set
# CONFIG_MTD_SPI_NAND_SKYHIGH is not set
# CONFIG_MTD_SPI_NAND_TOSHIBA is not set
# CONFIG_MTD_SPI_NAND_UNIM is not set
# CONFIG_MTD_SPI_NAND_WINBOND is not set
# CONFIG_MTD_SPI_NAND_XINCUN is not set
# CONFIG_MTD_SPI_NAND_XTX is not set
# CONFIG_MTD_SPI_NAND_ZBIT is not set
# CONFIG_MTD_SPI_NOR is not set
CONFIG_MTD_UBI_BLOCK=y
# CONFIG_NAMESPACES is not set
# CONFIG_NETWORK_FILESYSTEMS is not set
# CONFIG_NEW_LEDS is not set
# CONFIG_NTFS_FS is not set
# CONFIG_PCI is not set
CONFIG_PRINTK_SAFE_LOG_BUF_SHIFT=12
# CONFIG_PROFILING is not set
# CONFIG_RADIO_ADAPTERS is not set
# CONFIG_RCU_TRACE is not set
# CONFIG_REALTEK_PHY is not set
# CONFIG_RELAY is not set
# CONFIG_RK630_PHY is not set
CONFIG_ROCKCHIP_CHARGER_MANAGER=y
# CONFIG_ROCKCHIP_PHY is not set
# CONFIG_RUNTIME_TESTING_MENU is not set
# CONFIG_SCHED_DEBUG is not set
# CONFIG_SECURITYFS is not set
# CONFIG_SLUB_DEBUG is not set
CONFIG_SND_ALOOP=y
CONFIG_SND_SOC_RK730=y
# CONFIG_STACKTRACE is not set
# CONFIG_STRICT_DEVMEM is not set
# CONFIG_USB_RTL8150 is not set
CONFIG_USB_USBNET=y
# CONFIG_VHOST_MENU is not set
CONFIG_VIDEO_IMX386=y
# CONFIG_VIDEO_LT6911UXC is not set
# CONFIG_VIDEO_LT6911UXE is not set
# CONFIG_VIDEO_LT7911D is not set
# CONFIG_VIDEO_OS04A10 is not set
# CONFIG_VIDEO_OV4689 is not set
# CONFIG_VIDEO_OV50C40 is not set
# CONFIG_VIDEO_OV5695 is not set
# CONFIG_VIDEO_OV7251 is not set
# CONFIG_VIDEO_RK_IRCUT is not set
# CONFIG_VIDEO_SC4336 is not set
# CONFIG_VIRTIO_MENU is not set
# CONFIG_XFS_FS is not set
CONFIG_EXFAT_DEFAULT_IOCHARSET="cp936"
CONFIG_INV_ICM42670=y
CONFIG_NO_IOPORT_MAP=y
CONFIG_ROCKCHIP_CHARGER_MANAGER_CHARGE_PUMP=y
# CONFIG_USB_ALI_M5632 is not set
# CONFIG_USB_AN2720 is not set
CONFIG_USB_ARMLINUX=y
CONFIG_USB_BELKIN=y
# CONFIG_USB_EPSON2888 is not set
# CONFIG_USB_KC2190 is not set
# CONFIG_USB_NET_AQC111 is not set
CONFIG_USB_NET_AX88179_178A=y
CONFIG_USB_NET_AX8817X=y
CONFIG_USB_NET_CDCETHER=y
# CONFIG_USB_NET_CDC_EEM is not set
# CONFIG_USB_NET_CDC_MBIM is not set
CONFIG_USB_NET_CDC_NCM=y
CONFIG_USB_NET_CDC_SUBSET=y
CONFIG_USB_NET_CDC_SUBSET_ENABLE=y
# CONFIG_USB_NET_CH9200 is not set
# CONFIG_USB_NET_CX82310_ETH is not set
# CONFIG_USB_NET_DM9601 is not set
# CONFIG_USB_NET_GL620A is not set
# CONFIG_USB_NET_HUAWEI_CDC_NCM is not set
# CONFIG_USB_NET_INT51X1 is not set
# CONFIG_USB_NET_KALMIA is not set
# CONFIG_USB_NET_MCS7830 is not set
CONFIG_USB_NET_NET1080=y
# CONFIG_USB_NET_PLUSB is not set
# CONFIG_USB_NET_QMI_WWAN is not set
# CONFIG_USB_NET_RNDIS_HOST is not set
# CONFIG_USB_NET_SMSC75XX is not set
# CONFIG_USB_NET_SMSC95XX is not set
# CONFIG_USB_NET_SR9700 is not set
# CONFIG_USB_NET_SR9800 is not set
CONFIG_USB_NET_ZAURUS=y
CONFIG_USB_RTL8153_ECM=y
# CONFIG_USB_SIERRA_NET is not set
# CONFIG_USB_VL600 is not set
