CONFIG_WIFI_LOAD_DRIVER_WHEN_KERNEL_BOOTUP=y
CONFIG_AP6XXX=y
CONFIG_BCMDHD_SDIO=y
# CONFIG_WIFI_BUILD_MODULE is not set
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_PPP=y
CONFIG_PPP_BSDCOMP=y
CONFIG_PPP_DEFLATE=y
CONFIG_PPP_FILTER=y
CONFIG_PPP_MPPE=y
CONFIG_PPP_MULTILINK=y
CONFIG_PPPOE=y
CONFIG_PPPOLAC=y
CONFIG_PPPOPNS=y
CONFIG_PPP_ASYNC=y
CONFIG_PPP_SYNC_TTY=y
# CONFIG_RTC_DRV_RK808 is not set
CONFIG_RTC_LIB=y
CONFIG_TOUCHSCREEN_GT1X_ENABLE_WARP=y
CONFIG_TOUCHSCREEN_GT1X_ESD_PROTECT=y
CONFIG_TOUCHSCREEN_GT1X_SEND_CFG=y
CONFIG_USB_USBNET=y
CONFIG_USB_CHIPIDEA=y
CONFIG_USB_CHIPIDEA_HOST=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_CONFIGFS_F_UAC1=y
CONFIG_USB_CONFIGFS_F_UAC2=y
CONFIG_USB_CONFIGFS_F_HID=y
CONFIG_USB_SERIAL_CONSOLE=y
CONFIG_USB_ULPI=y
CONFIG_CAN=y
CONFIG_CAN_ROCKCHIP=y
CONFIG_CANFD_ROCKCHIP=y
CONFIG_VIDEO_DW9714=y
CONFIG_VIDEO_ROCKCHIP_HDMIRX=y
CONFIG_CMA_SIZE_MBYTES=128
