CONFIG_WIFI_LOAD_DRIVER_WHEN_KERNEL_BOOTUP=y
CONFIG_AP6XXX=y
# CONFIG_WIFI_BUILD_MODULE is not set
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_CONFIGFS_F_UAC1=y
CONFIG_USB_CONFIGFS_F_UAC2=y
CONFIG_USB_CONFIGFS_F_HID=y
CONFIG_VIDEO_OV50C40=y
CONFIG_VIDEO_ROCKCHIP_HDMIRX=y
CONFIG_CMA_SIZE_MBYTES=128
