CONFIG_MAILBOX=y
CONFIG_ROCKCHIP_AMP=y
CONFIG_RPMSG_VIRTIO=y
# CONFIG_ALTERA_MBOX is not set
# CONFIG_ARM_MHU is not set
# CONFIG_ARM_MHU_V2 is not set
# CONFIG_ARM_SCPI_PROTOCOL is not set
CONFIG_BLK_MQ_VIRTIO=y
# CONFIG_BT_VIRTIO is not set
# CONFIG_CRYPTO_DEV_VIRTIO is not set
# CONFIG_GPIO_VIRTIO is not set
# CONFIG_HW_RANDOM_VIRTIO is not set
CONFIG_MAILBOX_POLL_PERIOD_US=y
# CONFIG_MAILBOX_TEST is not set
# CONFIG_PL320_MBOX is not set
# CONFIG_PLATFORM_MHU is not set
CONFIG_ROCKCHIP_MBOX=y
# CONFIG_ROCKCHIP_MBOX_DEMO is not set
CONFIG_RPMSG=y
# CONFIG_RPMSG_CHAR is not set
# CONFIG_RPMSG_CTRL is not set
CONFIG_RPMSG_NS=y
# CONFIG_RPMSG_QCOM_GLINK_RPM is not set
CONFIG_RPMSG_ROCKCHIP_MBOX=y
# CONFIG_RPMSG_ROCKCHIP_TEST is not set
CONFIG_RPMSG_TTY=y
# CONFIG_SND_SOC_FSL_RPMSG is not set
# CONFIG_SND_VIRTIO is not set
CONFIG_VIRTIO=y
CONFIG_VIRTIO_ANCHOR=y
# CONFIG_VIRTIO_BLK is not set
