# CONFIG_BACKLIGHT_CLASS_DEVICE is not set
# CONFIG_BATTERY_RK817 is not set
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
# CONFIG_CC_OPTIMIZE_FOR_SIZE is not set
# CONFIG_CHARGER_RK817 is not set
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY is not set
CONFIG_PREEMPT=y
# CONFIG_PREEMPT_NONE is not set
# CONFIG_RK_HEADSET is not set
# CONFIG_ROCKCHIP_DW_MIPI_DSI is not set
# CONFIG_ROCKCHIP_FEPHY is not set
# CONFIG_ROCKCHIP_MINI_KERNEL is not set
# CONFIG_ROCKCHIP_MPP_OSAL is not set
CONFIG_ROCKCHIP_MPP_SERVICE=y
# CONFIG_ROCKCHIP_RGB is not set
CONFIG_SQUASHFS=y
# CONFIG_STMMAC_ETH is not set
# CONFIG_USB_VIDEO_CLASS is not set
# CONFIG_VIDEO_IMX415 is not set
CONFIG_VIDEO_OV7251=y
# CONFIG_VIDEO_SC200AI is not set
# CONFIG_VIDEO_SC850SL is not set
# CONFIG_DEBUG_PREEMPT is not set
CONFIG_HDMI=y
CONFIG_I2C_ALGOBIT=y
CONFIG_LZ4_DECOMPRESS=y
CONFIG_LZO_DECOMPRESS=y
CONFIG_PREEMPTION=y
CONFIG_PREEMPT_BUILD=y
CONFIG_PREEMPT_COUNT=y
CONFIG_PREEMPT_RCU=y
# CONFIG_ROCKCHIP_MPP_AV1DEC is not set
# CONFIG_ROCKCHIP_MPP_IEP2 is not set
# CONFIG_ROCKCHIP_MPP_JPGDEC is not set
# CONFIG_ROCKCHIP_MPP_JPGENC is not set
CONFIG_ROCKCHIP_MPP_PROC_FS=y
# CONFIG_ROCKCHIP_MPP_RKVDEC is not set
CONFIG_ROCKCHIP_MPP_RKVDEC2=y
# CONFIG_ROCKCHIP_MPP_RKVENC is not set
CONFIG_ROCKCHIP_MPP_RKVENC2=y
# CONFIG_ROCKCHIP_MPP_VDPP is not set
# CONFIG_ROCKCHIP_MPP_VDPU1 is not set
# CONFIG_ROCKCHIP_MPP_VDPU2 is not set
# CONFIG_ROCKCHIP_MPP_VEPU1 is not set
# CONFIG_ROCKCHIP_MPP_VEPU2 is not set
# CONFIG_SQUASHFS_4K_DEVBLK_SIZE is not set
# CONFIG_SQUASHFS_DECOMP_MULTI is not set
CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU=y
# CONFIG_SQUASHFS_DECOMP_SINGLE is not set
# CONFIG_SQUASHFS_EMBEDDED is not set
CONFIG_SQUASHFS_FILE_CACHE=y
# CONFIG_SQUASHFS_FILE_DIRECT is not set
CONFIG_SQUASHFS_FRAGMENT_CACHE_SIZE=3
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_LZO=y
# CONFIG_SQUASHFS_XATTR is not set
# CONFIG_SQUASHFS_XZ is not set
CONFIG_SQUASHFS_ZLIB=y
# CONFIG_SQUASHFS_ZSTD is not set
CONFIG_UNINLINE_SPIN_UNLOCK=y
