#
# LED drivers configuration
#

menuconfig AMLOGIC_LED
	tristate "Amlogic LED Support"
	default n
	help
	  Say Y here to get to see options for led drivers.
	  This option alone does not add any kernel code.

	  If you say N, all options in this submenu will be
	  skipped and disabled.


if AMLOGIC_LED

config AML_LED_SYS
	tristate "sys led module support"
	depends on LEDS_CLASS
	default n
	help
	  This option enables support for system led drivers.

	  Enable this option to allow the userspace to control
	  the system led.

config AML_LED_PWM
	tristate "pwm led module support"
	depends on LEDS_CLASS
	default n
	help
	  This option enables support for pwm led drivers.

	  Enable this option to allow the userspace to control
	  the pwm led.

config AML_LED_TRIGGER_BREATHE
	tristate "led breathe trigger support"
	depends on LEDS_TRIGGERS
	default n
	help
	  This option enables support for led breathe trigger drivers.

	  Enable this option to allow the userspace to control
	  the led breathe trigger.

config AML_LED_TRIGGER_SCPI
	tristate "led scpi trigger support"
	depends on LEDS_TRIGGERS
	depends on AML_LED_PWM
	default n
	help
	  This option enables support for led scpi trigger drivers.

	  Enable this option to allow the userspace to control
	  the led scpi trigger for firmware.

config AML_LED_TRIGGER_SCPISTOP
	tristate "led scpistop trigger support"
	depends on LEDS_TRIGGERS
	depends on AML_LED_PWM
	default n
	help
	  This option enables support for led scpistop trigger drivers.

	  Enable this option to allow the userspace to scpi send to stop
	  the led timer of firmware.

config AML_LED_TRIGGER_DISTURB
	tristate "led disturb trigger support"
	depends on LEDS_TRIGGERS
	default n
	help
	  This option enables support for led disturb trigger drivers.

	  Enable this option to allow the userspace to send scpi led timer
	  command to the firmware.


endif
