#
# LED drivers configuration
#

menuconfig AMLOGIC_LED
	bool "Amlogic LED Support"
	default n
	help
	  Say Y here to get to see options for led drivers.
	  This option alone does not add any kernel code.

	  If you say N, all options in this submenu will be
	  skipped and disabled.


if AMLOGIC_LED

config AMLOGIC_LEDS_TLC59116
	tristate "LED Support for the TLC59116"
	depends on LEDS_CLASS
	default n
	help
	  Choose this option if you want to use the LED on
	  TLC59116.

config AMLOGIC_LEDS_AW9523B
	tristate "LED Support for the AW9523B"
	depends on LEDS_CLASS
	default n
	help
	  Choose this option if you want to use the LED on
	  AW9523B.

config AMLOGIC_LEDS_STATE
	tristate "LED state support"
	depends on LEDS_CLASS
	default n
	help
	  Choose this option if you want to use the LED state
		and led function

endif
