
# EVL real-time core
config HAVE_ARCH_EVL
	bool

menuconfig EVL
	bool "EVL real-time core"
	depends on HAVE_ARCH_EVL
	select DOVETAIL
	help

	  The EVL core is a real-time component of the Linux kernel,
	  which delivers very short and bounded response time to
	  interrupt and task events.  EVL runs asynchronously to the
	  common kernel services, on the high-priority, out-of-band
	  stage managed by the Dovetail layer.

if EVL

source "kernel/evl/Kconfig"

if WARN_CPUFREQ_GOVERNOR
comment "WARNING! CPU_FREQ governors other than 'performance'"
comment "or 'powersave' may significantly increase latency"
comment "on this platform during the frequency transitions."
endif

endif

config WARN_CPUFREQ_GOVERNOR
       def_bool n
