
config AML_LCD_GAMMA_DEBUG
	boolean "LCD Gamma debug"
	default y
	help
		Amlogic LCD gamma debug

config AML_LCD_EXTERN
	boolean "LCD external driver"
	default y
	help
		"Amlogic LCD external driver, such as i2c initial..."
