menu "AMLOGIC DVB EXTERN support"

config AMLOGIC_DVB_EXTERN
	tristate "Amlogic dvb extern drivers"
	default N
	help
		select it to support amlogic dvb extern driver.
		Y: enable
		N: disable
		M: build as module
endmenu

menu "DVB AUCPU support"
source "drivers/amlogic/dvb/aucpu/Kconfig"
endmenu
#
#dvb driver for demux
#
menu "AMLOGIC DVB demux/dsc support"

config AMLOGIC_DVB_DMX
   tristate "AMLOGIC DVB DMX"
#   default m
#   bool "AMLOGIC DVB DMX"
   default (DVB_CORE && DVB_PLATFORM_DRIVER && AMLOGIC_DVB && AMLOGIC_DVB_COMPAT)
   help
     support dmx/dsc driver.

config AMLOGIC_DVB_DSM
	tristate "AMLOGIC DVB DSM"
	default N
	help
		Amlogic DVB Descrambler Session Manager
		Y: enable
		N: disable
		M: build as module

endmenu
