
config AML_TABLET_BL_EXTERN
	boolean "Amlogic backlight extern"
	default y
	help
	Say Y if you want to use Amlogic backlight extern control.

config AML_BL_EXTERN_PMU_AML1218
	boolean "Amlogic backlight pmu aml1218"
	depends on AML_TABLET_BL_EXTERN
	default y
	help
	Say Y if you want to use pmu aml1218 to control Amlogic backlight.


config AML_BL_EXTERN_I2C_LP8556
	boolean "Amlogic backlight i2c lp8556"
	depends on AML_TABLET_BL_EXTERN
	default n
	help
	Say Y if you want to use i2c lp8556 to control Amlogic backlight.

config CONFIG_AML_BL_EXTERN_MIPI_LT070ME05
	boolean "Amlogic backlight mipi LT070ME05"
	depends on AML_TABLET_BL_EXTERN
	default n
	help
	Say Y if you want to use mipi LT070ME05 to control Amlogic backlight.
