#
# Kyeboard device configuration
#

menuconfig AMLOGIC_INPUT_KEYBOARD
	bool "Keyboards and keypads"
	default n
	help
	  Say Y here, and a list of supported keyboards and keypads will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

config AMLOGIC_ADC_KEYPADS
	tristate "Meson ADC keypad support"
	depends on AMLOGIC_INPUT_KEYBOARD
	depends on MESON_SARADC
	default n
	help
	  Say Y here if you want to use the Meson ADC keypad.

config AMLOGIC_GPIO_KEY
        tristate "Amlogic gpio key device surport"
        depends on AMLOGIC_INPUT_KEYBOARD
	default n
        help
          Say Y here if you want to use the amlogic hold key.
