#
# Amlogic video processor configuration
#

menu "Amlogic Video Processor Support"

config AMLOGIC_MEDIA_VIDEO_PROCESSOR
	bool "Amlogic Video Processor Driver"
	default n
	help
		Amlogic Video Processor module support,
		such as ION_VIDEO, PPMGR, AML_V4L_VIDEO and etc,
		both of which depends on this
		configuration options.

if AMLOGIC_MEDIA_VIDEO_PROCESSOR
source "drivers/amlogic/media/video_processor/ppmgr/Kconfig"
source "drivers/amlogic/media/video_processor/utils/Kconfig"
source "drivers/amlogic/media/video_processor/videosync/Kconfig"
source "drivers/amlogic/media/video_processor/pic_dev/Kconfig"
source "drivers/amlogic/media/video_processor/video_dev/Kconfig"
source "drivers/amlogic/media/video_processor/ionvideo/Kconfig"
source "drivers/amlogic/media/video_processor/v4lvideo/Kconfig"
source "drivers/amlogic/media/video_processor/video_composer/Kconfig"
source "drivers/amlogic/media/video_processor/videotunnel/Kconfig"
source "drivers/amlogic/media/video_processor/vdetect/Kconfig"
source "drivers/amlogic/media/video_processor/videoqueue/Kconfig"
source "drivers/amlogic/media/video_processor/common/Kconfig"
endif

endmenu
