#
# LDIM Device Driver Configuration
#
config AMLOGIC_BL_LDIM
	bool "Amlogic Backlight Local Dimming"
	default n
	help
		Say Y if you want to use Amlogic Local dimming.
		The role of local dimming is according to each
		image information, calculate the corresponding
		brightness values, to improve the effect of image quality

config AMLOGIC_BL_LDIM_IW7038
	bool "Amlogic local Diming Iw7038"
	depends on AMLOGIC_BL_LDIM
	default n
	help
		Spi iw7038 controller support.
		Once use the local dimming, add the spi driver
		Through the spi iw7038 to write data like brightness
		values for the local dimming

config AMLOGIC_BL_LDIM_IW7027
        bool "Amlogic local Diming Iw7027"
        depends on AMLOGIC_BL_LDIM
        default n
        help
                Spi iw7027 controller support.
		Once use the local dimming, add the spi driver
                Through the spi iw7027 to write data like brightness
                values for the local dimming

config AMLOGIC_BL_LDIM_BLMCU
        bool "Amlogic local Diming BLMCU"
        depends on AMLOGIC_BL_LDIM
        default n
        help
                Spi blmcu controller support.
		Once use the local dimming, add the spi driver
                Through the spi blmcu to write data like brightness
                values for the local dimming

config AMLOGIC_BL_LDIM_OB3350
	bool "Amlogic local Diming Iw70XX_MCU"
	depends on AMLOGIC_BL_LDIM
	default n
	help
		Spi iw70XX_MCU controller support.
		Once use the local dimming, add the spi driver for send data to mcu
		Through the spi iw70xx to write data like brightness
		values for the local dimming
