#
# Amlogic key management configuration
#

config AMLOGIC_UNIFYKEY
	tristate "Amlogic unifykey driver support"
	default n
	help
	    platform independent part of unifykey driver
	    y here, means select unifykey
	    n here, means don't use unifykey
