#
# HDMITX
#
menu "Amlogic HDMITX Module"

config AMLOGIC_HDMITX21
	select HDMI
	bool "AMLOGIC HDMITX21 driver"
	default n
	help
	This option is used to configure Amlogic drivers
        of the hdmi tx output

endmenu
