# AML AUDIO V2 control drivers

menu "Amlogic Audio Interface V2"

config	AMAUDIO2
	bool "Amlogic Audio Interface V2"
	default y
	help
		"Amlogic Audio Interface V2, The interface different from amaudio"

endmenu
