;
; ************************
; *  INIT_TS.TXT SCRIPT  *
; ************************
;
; *** CLOSE INPUT ***
;
IN_SEL 0x00
;
; *** CLOSE OUPUT ***
;
OUT_SEL 0x00
;
; *** RESET FIFO ***
;
FIFO_CTRL 0x0f
SYNC_RTV_CTRL 0x0f
;
;
; *************************
; *  INIT_USB.TXT SCRIPT  *
; *************************
;
; *** Endpoint Config ***
;
DMA_ACC_EPS	0x3f
EPS_ENABLE 0x7f
;
; *** FIFO Control ***
;
USB2TS_CTRL	0x0f
TS2USB_CTRL	0x0f
;
; *** FREQ Control ***
;
USB2TS0_RDL	0x80
USB2TS1_RDL	0x80
;
;-----------------------------------------------------------------------------
; Set CAM power
;-----------------------------------------------------------------------------
;
GPIO0_DATA_OUT	0x00
;
; unlock CFG
CFG_2	0x00
;
; 1) DVB/CI/CI+/SCARD 2slot
CFG_1	0x00
;
; 2) Set the Default "power off" state such as VCC_MODA=VCC_MODB=VPPx_MODA=VPPx_MODB='Z'
GPIO0_DFT 0x00
;
; 3) Set GPIO3 as external power switch driver
GPIO0_MASK_DATA 0x07
;
; 4) Set "power on" state (VCC=VPP1=VPP2= 5V)
GPIO0_DATA_OUT	0x01
;
; 5) Lock config
CFG_2	0x01
;
; 6) Write in the GPIO0_DIR_REG: defines the GPIOs, which
;    are used to drive the external power switch, in output mode.
GPIO0_DIR 0x07
;
; 7) Check VCCENable
?CFG_1 0x20
;
; 8) Set & wait for PcmciaOutputEnable
|CFG_1 0x08
?CFG_1 0x08
;
;---------------------------------------
; Set Router CAM
;---------------------------------------
;
;
GAP_REMOVER_CH0_CTRL 0x0C
GAP_REMOVER_CH1_CTRL 0x0C

; 9) CH0 & CH1 from CAM A & B, CAM A & B from CH0 & CH1
;
ROUTER_CAM_MOD	0x21
ROUTER_CAM_CH	0x00
;
;_Wait	200
;---------------------------------------
; ROUTER CAM
;---------------------------------------
OUT_SEL 0x03
;
USB2TS0_RDL	0x80
USB2TS1_RDL	0x80
;
IN_SEL 0x22

