#
# Amlogic AUCPU driver configuration
#
config AMLOGIC_AUCPU
	tristate "Amlogic Aucpu driver"
	default n
#	depends on AMLOGIC_MEDIA_CODEC_MM
	help
		Amlogic AUCPU Driver module support
		This module driver support amlogic aucpu
