
menu "Amlogic Backlight Support"

config AML_BACKLIGHT
	boolean "Amlogic backlight support"
	select BACKLIGHT_LCD_SUPPORT
	select BACKLIGHT_CLASS_DEVICE
	default n
	help
		Say Y here if you want to use the Amlogic backlight management.

if AML_BACKLIGHT
source "drivers/amlogic/display/backlight/bl_extern/Kconfig"
source "drivers/amlogic/display/backlight/aml_ldim/Kconfig"
endif

endmenu
