menu "Amlogic Bt Rfkill Driver"

config BT_DEVICE
    boolean "BT Device support"
    depends on BT && RFKILL
    default n
    ---help---
      Say Y here if you want to use the BT device.
config BLUESLEEP
    boolean "Bluesleep support"
    depends on BT
    default n
    ---help---
      Say Y here if you want to use Bluesleep.
endmenu
