#
# Amlogic mhu mailbox device configuration
#

menu "MESON MHU mailbox Support"

config AMLOGIC_MHU_MBOX
	tristate "MESON MHU Mailbox"
	default n
	select MAILBOX
	select ARM_SCPI_PROTOCOL
	help
		MESON MHU Mailbox driver.
		.
		.
		.

endmenu
