// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/input/rk-input.h>
#include <dt-bindings/display/drm_mipi_dsi.h>
#include <dt-bindings/display/rockchip_vop.h>
#include <dt-bindings/sensor-dev.h>
#include <dt-bindings/usb/pd.h>
#include "rk3576.dtsi"
#include "rk3576-khadas-edge-2l-camera.dtsi"
#include "rk3576-android.dtsi"
#include "rk3576-eink.dtsi"

/ {
	model = "Khadas Edge2L";
	compatible = "khadas,edge2l-ebook", "rockchip,rk3576";

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 1>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		home-key {
			label = "home";
			linux,code = <KEY_HOMEPAGE>;
			press-threshold-microvolt = <17000>;
		};
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";

		red_led {
			gpios = <&gpio2 RK_PC0 GPIO_ACTIVE_HIGH>;
			label = "red_led";
			linux,default-trigger = "off";
			default-state = "on";
		};

		green_led {
			gpios = <&gpio2 RK_PC6 GPIO_ACTIVE_HIGH>;
			label = "green_led";
			linux,default-trigger = "off";
			default-state = "on";
		};

		blue_led {
			gpios = <&gpio2 RK_PC2 GPIO_ACTIVE_HIGH>;
			label = "blue_led";
			linux,default-trigger = "default-on";
			default-state = "on";
		};
	};

	es8316_sound: es8316-sound {
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <512>;
		simple-audio-card,name = "rockchip,es8316-codec";
		simple-audio-card,dai-link@0 {
			format = "i2s";
			cpu {
				sound-dai = <&sai2>;
			};
			codec {
				sound-dai = <&es8316>;
			};
		};
	};

	bt_sco: bt-sco {
		status = "okay";
		compatible = "delta,dfbmcs320";
		#sound-dai-cells = <1>;
	};

	bt_sound: bt-sound {
		status = "okay";
		compatible = "simple-audio-card";
		simple-audio-card,format = "dsp_a";
		simple-audio-card,bitclock-inversion;
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,name = "rockchip,bt";
		simple-audio-card,cpu {
			sound-dai = <&sai4>;
		};
		simple-audio-card,codec {
			sound-dai = <&bt_sco 1>;
		};
	};

	khadas_wdt {
		compatible = "linux,wdt-khadas";
		status = "okay";
		hw_margin_ms = <500>;
		hw-gpios = <&gpio0 RK_PC3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&wdt_gpio>;
	};

	test-power {
		status = "okay";
	};

	vcc12v_dcin: vcc12v-dcin {
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc_sys: vcc5v0-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc5v0_device: vcc5v0-device {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_device";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc_1v8_s0: vcc-1v8-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8_s0";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&vcc_1v8_s3>;
	};

	vcc_3v3_s0: vcc-3v3-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_s0";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_3v3_s3>;
	};

	vcc_2v0_pldo_s3: vcc-2v0-pldo-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_2v0_pldo_s3";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <2000000>;
		regulator-max-microvolt = <2000000>;
		vin-supply = <&vcc_sys>;
	};

	vcc_1v1_nldo_s3: vcc-1v1-nldo-s3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v1_nldo_s3";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
		vin-supply = <&vcc_sys>;
	};

	vcc5v0_host: vcc5v0-host {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_host";
		regulator-boot-on;
		regulator-always-on;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio2 RK_PD3 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_device>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_host_pwren>;
	};

	vbus5v0_typec: vbus5v0-typec {
		compatible = "regulator-fixed";
		regulator-name = "vbus5v0_typec";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&gpio2 RK_PB6 GPIO_ACTIVE_HIGH>;
		vin-supply = <&vcc5v0_device>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_otg0_pwren>;
	};

	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		bt_port = "/dev/ttyS5";
		clocks = <&pt7c4363>;
		clock-names = "ext_clock";
		uart_rts_gpios = <&gpio4 RK_PA3 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart5m1_rtsn>;
		pinctrl-1 = <&uart5_gpios>;
		BT,reset_gpio    = <&gpio4 RK_PB2 GPIO_ACTIVE_HIGH>;
		BT,wake_gpio     = <&gpio0 RK_PA5 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio0 RK_PB1 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		wifi_chip_type = "ap6275p";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_irq>, <&wifi_poweren_gpio>;
		WIFI,host_wake_irq = <&gpio0 RK_PB0 GPIO_ACTIVE_HIGH>;
		WIFI,poweren_gpio = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&bus_a72 {
	bus-supply = <&vdd_logic_s0>;
	pvtm-supply = <&vdd_logic_s0>;
	status = "okay";
};

&combphy0_ps {
	status = "okay";
};

&combphy1_psu {
	status = "okay";
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_lit_s0>;
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_big_s0>;
};

&crypto {
	status = "okay";
};

&dp {
	status = "disabled";
};

&dp0_in_vp1 {
	status = "disabled";
};

&ebc_dev {
	pmic = <&tps65185>;
	status = "okay";
	/* ED060XCH */
	panel,width = <1448>;
	panel,height = <1072>;
	panel,vir_width = <1448>;
	panel,vir_height = <1072>;
	panel,sdck = <40000000>;
	panel,lsl = <18>;
	panel,lbl = <12>;
	panel,ldl = <362>;
	panel,lel = <40>;
	panel,gdck-sta = <84>;
	panel,lgonl = <288>;
	panel,fsl = <1>;
	panel,fbl = <4>;
	panel,fdl = <1072>;
	panel,fel = <12>;
	panel,mirror = <0>;
	panel,panel_16bit = <0>;
	panel,panel_color = <0>;
	panel,width-mm = <91>;
	panel,height-mm = <122>;
};

&i2c4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m2_xfer>;

	epd_gt9xx: epd-gt9xx@14 {
		compatible = "goodix,epd_gt9xx";
		reg = <0x14>;
		touch-gpio = <&gpio0 RK_PB4 IRQ_TYPE_LEVEL_LOW>;
		reset-gpio = <&gpio0 RK_PD0 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&epd_touch_gpio>;
		pinctrl-names = "default";
		max-x = <1072>;
		max-y = <1448>;
		tp-size = <911>;
		wakeup-source = <1>;
		status = "okay";
	};

	led-controller@36 {
		compatible = "ti,lm3630a";
		reg = <0x36>;
		enable-gpios = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
		pinctrl-0 = <&backlight_hwen_h>;
		pinctrl-names = "default";
		pwm-names = "lm3630a-pwm";
		pwms = <&pwm1_6ch_1 0 25000 0>;
		#address-cells = <1>;
		#size-cells = <0>;

		led@0 {
			reg = <0>;
			label = "backlight";
			default-brightness = <150>;
		};
	};
};

&i2c7 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c7m1_xfer>;

	tps65185: tps65185@68 {
		status = "okay";
		compatible = "ti,tps65185";
		reg = <0x68>;
		pinctrl-names = "default";
		pinctrl-0 = <&tps65185_gpio>;
		int-gpios = <&gpio0 RK_PD3 GPIO_ACTIVE_HIGH>;
		wakeup-gpios = <&gpio2 RK_PC5 GPIO_ACTIVE_HIGH>;
		vcomctl-gpios = <&gpio3 RK_PA7 GPIO_ACTIVE_HIGH>;
		poweren-gpios = <&gpio0 RK_PD1 GPIO_ACTIVE_HIGH>;
		powerup-gpios = <&gpio0 RK_PC4 GPIO_ACTIVE_HIGH>;
	};
};

&gpu {
	mali-supply = <&vdd_gpu_s0>;
	status = "okay";
};

&i2c2 {
	status = "okay";

	mcu: mcu@18 {
		compatible = "khadas-mcu";
		status = "okay";
		reg = <0x18>;
		fan,trig_temp_level0 = <50>;
		fan,trig_temp_level1 = <60>;
		fan,trig_temp_level2 = <65>;
		fan,trig_temp_level3 = <70>;
		fan,trig_temp_level4 = <75>;
		fan,trig_temp_level5 = <80>;
		hwver = "EDGE2L.V11";

	};

	pt7c4363: pt7c4363@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "pt7c4363";
		wakeup-source;
	};

	usbc0: fusb302@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupt-parent = <&gpio1>;
		interrupts = <RK_PC2 IRQ_TYPE_LEVEL_LOW>;
		int-n-gpios = <&gpio1 RK_PC2 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc0_int>;
		vbus-supply = <&vbus5v0_typec>;
		status = "okay";

		port {
			usbc0_role_sw: endpoint {
				remote-endpoint = <&usb_drd0_role_switch>;
			};
		};

		usb_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "sink";
			op-sink-microwatt = <1000000>;
			sink-pdos =
				<PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)
				PDO_FIXED(9000, 3000, PDO_FIXED_USB_COMM)
				PDO_FIXED(12000, 3000, PDO_FIXED_USB_COMM)>;
			source-pdos =
				<PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;

			altmodes {
				#address-cells = <1>;
				#size-cells = <0>;

				altmode@0 {
					reg = <0>;
					svid = <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usbc0_orien_sw: endpoint {
						remote-endpoint = <&usbdp_phy_orientation_switch>;
					};
				};

				port@1 {
					reg = <1>;
					dp_altmode_mux: endpoint {
						remote-endpoint = <&usbdp_phy_dp_altmode_mux>;
					};
				};
			};
		};
	};
};

&i2c6 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c6m2_xfer>;

	icm42607_acc: icm_acc@68 {
		status = "okay";
		compatible = "icm42607_acc";
		reg = <0x68>;
		irq-gpio = <&gpio2 RK_PB0 IRQ_TYPE_EDGE_RISING>;
		irq_enable = <0>;
		poll_delay_ms = <30>;
		type = <SENSOR_TYPE_ACCEL>;
		layout = <4>;
	};

	icm42607_gyro: icm_gyro@68 {
		status = "okay";
		compatible = "icm42607_gyro";
		reg = <0x68>;
		poll_delay_ms = <30>;
		type = <SENSOR_TYPE_GYROSCOPE>;
		layout = <4>;
	};

	es8316: es8316@10 {
		status = "okay";
		#sound-dai-cells = <0>;
		compatible = "everest,es8316";
		reg = <0x10>;
		clocks = <&mclkout_sai2>;
		clock-names = "mclk";
		assigned-clocks = <&mclkout_sai2>;
		assigned-clock-rates = <12288000>;
		pinctrl-0 = <&sai2m0_mclk>,<&hp_det>,<&spk_con>;
		pinctrl-names = "default","hp_det","spk_con";
		spk-con-gpio = <&gpio3 RK_PA2 GPIO_ACTIVE_HIGH>;
		hp-det-gpio = <&gpio2 RK_PD6 GPIO_ACTIVE_LOW>;
	};
};

&pcie0 {
	reset-gpios = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
	rockchip,skip-scan-in-resume;
	pinctrl-names = "default";
	pinctrl-0 = <&pcie0_poweren_gpio>;
	status = "okay";
};


&sai2 {
	rockchip,always-on;
	status = "okay";
};

&iep {
	status = "okay";
};

&iep_mmu {
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpege {
	status = "okay";
};

&jpeg_mmu {
	status = "okay";
};

&mipidcphy0 {
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&pinctrl {
	backlight {
		backlight_hwen_h: backlight-hwen-h {
			rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	tp {
		epd_touch_gpio: ebc-touch-gpio {
			rockchip,pins =
				<0 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none_smt>,
				<0 RK_PD0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	audio {
		hp_det: hp-det {
			rockchip,pins = <2 RK_PD6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		spk_con: spk-con {
			rockchip,pins = <3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	usb {
		usb_host_pwren: usb-host-pwren {
			rockchip,pins = <2 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usb_otg0_pwren: usb-otg0-pwren {
			rockchip,pins = <2 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		usbc0_int: usbc0-int {
			rockchip,pins = <1 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	tps_pmic {
		tps65185_gpio: tps65185-gpio {
			rockchip,pins =
				<0 RK_PD1 RK_FUNC_GPIO &pcfg_pull_up>,
				<0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>,
				<0 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	wireless-bluetooth {
		uart5_gpios: uart5-gpios {
			rockchip,pins = <4 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		wifi_poweren_gpio: wifi-poweren-gpio {
			rockchip,pins = <4 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		pcie0_poweren_gpio: pcie0-poweren-gpio {
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	wdt {
		wdt_gpio: wdt-gpio {
			rockchip,pins = <0 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&pwm1_6ch_1 {
	status = "okay";
	pinctrl-0 = <&pwm1m0_ch1>;
};

&rga2_core0 {
	status = "okay";
};

&rga2_core0_mmu {
	status = "okay";
};

&rga2_core1 {
	status = "okay";
};

&rga2_core1_mmu {
	status = "okay";
};

&rknpu {
	rknpu-supply = <&vdd_npu_s0>;
	status = "okay";
};

&rknpu_mmu {
	status = "okay";
};

&rkvenc_ccu {
	status = "okay";
};

&rkvenc0 {
	status = "okay";
};

&rkvenc0_mmu {
	status = "okay";
};

&rkvenc1 {
	status = "okay";
};

&rkvenc1_mmu {
	status = "okay";

};

&rkvdec {
	status = "okay";
};

&rkvdec_mmu {
	status = "okay";
};

&saradc {
	status = "okay";
	vref-supply = <&vcca_1v8_s0>;
};

&sdhci {
	bus-width = <8>;
	no-sdio;
	no-sd;
	non-removable;
	max-frequency = <200000000>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	full-pwr-cycle-in-suspend;
	status = "okay";
};

&sai4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&sai4m0_lrck
		&sai4m0_sclk
		&sai4m0_sdi
		&sai4m0_sdo>;
};

&sdmmc {
	max-frequency = <200000000>;
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	sd-uhs-sdr104;
	vqmmc-supply = <&vccio_sd_s0>;
	status = "okay";
};

&sfc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&fspi1m1_pins>;
	status = "okay";
};

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi1m0_csn0 &spi1m0_pins>;
	spidev@1 {
		compatible = "rockchip,spidev";
		reg = <1>;
		spi-max-frequency = <100000000>;
		status = "okay";
	};
};

&tsadc {
	status = "okay";
};

&spdif_tx3 {
	status = "okay";
};

&uart5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart5m1_xfer &uart5m1_ctsn>;
};

&ufs {
	status = "disabled";
};

&u2phy0 {
	status = "okay";
};

&u2phy1 {
	status = "okay";
};

&u2phy0_otg {
	status = "okay";
	rockchip,typec-vbus-det;
};

&u2phy1_otg {
	phy-supply = <&vcc5v0_host>;
	status = "okay";
};

&usbdp_phy {
	status = "okay";
	orientation-switch;
	svid = <0xff01>;
	sbu1-dc-gpios = <&gpio4 RK_PC4 GPIO_ACTIVE_HIGH>;
	sbu2-dc-gpios = <&gpio4 RK_PC5 GPIO_ACTIVE_HIGH>;

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		usbdp_phy_orientation_switch: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&usbc0_orien_sw>;
		};

		usbdp_phy_dp_altmode_mux: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&dp_altmode_mux>;
		};
	};
};

&usbdp_phy_dp {
	status = "okay";
};

&usbdp_phy_u3 {
	status = "okay";
};

&usb_drd0_dwc3 {
	status = "okay";
	dr_mode = "otg";
	usb-role-switch;
	port {
		usb_drd0_role_switch: endpoint {
			remote-endpoint = <&usbc0_role_sw>;
		};
	};
};

&usb_drd1_dwc3 {
	dr_mode = "host";
	status = "okay";
};

&vdpp {
	status = "okay";
};
