menu  "I2C Hardware Bus support"

config I2C_AML
	boolean "Amlogic I2C Driver"
	select I2C
	select I2C_CHARDEV
	select I2C_ALGOBIT
	help
		Yet another Amlogic I2C Driver, normal master

config I2C_SLAVE_AML
	boolean "Amlogic I2C Slave Driver"
	help
		Yet  Amlogic I2C Slave Driver

config I2C_SW_AML
	boolean "Amlogic software I2C Driver"
	select I2C
	select I2C_CHARDEV
	select I2C_ALGOBIT
	help
		Amlogic software I2C Driver, normal gpio simulate I2C, bit algo

config BCM2079X_I2C
	boolean "BCM2079X_I2C support"
	depends on I2C_AML
	help
		If you say yes here you get support for BCM2079x_I2C support

endmenu

