#
# PWM configuration
#


menuconfig AMLOGIC_PWM
	boolean "Amlogic PWM driver"
	select PWM
	select PWM_SYSFS
	default n
	help
	  say y to enable Amlogic PWM driver.

if	AMLOGIC_PWM
config PWM_MESON
	bool "Amlogic GXBB | GXTVBB | TXL PWM driver"
	default n
	help
	  say y to enable Amlogic PWM driver.
endif
