#
# VFM configuration
#

config AMLOGIC_MEDIA_VFM
	bool "Amlogic VFM Support"
	default n
	help
		Select to enable VFM support

config AMLOGIC_MEDIA_VFM_GRABBER
	bool "Amlogic VFM Grabber Support"
	default n
	help
		Select to enable VFM Grabber support
