# SPDX-License-Identifier: GPL-2.0-only
#
# Rockchip Remote Serializer devices
#
config VIDEO_RK_SER_RKX11X
	tristate "Rockchip remote serializer rkx11x support"
	depends on VIDEO_RKSERDES
	help
	  This driver supports the rkx11x serializer.

	  To compile this driver as a module, choose M here: the
	  module will be called rkx11x.
